pipeline/04-Blob-A-Pre-Process_JSON.json
{
	"name": "04-Blob-A-Pre-Process_JSON",
	"properties": {
		"activities": [
			{
				"name": "Set-ClusterType",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ClusterType",
					"value": {
						"value": "@toLower(last(split(pipeline().parameters.TaskDetails.Processor,'|')))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Switch-ClusterType",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Set-ClusterType",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@variables('ClusterType')",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "interactive",
							"activities": [
								{
									"name": "Notebook-preprocess-bods-json Interactive",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.02:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": {
											"value": "@variables('NoteBookURL')",
											"type": "Expression"
										},
										"baseParameters": {
											"file_object": {
												"value": "@pipeline().parameters.SourceFileName",
												"type": "Expression"
											},
											"source_param": {
												"value": "@string(pipeline().parameters.TaskDetails)",
												"type": "Expression"
											},
											"source_container": {
												"value": "@pipeline().parameters.SourceContainer",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS-AzureDatabricks_DefinedCluster",
										"type": "LinkedServiceReference",
										"parameters": {
											"kvSecret": {
												"value": "@split(pipeline().parameters.TaskDetails.Processor,'|')[0]",
												"type": "Expression"
											},
											"clusterId": {
												"value": "@split(pipeline().parameters.TaskDetails.Processor,'|')[1]",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "job-cluster",
							"activities": [
								{
									"name": "Notebook-preprocess-bods-json JobCluster",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.02:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": {
											"value": "@variables('NoteBookURL')",
											"type": "Expression"
										},
										"baseParameters": {
											"file_object": {
												"value": "@pipeline().parameters.SourceFileName",
												"type": "Expression"
											},
											"source_param": {
												"value": "@string(pipeline().parameters.TaskDetails)",
												"type": "Expression"
											},
											"source_container": {
												"value": "@pipeline().parameters.SourceContainer",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS-AzureDatabricks_JobCluster",
										"type": "LinkedServiceReference",
										"parameters": {
											"kvSecret": {
												"value": "@split(pipeline().parameters.TaskDetails.Processor,'|')[0]",
												"type": "Expression"
											},
											"DataBricksClusterType": {
												"value": "@split(pipeline().parameters.TaskDetails.Processor,'|')[2]",
												"type": "Expression"
											},
											"DataBricksClusterVersion": {
												"value": "@split(pipeline().parameters.TaskDetails.Processor,'|')[3]",
												"type": "Expression"
											},
											"DataBricksWorkerNodes": {
												"value": "@split(pipeline().parameters.TaskDetails.Processor,'|')[4]",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "instance-pool",
							"activities": [
								{
									"name": "Notebook-preprocess-bods-json InstancePool",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.02:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": {
											"value": "@variables('NoteBookURL')",
											"type": "Expression"
										},
										"baseParameters": {
											"file_object": {
												"value": "@pipeline().parameters.SourceFileName",
												"type": "Expression"
											},
											"source_param": {
												"value": "@string(pipeline().parameters.TaskDetails)",
												"type": "Expression"
											},
											"source_container": {
												"value": "@pipeline().parameters.SourceContainer",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_AzureDatabricks_InstancePool",
										"type": "LinkedServiceReference",
										"parameters": {
											"kvSecret": "databricks-token",
											"clusterId": "0121-060302-next337-pool-owblzzx4",
											"DatabricksClusterVersion": "9.1.x-scala2.12"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"BatchLogID": {
				"type": "int",
				"defaultValue": 1
			},
			"TaskExecutionLogId": {
				"type": "int",
				"defaultValue": 1
			},
			"TaskDetails": {
				"type": "object"
			},
			"SourceContainer": {
				"type": "string",
				"defaultValue": "test"
			},
			"ProjectRunID": {
				"type": "string"
			},
			"SourceFileName": {
				"type": "string",
				"defaultValue": "0UC_DEVICEH_ATTR_20211025142337.json"
			}
		},
		"variables": {
			"TargetTableRecordCount": {
				"type": "String"
			},
			"ClusterType": {
				"type": "String",
				"defaultValue": "interactive"
			},
			"NoteBookURL": {
				"type": "String",
				"defaultValue": "/build/raw/preprocess-bods-json"
			},
			"DataFileRecordCount": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Pre-Process"
		},
		"annotations": [],
		"lastPublishTime": "2022-02-13T23:11:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}