pipeline/04-LakeLanding-FlatFile-A-Source-Copy.json
{
	"name": "04-LakeLanding-FlatFile-A-Source-Copy",
	"properties": {
		"activities": [
			{
				"name": "Set-Source-Container",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "SourceContainer",
					"value": {
						"value": "@toLower(pipeline().parameters.TaskDetails.SourceGroup)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set-Source-Filename",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "SourceFileName",
					"value": {
						"value": "@concat(last(split(pipeline().parameters.TaskDetails.SourceLocation,'/')),'.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Full File Name",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[CTL].[GetStorageFileName]",
						"storedProcedureParameters": {
							"DeltaExtract": {
								"type": "Boolean",
								"value": {
									"value": "@pipeline().parameters.TaskDetails.DeltaExtract",
									"type": "Expression"
								}
							},
							"FileName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.TaskDetails.SourceLocation",
									"type": "Expression"
								}
							},
							"FolderName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.TaskDetails.TargetLocation",
									"type": "Expression"
								}
							},
							"Grain": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.TaskDetails.ObjectGrain",
									"type": "Expression"
								}
							},
							"Compressed": {
								"type": "Boolean",
								"value": {
									"value": "true",
									"type": "Expression"
								}
							},
							"TargetType": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.TaskDetails.TargetType",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlDatabase_Ctrldb",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Get Metadata",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Set-Source-Container",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set-Source-Filename",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Full File Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SRC_BLOB_CSV_NO_QUOTE_CHAR",
						"type": "DatasetReference",
						"parameters": {
							"BlobContainer": {
								"value": "@variables('SourceContainer')",
								"type": "Expression"
							},
							"BlobName": {
								"value": "@variables('SourceFileName')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If File Exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Metadata').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Log Failure DL Raw - File Not Exist",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "[CTL].[UpdateTaskLog]",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"BatchLogId": {
										"value": {
											"value": "@pipeline().parameters.BatchLogId",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"ErrorMessage": {
										"value": "Error Occurred during Blob Source Load",
										"type": "String"
									},
									"ExecutionLogId": {
										"value": {
											"value": "@pipeline().parameters.TaskExecutionLogId",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"Output": {
										"value": null
									},
									"Status": {
										"value": "Failure",
										"type": "String"
									},
									"TaskId": {
										"value": {
											"value": "@pipeline().parameters.TaskDetails.TaskId",
											"type": "Expression"
										},
										"type": "Int64"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS-AzureSqlDatabase_Ctrldb",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Log Failure DL Raw",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy File to Raw Zone",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "[CTL].[UpdateTaskLog]",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"BatchLogId": {
										"value": {
											"value": "@pipeline().parameters.BatchLogId",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"ErrorMessage": {
										"value": "Error Occurred during Blob Source Load",
										"type": "String"
									},
									"ExecutionLogId": {
										"value": {
											"value": "@pipeline().parameters.TaskExecutionLogId",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"Output": {
										"value": null
									},
									"Status": {
										"value": "Failure",
										"type": "String"
									},
									"TaskId": {
										"value": {
											"value": "@pipeline().parameters.TaskDetails.TaskId",
											"type": "Expression"
										},
										"type": "Int64"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS-AzureSqlDatabase_Ctrldb",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Log Success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy File to Raw Zone",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "[CTL].[UpdateTaskLog]",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"BatchLogId": {
										"value": {
											"value": "@pipeline().parameters.BatchLogId",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"ErrorMessage": {
										"value": null,
										"type": "String"
									},
									"ExecutionLogId": {
										"value": {
											"value": "@pipeline().parameters.TaskExecutionLogId",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"Output": {
										"value": {
											"value": "@pipeline().parameters.TaskDetails.LastLoadedFile",
											"type": "Expression"
										},
										"type": "String"
									},
									"Status": {
										"value": "Success",
										"type": "String"
									},
									"TaskId": {
										"value": {
											"value": "@pipeline().parameters.TaskDetails.TaskId",
											"type": "Expression"
										},
										"type": "Int64"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS-AzureSqlDatabase_Ctrldb",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Copy File to Raw Zone",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SRC_BLOB_CSV_NO_QUOTE_CHAR",
									"type": "DatasetReference",
									"parameters": {
										"BlobContainer": {
											"value": "@variables('SourceContainer')",
											"type": "Expression"
										},
										"BlobName": {
											"value": "@variables('SourceFileName')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DST_RAW_ADLS_CSV",
									"type": "DatasetReference",
									"parameters": {
										"BlobPath": {
											"value": "@activity('Get Full File Name').output.firstrow.StorageFolder",
											"type": "Expression"
										},
										"BlobName": {
											"value": "@activity('Get Full File Name').output.firstrow.StorageFile",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Execute-DP-Load-Raw-to-Delta-Table",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "SP-Record-Manifest",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "04-DL-Load-Raw-to-Delta-Table",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"BatchLogID": {
										"value": "@pipeline().parameters.BatchLogId",
										"type": "Expression"
									},
									"TaskExecutionLogId": {
										"value": "@pipeline().parameters.TaskExecutionLogId",
										"type": "Expression"
									},
									"TaskDetails": {
										"value": "@pipeline().parameters.TaskDetails",
										"type": "Expression"
									},
									"TargetBLOBFolder": {
										"value": "@activity('Get Full File Name').output.firstrow.StorageFolder",
										"type": "Expression"
									},
									"TargetBLOBName": {
										"value": "@activity('Get Full File Name').output.firstrow.StorageFile",
										"type": "Expression"
									},
									"ProjectRunID": {
										"value": "@pipeline().parameters.ProjectRunID",
										"type": "Expression"
									},
									"SourceFileName": {
										"value": "@variables('SourceFileName')",
										"type": "Expression"
									},
									"SourceFileDateTimeStamp": "1"
								}
							}
						},
						{
							"name": "Delete file from source",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy File to Archive",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "SRC_RAW_LANDING_ADLS_CSV",
									"type": "DatasetReference",
									"parameters": {
										"BlobPath": {
											"value": "@variables('SourceContainer')",
											"type": "Expression"
										},
										"BlobName": {
											"value": "@variables('SourceFileName')",
											"type": "Expression"
										}
									}
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "LS_AzureDatalake",
										"type": "LinkedServiceReference"
									},
									"path": "assurance"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "Copy File to Archive",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Execute-DP-Load-Raw-to-Delta-Table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SRC_BLOB_CSV_NO_QUOTE_CHAR",
									"type": "DatasetReference",
									"parameters": {
										"BlobContainer": {
											"value": "@variables('SourceContainer')",
											"type": "Expression"
										},
										"BlobName": {
											"value": "@variables('SourceFileName')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SRC_RAW_LANDING_ADLS_CSV",
									"type": "DatasetReference",
									"parameters": {
										"BlobPath": {
											"value": "@concat(variables('SourceContainer'),'archive/')",
											"type": "Expression"
										},
										"BlobName": {
											"value": "@variables('SourceFileName')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SP-Record-Manifest",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Log Success",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[CTL].[CreateManifestRecord]",
								"storedProcedureParameters": {
									"BatchExecutionLogID": {
										"value": {
											"value": "@pipeline().parameters.BatchLogId",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"Container": {
										"value": "raw",
										"type": "String"
									},
									"EndCounter": {
										"value": "0",
										"type": "String"
									},
									"FileName": {
										"value": {
											"value": "@activity('Get Full File Name').output.firstrow.StorageFile",
											"type": "Expression"
										},
										"type": "String"
									},
									"FolderName": {
										"value": {
											"value": "@activity('Get Full File Name').output.firstrow.StorageFolder",
											"type": "Expression"
										},
										"type": "String"
									},
									"Records": {
										"value": {
											"value": "@string(activity('Copy File to Raw Zone').output.dataWritten)",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"SourceObject": {
										"value": {
											"value": "@pipeline().parameters.TaskDetails.SourceName",
											"type": "Expression"
										},
										"type": "String"
									},
									"StartCounter": {
										"value": "0",
										"type": "String"
									},
									"TaskExecutionLogID": {
										"value": {
											"value": "@pipeline().parameters.TaskExecutionLogId",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"DeltaColumn": {
										"value": null,
										"type": "String"
									},
									"PipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceFileName": {
										"value": {
											"value": "@variables('SourceFileName')",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceFileDateStamp": {
										"value": "1",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS-AzureSqlDatabase_Ctrldb",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"TaskDetails": {
				"type": "object"
			},
			"BatchLogId": {
				"type": "int"
			},
			"TaskExecutionLogId": {
				"type": "int"
			},
			"ProjectRunID": {
				"type": "string"
			},
			"TargetBLOBFolder": {
				"type": "string"
			},
			"TargetBLOBName": {
				"type": "string"
			}
		},
		"variables": {
			"SourceContainer": {
				"type": "String"
			},
			"SourceFileName": {
				"type": "String"
			},
			"OutputFileName": {
				"type": "String"
			},
			"DeltaSQL": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Blob"
		},
		"annotations": [],
		"lastPublishTime": "2022-02-13T23:11:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}