pipeline/Technical-Reconciliation.json
{
	"name": "Technical-Reconciliation",
	"properties": {
		"activities": [
			{
				"name": "Notebook-GetDeltaTableRecordCount",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "@variables('NotbookURL')",
						"type": "Expression"
					},
					"baseParameters": {
						"target_table": {
							"value": "@pipeline().parameters.TaskDetails.TargetName",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS-AzureDatabricks_DefinedCluster",
					"type": "LinkedServiceReference",
					"parameters": {
						"kvSecret": {
							"value": "@split(pipeline().parameters.TaskDetails.Processor,'|')[0]",
							"type": "Expression"
						},
						"clusterId": {
							"value": "@split(pipeline().parameters.TaskDetails.Processor,'|')[1]",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SP-CreateTechRecRawToCleansed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Notebook-GetDeltaTableRecordCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "CTL.CreateTechRecRawToCleansed",
					"storedProcedureParameters": {
						"BatchExecutionId": {
							"value": {
								"value": "@pipeline().parameters.BatchLogId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"TaskExecutionLogId": {
							"value": {
								"value": "@pipeline().parameters.TaskExecutionLogId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"TaskId": {
							"value": {
								"value": "@pipeline().parameters.TaskDetails.TaskId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"SourceObject": {
							"value": {
								"value": "@pipeline().parameters.TaskDetails.SourceName",
								"type": "Expression"
							},
							"type": "String"
						},
						"TargetName": {
							"value": {
								"value": "@pipeline().parameters.TaskDetails.TargetName",
								"type": "Expression"
							},
							"type": "String"
						},
						"TotalNoRecords": {
							"value": {
								"value": "@activity('Notebook-GetDeltaTableRecordCount').output.runOutput",
								"type": "Expression"
							},
							"type": "Int64"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS-AzureSqlDatabase_Ctrldb",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"TaskDetails": {
				"type": "object"
			},
			"BatchLogId": {
				"type": "int"
			},
			"TaskExecutionLogId": {
				"type": "int"
			}
		},
		"variables": {
			"NotbookURL": {
				"type": "String",
				"defaultValue": "/build/cleansed/utility/getDeltaTableRecordCount"
			}
		},
		"folder": {
			"name": "Validation"
		},
		"annotations": [],
		"lastPublishTime": "2022-02-13T23:11:31Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}