pipeline/util-datalake-move-file.json
{
	"name": "util-datalake-move-file",
	"properties": {
		"activities": [
			{
				"name": "Get File Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "BINARY_ADLS",
						"type": "DatasetReference",
						"parameters": {
							"File": {
								"value": "@pipeline().parameters.SourceFile",
								"type": "Expression"
							},
							"Container": {
								"value": "@pipeline().parameters.SourceContainer",
								"type": "Expression"
							},
							"Folder": {
								"value": "@pipeline().parameters.SourceFolder",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "If-File-Exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get File Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get File Metadata').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Move File",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"deleteFilesAfterCompletion": {
											"value": "@pipeline().parameters.DeleteFile",
											"type": "Expression"
										}
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "BINARY_ADLS",
									"type": "DatasetReference",
									"parameters": {
										"File": {
											"value": "@pipeline().parameters.SourceFile",
											"type": "Expression"
										},
										"Container": {
											"value": "@pipeline().parameters.SourceContainer",
											"type": "Expression"
										},
										"Folder": {
											"value": "@pipeline().parameters.SourceFolder",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "BINARY_ADLS",
									"type": "DatasetReference",
									"parameters": {
										"File": {
											"value": "@pipeline().parameters.TargetFile",
											"type": "Expression"
										},
										"Container": {
											"value": "@pipeline().parameters.TargetContainer",
											"type": "Expression"
										},
										"Folder": {
											"value": "@pipeline().parameters.TargetFolder",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "If-DeleteFile",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If-File-Exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().parameters.DeleteFile",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Delete-File",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "BINARY_ADLS",
									"type": "DatasetReference",
									"parameters": {
										"File": {
											"value": "@pipeline().parameters.SourceFile",
											"type": "Expression"
										},
										"Container": {
											"value": "@pipeline().parameters.SourceContainer",
											"type": "Expression"
										},
										"Folder": {
											"value": "@pipeline().parameters.SourceFolder",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SourceFolder": {
				"type": "string"
			},
			"SourceFile": {
				"type": "string"
			},
			"SourceContainer": {
				"type": "string"
			},
			"TargetContainer": {
				"type": "string"
			},
			"DeleteFile": {
				"type": "bool",
				"defaultValue": true
			},
			"TargetFolder": {
				"type": "string"
			},
			"TargetFile": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Utility"
		},
		"annotations": [],
		"lastPublishTime": "2022-02-13T23:11:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}