adf-swcnonprod01-daf-dev-01/PartialArmTemplates/ArmTemplate_7_22_2021_11_26_56.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-swcnonprod01-daf-dev-01"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/04-Blob-Json-A-Source-Copy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Clone of 05-DL-Load-Raw-to-Trusted",
				"activities": [
					{
						"name": "Log Failure DL Raw",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy-Blob-to-DataLake-Raw",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "[[CTL].[UpdateTaskLog]",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"BatchLogId": {
									"value": {
										"value": "@pipeline().parameters.BatchLogId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"ErrorMessage": {
									"value": "Error Occurred during Blob Source Load",
									"type": "String"
								},
								"ExecutionLogId": {
									"value": {
										"value": "@pipeline().parameters.TaskExecutionLogId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"Output": {
									"value": null
								},
								"Status": {
									"value": "Failure",
									"type": "String"
								},
								"TaskId": {
									"value": {
										"value": "@pipeline().parameters.TaskDetails.TaskId",
										"type": "Expression"
									},
									"type": "Int64"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS-AzureSqlDatabase_Ctrldb",
							"type": "LinkedServiceReference",
							"parameters": {
								"kvSecret": "daf-sql-controldb-connectionstring"
							}
						}
					},
					{
						"name": "Log Success",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy-Blob-to-DataLake-Raw",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "[[CTL].[UpdateTaskLog]",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"BatchLogId": {
									"value": {
										"value": "@pipeline().parameters.BatchLogId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"ExecutionLogId": {
									"value": {
										"value": "@pipeline().parameters.TaskExecutionLogId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"Output": {
									"value": {
										"value": "@pipeline().parameters.TaskDetails.LastLoadedFile",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "Success",
									"type": "String"
								},
								"TaskId": {
									"value": {
										"value": "@pipeline().parameters.TaskDetails.TaskId",
										"type": "Expression"
									},
									"type": "Int64"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS-AzureSqlDatabase_Ctrldb",
							"type": "LinkedServiceReference",
							"parameters": {
								"kvSecret": "daf-sql-controldb-connectionstring"
							}
						}
					},
					{
						"name": "Set-Source-Container",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "SourceContainer",
							"value": {
								"value": "@toLower(first(split(pipeline().parameters.TaskDetails.SourceLocation,'/')))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set-Source-Filename",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "SourceFileName",
							"value": {
								"value": "@last(split(pipeline().parameters.TaskDetails.SourceLocation,'/'))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy-Blob-to-DataLake-Raw",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Delete Manifest file",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@concat(first(split(variables('SourceFileName'),'.')),'_*')",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SRC_BLOB_JSON",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "RAW_ADLS_JSON_v2",
								"type": "DatasetReference",
								"parameters": {
									"BlobPath": {
										"value": "@activity('Get Full File Name').output.firstrow.StorageFolder",
										"type": "Expression"
									},
									"BlobName": {
										"value": "@activity('Get Full File Name').output.firstrow.StorageFile",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Get Full File Name",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[CTL].[GetStorageFileName]",
								"storedProcedureParameters": {
									"DeltaExtract": {
										"type": "Boolean",
										"value": {
											"value": "@pipeline().parameters.TaskDetails.DeltaExtract",
											"type": "Expression"
										}
									},
									"FileName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.TaskDetails.SourceLocation",
											"type": "Expression"
										}
									},
									"FolderName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.TaskDetails.TargetLocation",
											"type": "Expression"
										}
									},
									"Grain": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.TaskDetails.ObjectGrain",
											"type": "Expression"
										}
									},
									"Compressed": {
										"type": "Boolean",
										"value": {
											"value": "true",
											"type": "Expression"
										}
									},
									"TargetType": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.TaskDetails.TargetType",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlDatabase_Ctrldb",
								"type": "DatasetReference"
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Copy Manifest File to Archive",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set-Source-Container",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set-Source-Filename",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Get Full File Name",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@concat(first(split(variables('SourceFileName'),'.')),'_MANIFEST_*')",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SRC_BLOB_JSON",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "ARCHIVE_BLOB_JSON",
								"type": "DatasetReference",
								"parameters": {
									"BlobContainer": {
										"value": "@concat('archive/', activity('Get Full File Name').output.firstrow.StorageFolder)",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Delete Manifest file",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Copy Manifest File to Archive",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "SRC_BLOB_JSON",
								"type": "DatasetReference"
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "LS_AzureDatalake",
									"type": "LinkedServiceReference"
								},
								"path": "assurance"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"wildcardFileName": {
									"value": "@{concat(first(split(variables('SourceFileName'),'.')),'_MANIFEST_*')}",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "If File Was Copied",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Log Success",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(activity('Copy-Blob-to-DataLake-Raw').output.filesWritten, 0)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Execute-DP-Load-Raw-to-Delta-Table",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "SP-Create-Manifest",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "04-DL-Load-Raw-to-Delta-Table",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"BatchLogID": {
												"value": "@pipeline().parameters.BatchLogId",
												"type": "Expression"
											},
											"TaskExecutionLogId": {
												"value": "@pipeline().parameters.TaskExecutionLogId",
												"type": "Expression"
											},
											"TaskDetails": {
												"value": "@pipeline().parameters.TaskDetails",
												"type": "Expression"
											},
											"TargetBLOBFolder": {
												"value": "@activity('Get Full File Name').output.firstrow.StorageFolder",
												"type": "Expression"
											},
											"TargetBLOBName": {
												"value": "@activity('Get Full File Name').output.firstrow.StorageFile",
												"type": "Expression"
											},
											"ProjectRunID": {
												"value": "@pipeline().parameters.ProjectRunID",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Copy Blob File to ArchiveContainer",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Execute-DP-Load-Raw-to-Delta-Table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFileName": {
													"value": "@concat(first(split(variables('SourceFileName'),'.')),'_*')",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "SRC_BLOB_JSON",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "ARCHIVE_BLOB_JSON",
											"type": "DatasetReference",
											"parameters": {
												"BlobContainer": {
													"value": "@concat('archive/', activity('Get Full File Name').output.firstrow.StorageFolder)",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Delete File from LandingBlob",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy Blob File to ArchiveContainer",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "SRC_BLOB_JSON",
											"type": "DatasetReference"
										},
										"logStorageSettings": {
											"linkedServiceName": {
												"referenceName": "LS_AzureDatalake",
												"type": "LinkedServiceReference"
											},
											"path": "assurance"
										},
										"enableLogging": true,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"wildcardFileName": {
												"value": "@{concat(first(split(variables('SourceFileName'),'.')),'_*')}",
												"type": "Expression"
											},
											"enablePartitionDiscovery": false
										}
									}
								},
								{
									"name": "SP-Create-Manifest",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[CTL].[CreateManifestRecord]",
										"storedProcedureParameters": {
											"BatchExecutionLogID": {
												"value": {
													"value": "@pipeline().parameters.BatchLogId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Container": {
												"value": "raw",
												"type": "String"
											},
											"EndCounter": {
												"value": "0",
												"type": "String"
											},
											"FileName": {
												"value": {
													"value": "@activity('Get Full File Name').output.firstrow.StorageFile",
													"type": "Expression"
												},
												"type": "String"
											},
											"FolderName": {
												"value": {
													"value": "@activity('Get Full File Name').output.firstrow.StorageFolder",
													"type": "Expression"
												},
												"type": "String"
											},
											"Records": {
												"value": {
													"value": "@activity('Copy-Blob-to-DataLake-Raw').output.Fileswritten",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"SourceObject": {
												"value": {
													"value": "@pipeline().parameters.TaskDetails.SourceName",
													"type": "Expression"
												},
												"type": "String"
											},
											"StartCounter": {
												"value": "0",
												"type": "String"
											},
											"TaskExecutionLogID": {
												"value": {
													"value": "@pipeline().parameters.TaskExecutionLogId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"DeltaColumn": {
												"value": {
													"value": "@pipeline().parameters.TaskDetails.WatermarkColumn",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineRunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS-AzureSqlDatabase_Ctrldb",
										"type": "LinkedServiceReference",
										"parameters": {
											"kvSecret": "daf-sql-controldb-connectionstring"
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"TaskDetails": {
						"type": "object"
					},
					"BatchLogId": {
						"type": "int"
					},
					"TaskExecutionLogId": {
						"type": "int"
					},
					"ProjectRunID": {
						"type": "string"
					},
					"TargetBLOBFolder": {
						"type": "string"
					},
					"TargetBLOBName": {
						"type": "string"
					},
					"StartCounter": {
						"type": "string"
					},
					"EndCounter": {
						"type": "string"
					},
					"ValidationDetails": {
						"type": "string"
					}
				},
				"variables": {
					"SourceContainer": {
						"type": "String"
					},
					"SourceFileName": {
						"type": "String"
					},
					"OutputFileName": {
						"type": "String"
					},
					"DeltaSQL": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Blob"
				},
				"annotations": [],
				"lastPublishTime": "2021-06-30T08:46:15Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/04-DL-Load-Raw-to-Delta-Table')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/04-DL-Load-Raw-to-Delta-Table')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set-ClusterType",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "ClusterType",
							"value": {
								"value": "@toLower(last(split(pipeline().parameters.TaskDetails.Processor,'|')))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "If-ClusterType",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Set-ClusterType",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('ClusterType'), 'interactive')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Notebook-Delta-Table-Job",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": {
											"value": "@variables('NoteBookURL')",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "LS-AzureDatabricks_JobCluster",
										"type": "LinkedServiceReference",
										"parameters": {
											"kvSecret": {
												"value": "@split(pipeline().parameters.TaskDetails.Processor,'|')[0]",
												"type": "Expression"
											},
											"DataBricksClusterType": {
												"value": "@split(pipeline().parameters.TaskDetails.Processor,'|')[2]",
												"type": "Expression"
											},
											"DataBricksClusterVersion": {
												"value": "@split(pipeline().parameters.TaskDetails.Processor,'|')[3]",
												"type": "Expression"
											},
											"DataBricksWorkerNodes": {
												"value": "@split(pipeline().parameters.TaskDetails.Processor,'|')[4]",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Set-ReturnValue-Job",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Notebook-Delta-Table-Job",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "ReturnValue",
										"value": {
											"value": "@string(activity('Notebook-Delta-Table-Job').output.runOutput)",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Notebook-Delta-Table-Interactive",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": {
											"value": "@variables('NoteBookURL')",
											"type": "Expression"
										},
										"baseParameters": {
											"file_object": {
												"value": "@concat(pipeline().parameters.TargetBLOBFolder,pipeline().parameters.TargetBLOBName)",
												"type": "Expression"
											},
											"source_param": {
												"value": "@string(pipeline().parameters.TaskDetails)",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS-AzureDatabricks_DefinedCluster",
										"type": "LinkedServiceReference",
										"parameters": {
											"kvSecret": {
												"value": "@split(pipeline().parameters.TaskDetails.Processor,'|')[0]",
												"type": "Expression"
											},
											"clusterId": {
												"value": "@split(pipeline().parameters.TaskDetails.Processor,'|')[1]",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Set-ReturnValue-Interactive",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Notebook-Delta-Table-Interactive",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "ReturnValue",
										"value": {
											"value": "@string(activity('Notebook-Delta-Table-Interactive').output.runOutput)",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "SP-Record-Manifest",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "If-ClusterType",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[CTL].[UpdateManifestDeltaRecords]",
							"storedProcedureParameters": {
								"BatchExecutionLogID": {
									"value": {
										"value": "@pipeline().parameters.BatchLogId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"TaskExecutionLogID": {
									"value": {
										"value": "@pipeline().parameters.TaskExecutionLogId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"RecordsDeltaTable": {
									"value": {
										"value": "@variables('ReturnValue')",
										"type": "Expression"
									},
									"type": "Int64"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS-AzureSqlDatabase_Ctrldb",
							"type": "LinkedServiceReference",
							"parameters": {
								"kvSecret": "daf-sql-controldb-connectionstring"
							}
						}
					}
				],
				"parameters": {
					"BatchLogID": {
						"type": "int",
						"defaultValue": 1
					},
					"TaskExecutionLogId": {
						"type": "int",
						"defaultValue": 1
					},
					"TaskDetails": {
						"type": "object"
					},
					"TargetBLOBFolder": {
						"type": "string",
						"defaultValue": "raw"
					},
					"TargetBLOBName": {
						"type": "string",
						"defaultValue": "targetdirectory"
					},
					"ProjectRunID": {
						"type": "string"
					}
				},
				"variables": {
					"ReturnValue": {
						"type": "String"
					},
					"ClusterType": {
						"type": "String"
					},
					"NoteBookURL": {
						"type": "String",
						"defaultValue": "/build/raw/load-raw-deltatable"
					}
				},
				"folder": {
					"name": "Data Lake"
				},
				"annotations": [],
				"lastPublishTime": "2021-06-30T03:14:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/04-LakeLanding-FlatFile-A-Source-Copy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set-Source-Container",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "SourceContainer",
							"value": {
								"value": "@toLower(first(split(pipeline().parameters.TaskDetails.SourceLocation,'/')))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set-Source-Filename",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "SourceFileName",
							"value": {
								"value": "@last(split(pipeline().parameters.TaskDetails.SourceLocation,'/'))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Get Full File Name",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[CTL].[GetStorageFileName]",
								"storedProcedureParameters": {
									"DeltaExtract": {
										"type": "Boolean",
										"value": {
											"value": "@pipeline().parameters.TaskDetails.DeltaExtract",
											"type": "Expression"
										}
									},
									"FileName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.TaskDetails.SourceLocation",
											"type": "Expression"
										}
									},
									"FolderName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.TaskDetails.TargetLocation",
											"type": "Expression"
										}
									},
									"Grain": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.TaskDetails.ObjectGrain",
											"type": "Expression"
										}
									},
									"Compressed": {
										"type": "Boolean",
										"value": {
											"value": "true",
											"type": "Expression"
										}
									},
									"TargetType": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.TaskDetails.TargetType",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlDatabase_Ctrldb",
								"type": "DatasetReference"
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Get Metadata",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Set-Source-Container",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set-Source-Filename",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Get Full File Name",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "SRC_RAW_LANDING_ADLS_CSV",
								"type": "DatasetReference",
								"parameters": {
									"BlobPath": {
										"value": "@variables('SourceContainer')",
										"type": "Expression"
									},
									"BlobName": {
										"value": "@variables('SourceFileName')",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "If File Exists",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@activity('Get Metadata').output.exists",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Log Failure DL Raw",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy File to Raw Zone",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "[[CTL].[UpdateTaskLog]",
											"type": "Expression"
										},
										"storedProcedureParameters": {
											"BatchLogId": {
												"value": {
													"value": "@pipeline().parameters.BatchLogId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"ErrorMessage": {
												"value": "Error Occurred during Blob Source Load",
												"type": "String"
											},
											"ExecutionLogId": {
												"value": {
													"value": "@pipeline().parameters.TaskExecutionLogId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Output": {
												"value": null
											},
											"Status": {
												"value": "Failure",
												"type": "String"
											},
											"TaskId": {
												"value": {
													"value": "@pipeline().parameters.TaskDetails.TaskId",
													"type": "Expression"
												},
												"type": "Int64"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS-AzureSqlDatabase_Ctrldb",
										"type": "LinkedServiceReference",
										"parameters": {
											"kvSecret": "sql-db-controldb-connectionstring"
										}
									}
								},
								{
									"name": "Log Success",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy File to Raw Zone",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "[[CTL].[UpdateTaskLog]",
											"type": "Expression"
										},
										"storedProcedureParameters": {
											"BatchLogId": {
												"value": {
													"value": "@pipeline().parameters.BatchLogId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"ErrorMessage": {
												"value": null,
												"type": "String"
											},
											"ExecutionLogId": {
												"value": {
													"value": "@pipeline().parameters.TaskExecutionLogId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Output": {
												"value": {
													"value": "@pipeline().parameters.TaskDetails.LastLoadedFile",
													"type": "Expression"
												},
												"type": "String"
											},
											"Status": {
												"value": "Success",
												"type": "String"
											},
											"TaskId": {
												"value": {
													"value": "@pipeline().parameters.TaskDetails.TaskId",
													"type": "Expression"
												},
												"type": "Int64"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS-AzureSqlDatabase_Ctrldb",
										"type": "LinkedServiceReference",
										"parameters": {
											"kvSecret": "sql-db-controldb-connectionstring"
										}
									}
								},
								{
									"name": "Copy File to Raw Zone",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "SRC_RAW_LANDING_ADLS_CSV",
											"type": "DatasetReference",
											"parameters": {
												"BlobPath": {
													"value": "@variables('SourceContainer')",
													"type": "Expression"
												},
												"BlobName": {
													"value": "@variables('SourceFileName')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DST_RAW_ADLS_CSV",
											"type": "DatasetReference",
											"parameters": {
												"BlobPath": {
													"value": "@activity('Get Full File Name').output.firstrow.StorageFolder",
													"type": "Expression"
												},
												"BlobName": {
													"value": "@activity('Get Full File Name').output.firstrow.StorageFile",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Execute-DP-Load-Raw-to-Delta-Table",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Log Success",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "04-DL-Load-Raw-to-Delta-Table",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"BatchLogID": {
												"value": "@pipeline().parameters.BatchLogId",
												"type": "Expression"
											},
											"TaskExecutionLogId": {
												"value": "@pipeline().parameters.TaskExecutionLogId",
												"type": "Expression"
											},
											"TaskDetails": {
												"value": "@pipeline().parameters.TaskDetails",
												"type": "Expression"
											},
											"TargetBLOBFolder": {
												"value": "@activity('Get Full File Name').output.firstrow.StorageFolder",
												"type": "Expression"
											},
											"TargetBLOBName": {
												"value": "@activity('Get Full File Name').output.firstrow.StorageFile",
												"type": "Expression"
											},
											"ProjectRunID": {
												"value": "@pipeline().parameters.ProjectRunID",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Delete Manifest file",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy File to Archive",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "SRC_RAW_LANDING_ADLS_CSV",
											"type": "DatasetReference",
											"parameters": {
												"BlobPath": {
													"value": "@variables('SourceContainer')",
													"type": "Expression"
												},
												"BlobName": {
													"value": "@variables('SourceFileName')",
													"type": "Expression"
												}
											}
										},
										"logStorageSettings": {
											"linkedServiceName": {
												"referenceName": "LS_AzureDatalake",
												"type": "LinkedServiceReference"
											},
											"path": "assurance"
										},
										"enableLogging": true,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								},
								{
									"name": "Copy File to Archive",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Execute-DP-Load-Raw-to-Delta-Table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "SRC_RAW_LANDING_ADLS_CSV",
											"type": "DatasetReference",
											"parameters": {
												"BlobPath": {
													"value": "@variables('SourceContainer')",
													"type": "Expression"
												},
												"BlobName": {
													"value": "@variables('SourceFileName')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "SRC_RAW_LANDING_ADLS_CSV",
											"type": "DatasetReference",
											"parameters": {
												"BlobPath": {
													"value": "@concat(variables('SourceContainer'),'archive/')",
													"type": "Expression"
												},
												"BlobName": {
													"value": "@variables('SourceFileName')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"TaskDetails": {
						"type": "object"
					},
					"BatchLogId": {
						"type": "int"
					},
					"TaskExecutionLogId": {
						"type": "int"
					},
					"ProjectRunID": {
						"type": "string"
					},
					"TargetBLOBFolder": {
						"type": "string"
					},
					"TargetBLOBName": {
						"type": "string"
					}
				},
				"variables": {
					"SourceContainer": {
						"type": "String"
					},
					"SourceFileName": {
						"type": "String"
					},
					"OutputFileName": {
						"type": "String"
					},
					"DeltaSQL": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Blob"
				},
				"annotations": [],
				"lastPublishTime": "2021-06-30T08:46:15Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/04-DL-Load-Raw-to-Delta-Table')]"
			]
		}
	]
}