adf-swcnonprod01-daf-dev-01/PartialArmTemplates/ArmTemplate_8_11_2021_23_35_24.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-swcnonprod01-daf-dev-01"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/04-Blob-A-Source Load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Clone of 05-DL-Load-Raw-to-Trusted",
				"activities": [
					{
						"name": "Get Metadata",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Set-Source-Container",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set-Source-Filename",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "SRC_BLOB_JSON_copy1",
								"type": "DatasetReference",
								"parameters": {
									"BlobName": {
										"value": "@concat(variables('SourceFileName'),'*')",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "Loop-All-Files",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "SET-FileName to Child Item",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "FileName",
										"value": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Handle Manifest Files",
									"type": "Switch",
									"dependsOn": [
										{
											"activity": "Set Manifest File or Not",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"on": {
											"value": "@variables('Manifest')",
											"type": "Expression"
										},
										"cases": [
											{
												"value": "DataFile",
												"activities": [
													{
														"name": "Copy-Blob-to-DataLake-Raw",
														"type": "Copy",
														"dependsOn": [],
														"policy": {
															"timeout": "7.00:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "JsonSource",
																"storeSettings": {
																	"type": "AzureBlobStorageReadSettings",
																	"recursive": true,
																	"enablePartitionDiscovery": false
																},
																"formatSettings": {
																	"type": "JsonReadSettings"
																}
															},
															"sink": {
																"type": "JsonSink",
																"storeSettings": {
																	"type": "AzureBlobFSWriteSettings"
																},
																"formatSettings": {
																	"type": "JsonWriteSettings"
																}
															},
															"enableStaging": false
														},
														"inputs": [
															{
																"referenceName": "SRC_BLOB_JSON_copy1",
																"type": "DatasetReference",
																"parameters": {
																	"BlobName": {
																		"value": "@variables('FileName')",
																		"type": "Expression"
																	}
																}
															}
														],
														"outputs": [
															{
																"referenceName": "RAW_ADLS_JSON_v2",
																"type": "DatasetReference",
																"parameters": {
																	"BlobPath": {
																		"value": "@activity('Get Full File Name').output.firstrow.StorageFolder",
																		"type": "Expression"
																	},
																	"BlobName": {
																		"value": "@activity('Get Full File Name').output.firstrow.StorageFile",
																		"type": "Expression"
																	}
																}
															}
														]
													},
													{
														"name": "Execute-DP-Load-Raw-to-Delta-Table",
														"type": "ExecutePipeline",
														"dependsOn": [
															{
																"activity": "Copy-Blob-to-DataLake-Raw",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"userProperties": [],
														"typeProperties": {
															"pipeline": {
																"referenceName": "04-DL-Load-Raw-to-Delta-Table",
																"type": "PipelineReference"
															},
															"waitOnCompletion": true,
															"parameters": {
																"BatchLogID": {
																	"value": "@pipeline().parameters.BatchLogId",
																	"type": "Expression"
																},
																"TaskExecutionLogId": {
																	"value": "@pipeline().parameters.TaskExecutionLogId",
																	"type": "Expression"
																},
																"TaskDetails": {
																	"value": "@pipeline().parameters.TaskDetails",
																	"type": "Expression"
																},
																"TargetBLOBFolder": {
																	"value": "@activity('Get Full File Name').output.firstrow.StorageFolder",
																	"type": "Expression"
																},
																"TargetBLOBName": {
																	"value": "@activity('Get Full File Name').output.firstrow.StorageFile",
																	"type": "Expression"
																},
																"ProjectRunID": {
																	"value": "@pipeline().parameters.ProjectRunID",
																	"type": "Expression"
																}
															}
														}
													},
													{
														"name": "Copy Blob File to ArchiveContainer",
														"type": "Copy",
														"dependsOn": [
															{
																"activity": "Execute-DP-Load-Raw-to-Delta-Table",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "7.00:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "JsonSource",
																"storeSettings": {
																	"type": "AzureBlobStorageReadSettings",
																	"recursive": true,
																	"enablePartitionDiscovery": false
																},
																"formatSettings": {
																	"type": "JsonReadSettings"
																}
															},
															"sink": {
																"type": "JsonSink",
																"storeSettings": {
																	"type": "AzureBlobStorageWriteSettings"
																},
																"formatSettings": {
																	"type": "JsonWriteSettings"
																}
															},
															"enableStaging": false
														},
														"inputs": [
															{
																"referenceName": "SRC_BLOB_JSON_copy1",
																"type": "DatasetReference",
																"parameters": {
																	"BlobName": {
																		"value": "@variables('FileName')",
																		"type": "Expression"
																	}
																}
															}
														],
														"outputs": [
															{
																"referenceName": "ARCHIVE_BLOB_JSON",
																"type": "DatasetReference",
																"parameters": {
																	"BlobContainer": {
																		"value": "@concat('archive/', activity('Get Full File Name').output.firstrow.StorageFolder)",
																		"type": "Expression"
																	}
																}
															}
														]
													},
													{
														"name": "Delete File from LandingBlob",
														"type": "Delete",
														"dependsOn": [
															{
																"activity": "Copy Blob File to ArchiveContainer",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "7.00:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"dataset": {
																"referenceName": "SRC_BLOB_JSON_copy1",
																"type": "DatasetReference",
																"parameters": {
																	"BlobName": {
																		"value": "@variables('FileName')",
																		"type": "Expression"
																	}
																}
															},
															"logStorageSettings": {
																"linkedServiceName": {
																	"referenceName": "LS_AzureDatalake",
																	"type": "LinkedServiceReference"
																},
																"path": "assurance"
															},
															"enableLogging": true,
															"storeSettings": {
																"type": "AzureBlobStorageReadSettings",
																"recursive": true,
																"enablePartitionDiscovery": false
															}
														}
													}
												]
											},
											{
												"value": "ManifestFile",
												"activities": [
													{
														"name": "Copy Manifest to Raw Zone",
														"type": "Copy",
														"dependsOn": [],
														"policy": {
															"timeout": "7.00:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "JsonSource",
																"storeSettings": {
																	"type": "AzureBlobStorageReadSettings",
																	"recursive": true,
																	"enablePartitionDiscovery": false
																},
																"formatSettings": {
																	"type": "JsonReadSettings"
																}
															},
															"sink": {
																"type": "JsonSink",
																"storeSettings": {
																	"type": "AzureBlobFSWriteSettings"
																},
																"formatSettings": {
																	"type": "JsonWriteSettings"
																}
															},
															"enableStaging": false
														},
														"inputs": [
															{
																"referenceName": "SRC_BLOB_JSON_copy1",
																"type": "DatasetReference",
																"parameters": {
																	"BlobName": {
																		"value": "@variables('FileName')",
																		"type": "Expression"
																	}
																}
															}
														],
														"outputs": [
															{
																"referenceName": "RAW_ADLS_JSON_v2",
																"type": "DatasetReference",
																"parameters": {
																	"BlobPath": {
																		"value": "@activity('Get Full File Name').output.firstrow.StorageFolder",
																		"type": "Expression"
																	},
																	"BlobName": {
																		"value": "@activity('Get Full File Name').output.firstrow.StorageFile",
																		"type": "Expression"
																	}
																}
															}
														]
													},
													{
														"name": "Archive Manifest File",
														"type": "Copy",
														"dependsOn": [
															{
																"activity": "Copy Manifest to Raw Zone",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "7.00:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "JsonSource",
																"storeSettings": {
																	"type": "AzureBlobStorageReadSettings",
																	"recursive": true,
																	"enablePartitionDiscovery": false
																},
																"formatSettings": {
																	"type": "JsonReadSettings"
																}
															},
															"sink": {
																"type": "JsonSink",
																"storeSettings": {
																	"type": "AzureBlobStorageWriteSettings"
																},
																"formatSettings": {
																	"type": "JsonWriteSettings"
																}
															},
															"enableStaging": false
														},
														"inputs": [
															{
																"referenceName": "SRC_BLOB_JSON_copy1",
																"type": "DatasetReference",
																"parameters": {
																	"BlobName": {
																		"value": "@variables('FileName')",
																		"type": "Expression"
																	}
																}
															}
														],
														"outputs": [
															{
																"referenceName": "ARCHIVE_BLOB_JSON",
																"type": "DatasetReference",
																"parameters": {
																	"BlobContainer": {
																		"value": "@concat('archive/', activity('Get Full File Name').output.firstrow.StorageFolder)",
																		"type": "Expression"
																	}
																}
															}
														]
													},
													{
														"name": "Delete File From Landing",
														"type": "Delete",
														"dependsOn": [
															{
																"activity": "Archive Manifest File",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "7.00:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"dataset": {
																"referenceName": "SRC_BLOB_JSON_copy1",
																"type": "DatasetReference",
																"parameters": {
																	"BlobName": {
																		"value": "@variables('FileName')",
																		"type": "Expression"
																	}
																}
															},
															"logStorageSettings": {
																"linkedServiceName": {
																	"referenceName": "LS_AzureDatalake",
																	"type": "LinkedServiceReference"
																},
																"path": "assurance"
															},
															"enableLogging": true,
															"storeSettings": {
																"type": "AzureBlobStorageReadSettings",
																"recursive": true,
																"enablePartitionDiscovery": false
															}
														}
													}
												]
											}
										]
									}
								},
								{
									"name": "Set Manifest File or Not",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "SET-FileName to Child Item",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Get Full File Name",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Manifest",
										"value": {
											"value": "@if(contains(variables('FileName'),'MANIFEST'),'ManifestFile','DataFile')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Get Full File Name",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[CTL].[GetStorageFileName]",
											"storedProcedureParameters": {
												"DeltaExtract": {
													"type": "Boolean",
													"value": {
														"value": "@pipeline().parameters.TaskDetails.DeltaExtract",
														"type": "Expression"
													}
												},
												"FileName": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.TaskDetails.SourceLocation",
														"type": "Expression"
													}
												},
												"FolderName": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.TaskDetails.TargetLocation",
														"type": "Expression"
													}
												},
												"Grain": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.TaskDetails.ObjectGrain",
														"type": "Expression"
													}
												},
												"Compressed": {
													"type": "Boolean",
													"value": {
														"value": "true",
														"type": "Expression"
													}
												},
												"TargetType": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.TaskDetails.TargetType",
														"type": "Expression"
													}
												}
											},
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "AzureSqlDatabase_Ctrldb",
											"type": "DatasetReference"
										},
										"firstRowOnly": true
									}
								}
							]
						}
					},
					{
						"name": "Set-Source-Container",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "SourceContainer",
							"value": {
								"value": "@toLower(first(split(pipeline().parameters.TaskDetails.SourceLocation,'/')))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set-Source-Filename",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "SourceFileName",
							"value": {
								"value": "@last(split(pipeline().parameters.TaskDetails.SourceLocation,'/'))",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"TaskDetails": {
						"type": "object"
					},
					"BatchLogId": {
						"type": "int"
					},
					"TaskExecutionLogId": {
						"type": "int"
					},
					"ProjectRunID": {
						"type": "string"
					},
					"TargetBLOBFolder": {
						"type": "string"
					},
					"TargetBLOBName": {
						"type": "string"
					},
					"StartCounter": {
						"type": "string"
					},
					"EndCounter": {
						"type": "string"
					},
					"ValidationDetails": {
						"type": "string"
					}
				},
				"variables": {
					"SourceContainer": {
						"type": "String"
					},
					"SourceFileName": {
						"type": "String"
					},
					"OutputFileName": {
						"type": "String"
					},
					"DeltaSQL": {
						"type": "String"
					},
					"FileName": {
						"type": "String"
					},
					"DateStamp": {
						"type": "String"
					},
					"Manifest": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Blob"
				},
				"annotations": [],
				"lastPublishTime": "2021-06-30T08:46:15Z"
			},
			"dependsOn": []
		}
	]
}