DataFactory/pipeline/01-Main.json
{
	"name": "01-Main",
	"properties": {
		"description": "This is the main pipeline.",
		"activities": [
			{
				"name": "Get Projects to Execute",
				"description": "",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[CTL].[getProjects]",
						"storedProcedureParameters": {
							"TriggerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.TriggerName",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlDatabase_Ctrldb",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Loop Projects",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Projects to Execute",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Projects to Execute').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute Projects",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "02-Execute-Project-Stages",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"ProjectId": {
										"value": "@item().ProjectId",
										"type": "Expression"
									},
									"TriggerName": {
										"value": "@pipeline().parameters.TriggerName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"TriggerName": {
				"type": "string",
				"defaultValue": "OnDemand"
			}
		},
		"variables": {
			"ProjectName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-06-18T07:33:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}