DataFactory/pipeline/04-Oracle-Generate-Source-Schema.json
{
	"name": "04-Oracle-Generate-Source-Schema",
	"properties": {
		"activities": [
			{
				"name": "Generate Schema",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set-Owner",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set-Table",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set-File",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set-Folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@replace(replace(variables('SQL'), '<<TABLE>>', variables('Table')), '<<OWNER>>', variables('Owner'))",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SRC_Oracle",
						"type": "DatasetReference",
						"parameters": {
							"kvSecret": {
								"value": "@pipeline().parameters.TaskDetails.SourceServer",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "RAW_ADLS_Schema",
						"type": "DatasetReference",
						"parameters": {
							"BlobPath": {
								"value": "@variables('Folder')",
								"type": "Expression"
							},
							"BlobName": {
								"value": "@variables('File')",
								"type": "Expression"
							},
							"Compression": "none",
							"ColumnDelim": ",",
							"HeaderRow": false
						}
					}
				]
			},
			{
				"name": "Generate Schema Original",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Generate Schema",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@replace(replace(variables('SQL-Original'), '<<TABLE>>', variables('Table')), '<<OWNER>>', variables('Owner'))",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SRC_Oracle",
						"type": "DatasetReference",
						"parameters": {
							"kvSecret": {
								"value": "@pipeline().parameters.TaskDetails.SourceServer",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "RAW_ADLS_Schema",
						"type": "DatasetReference",
						"parameters": {
							"BlobPath": {
								"value": "@concat(variables('Folder'), '/original/')",
								"type": "Expression"
							},
							"BlobName": {
								"value": "@concat(variables('File'), '.csv')",
								"type": "Expression"
							},
							"Compression": "none",
							"ColumnDelim": ",",
							"HeaderRow": true
						}
					}
				]
			},
			{
				"name": "If-Empty-Delete",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Generate Schema Original",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Generate Schema').output.rowsCopied, 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Delete-Empty-File",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "BINARY_ADLS",
									"type": "DatasetReference",
									"parameters": {
										"File": {
											"value": "@variables('File')",
											"type": "Expression"
										},
										"Container": "raw",
										"Folder": {
											"value": "@variables('Folder')",
											"type": "Expression"
										}
									}
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "LS-AzureDataLake",
										"type": "LinkedServiceReference"
									},
									"path": "log"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							}
						}
					]
				}
			},
			{
				"name": "Set-Folder",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Folder",
					"value": {
						"value": "@toLower(concat(pipeline().parameters.TaskDetails.SourceGroup, '//', 'schema'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set-File",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "File",
					"value": {
						"value": "@toLower(concat(pipeline().parameters.TaskDetails.SourceName, '.', 'schema'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set-Table",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Table",
					"value": {
						"value": "@split(pipeline().parameters.TaskDetails.SourceLocation,'.')[1]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set-Owner",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Owner",
					"value": {
						"value": "@split(pipeline().parameters.TaskDetails.SourceLocation,'.')[0]",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"TaskDetails": {
				"type": "object"
			}
		},
		"variables": {
			"Owner": {
				"type": "String"
			},
			"Table": {
				"type": "String"
			},
			"SQL": {
				"type": "String",
				"defaultValue": "SELECT column_name,         CASE           WHEN data_type = 'NUMBER' AND data_scale = 0 THEN 'double'           WHEN data_type = 'NUMBER' AND data_scale > 0 THEN 'double'           WHEN data_type = 'DATE' THEN 'timestamp'           ELSE 'string'         END                              AS fieldtype,         CASE           WHEN data_type = 'DATE' THEN 'DATETIME2'           ELSE data_type         END                              AS data_type,         Nvl(data_precision, data_length) PRECISION,         data_scale                       scale,         table_name                       table_name,         owner                            table_schema  FROM   all_tab_cols  WHERE  table_name = '<<TABLE>>'         AND owner = '<<OWNER>>'         AND hidden_column = 'NO'  \t   "
			},
			"SQL-Original": {
				"type": "String",
				"defaultValue": "SELECT * FROM all_tab_cols WHERE table_name = '<<TABLE>>' \tAND owner = '<<OWNER>>'"
			},
			"Folder": {
				"type": "String"
			},
			"File": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Oracle"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}