DataFactory/pipeline/04-SQLServer-A-Source Load_Copy1.json
{
	"name": "04-SQLServer-A-Source Load_Copy1",
	"properties": {
		"activities": [
			{
				"name": "Check Delta Load",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get-Table-Values",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Execute-Generate-Schema",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.TaskDetails.DeltaExtract,true)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": []
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set-DeltaSql-DeltaLoad",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "DeltaSQL",
								"value": ""
							}
						}
					]
				}
			},
			{
				"name": "Execute-Generate-Schema",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "04-SQLServer-Generate-Source-Schema",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"TaskDetails": {
							"value": "@pipeline().parameters.TaskDetails",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Task Log Failure Schema",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute-Generate-Schema",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CTL].[UpdateTaskLog]",
					"storedProcedureParameters": {
						"BatchLogId": {
							"value": {
								"value": "@pipeline().parameters.BatchLogId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"ErrorMessage": {
							"value": {
								"value": "An Error Occurred while generating schema",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecutionLogId": {
							"value": {
								"value": "@pipeline().parameters.TaskExecutionLogId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"Status": {
							"value": "Failure",
							"type": "String"
						},
						"TaskId": {
							"value": {
								"value": "@pipeline().parameters.TaskDetails.TaskId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"Output": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS-AzureSqlDatabase_Ctrldb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get-Table-SQL",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[CTL].[GetTableDetails]",
						"storedProcedureParameters": {
							"SourceId": {
								"type": "Int64",
								"value": {
									"value": "@pipeline().parameters.TaskDetails.SourceId",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlDatabase_Ctrldb",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Get-Table-Values",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get-Table-SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@activity('Get-Table-SQL').output.firstrow.SQLStatement",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SRC_SQLSERVER",
						"type": "DatasetReference",
						"parameters": {
							"kvSecret": {
								"value": "@pipeline().parameters.TaskDetails.SourceServer",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Task Log Failure-Watermark Values",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get-Table-Values",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CTL].[UpdateTaskLog]",
					"storedProcedureParameters": {
						"BatchLogId": {
							"value": {
								"value": "@pipeline().parameters.BatchLogId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"ErrorMessage": {
							"value": {
								"value": "An Error Occurred",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecutionLogId": {
							"value": {
								"value": "@pipeline().parameters.TaskExecutionLogId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"Status": {
							"value": "Failure",
							"type": "String"
						},
						"TaskId": {
							"value": {
								"value": "@pipeline().parameters.TaskDetails.TaskId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"Output": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS-AzureSqlDatabase_Ctrldb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "EP-Record-Validation_copy1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "EP-Copy-SQLServer-Src-To-Delta",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "recon-record-validation",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ProjectRunID": {
							"value": "@pipeline().parameters.ProjectRunID",
							"type": "Expression"
						},
						"ValidationDetails": {
							"value": "@pipeline().parameters.ValidationDetails",
							"type": "Expression"
						},
						"SourceID": {
							"value": "@pipeline().parameters.TaskDetails.SourceID",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "EP-Copy-SQLServer-Src-To-Delta",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Check Delta Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitOnCompletion": true
				}
			},
			{
				"name": "Log Success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "EP-SQL-Copy-Full",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CTL].[UpdateTaskLog]",
					"storedProcedureParameters": {
						"BatchLogId": {
							"value": {
								"value": "@pipeline().parameters.BatchLogId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"ErrorMessage": {
							"value": "",
							"type": "String"
						},
						"ExecutionLogId": {
							"value": {
								"value": "@pipeline().parameters.TaskExecutionLogId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"Status": {
							"value": "Success",
							"type": "String"
						},
						"TaskId": {
							"value": {
								"value": "@pipeline().parameters.TaskDetails.TaskId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"Output": {
							"value": {
								"value": "@activity('Get Full File Name').output.firstrow.StorageFile",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS-AzureSqlDatabase_Ctrldb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log Failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "EP-SQL-Copy-Full",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CTL].[UpdateTaskLog]",
					"storedProcedureParameters": {
						"BatchLogId": {
							"value": {
								"value": "@pipeline().parameters.BatchLogId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"ErrorMessage": {
							"value": "Some error occured",
							"type": "String"
						},
						"ExecutionLogId": {
							"value": {
								"value": "@pipeline().parameters.TaskExecutionLogId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"Status": {
							"value": "Failure",
							"type": "String"
						},
						"TaskId": {
							"value": {
								"value": "@pipeline().parameters.TaskDetails.TaskId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"Output": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS-AzureSqlDatabase_Ctrldb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "EP-SQL-Copy-Full",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "04-SQLServer-B-Source-Copy",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"BatchLogId": {
							"value": "@pipeline().parameters.BatchLogId",
							"type": "Expression"
						},
						"TaskDetails": {
							"value": "@pipeline().parameters.TaskDetails",
							"type": "Expression"
						},
						"TaskExecutionLogId": {
							"value": "@pipeline().parameters.TaskExecutionLogId",
							"type": "Expression"
						},
						"SourceSQL": {
							"value": "@pipeline().parameters.TaskDetails.Command",
							"type": "Expression"
						},
						"TargetBLOBFolder": {
							"value": "null",
							"type": "Expression"
						},
						"TargetBLOBName": {
							"value": "null",
							"type": "Expression"
						},
						"ValidationDetails": {
							"value": "@activity('Get-Table-Values').output.firstRow",
							"type": "Expression"
						},
						"ProjectRunID": {
							"value": "@pipeline().parameters.ProjectRunID",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"BatchLogId": {
				"type": "int"
			},
			"TaskDetails": {
				"type": "object"
			},
			"TaskExecutionLogId": {
				"type": "int"
			},
			"ProjectRunID": {
				"type": "string"
			}
		},
		"variables": {
			"OutputFileName": {
				"type": "String"
			},
			"DeltaSQL": {
				"type": "String"
			},
			"WatermarkValue": {
				"type": "String"
			}
		},
		"folder": {
			"name": "z_Archive/Test"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}