DataFactory/pipeline/04-SqlServer-Src-to-Delta-Table.json
{
	"name": "04-SqlServer-Src-to-Delta-Table",
	"properties": {
		"activities": [
			{
				"name": "Task Log Failure Copy",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "testDeltaTableWrite",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CTL].[UpdateTaskLog]",
					"storedProcedureParameters": {
						"BatchLogId": {
							"value": {
								"value": "@pipeline().parameters.BatchLogId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"ErrorMessage": {
							"value": {
								"value": "An Error Occurred",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecutionLogId": {
							"value": {
								"value": "@pipeline().parameters.TaskExecutionLogId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"Status": {
							"value": "Failure",
							"type": "String"
						},
						"TaskId": {
							"value": {
								"value": "@pipeline().parameters.TaskDetails.TaskId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"Output": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS-AzureSqlDatabase_Ctrldb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Watermark Task Failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SP-Update-Watermark",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CTL].[UpdateTaskLog]",
					"storedProcedureParameters": {
						"BatchLogId": {
							"value": {
								"value": "@pipeline().parameters.BatchLogId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"ErrorMessage": {
							"value": {
								"value": "An Error Occurred while updating Watermark",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecutionLogId": {
							"value": {
								"value": "@pipeline().parameters.TaskExecutionLogId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"Status": {
							"value": "Failure",
							"type": "String"
						},
						"TaskId": {
							"value": {
								"value": "@pipeline().parameters.TaskDetails.TaskId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"Output": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS-AzureSqlDatabase_Ctrldb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Task Success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SP-Update-Watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CTL].[UpdateTaskLog]",
					"storedProcedureParameters": {
						"BatchLogId": {
							"value": {
								"value": "@pipeline().parameters.BatchLogId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"ErrorMessage": {
							"value": "",
							"type": "String"
						},
						"ExecutionLogId": {
							"value": {
								"value": "@pipeline().parameters.TaskExecutionLogId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"Status": {
							"value": "Success",
							"type": "String"
						},
						"TaskId": {
							"value": {
								"value": "@pipeline().parameters.TaskDetails.TaskId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"Output": {
							"value": {
								"value": "@activity('Get Full File Name').output.firstrow.StorageFile",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS-AzureSqlDatabase_Ctrldb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SET-Delta-SQL",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SET-Watermark-Value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "DeltaSQL",
					"value": {
						"value": "@replace(pipeline().parameters.TaskDetails.Command, '<<ENDDATE>>', variables('WatermarkValue'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SP-Update-Watermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "testDeltaTableWrite",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CTL].[updateWatermarks]",
					"storedProcedureParameters": {
						"SourceId": {
							"value": {
								"value": "@pipeline().parameters.TaskDetails.SourceId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"Watermark": {
							"value": {
								"value": "@variables('WatermarkValue')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS-AzureSqlDatabase_Ctrldb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SET-Watermark-Value",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "WatermarkValue",
					"value": {
						"value": "@replace(activity('Get-Table-Values').output.firstRow.ReturnValue, '\\', ' ')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Task Log Failure-Watermark Value SET",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SET-Watermark-Value",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CTL].[UpdateTaskLog]",
					"storedProcedureParameters": {
						"BatchLogId": {
							"value": {
								"value": "@pipeline().parameters.BatchLogId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"ErrorMessage": {
							"value": {
								"value": "An Error Occurred",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecutionLogId": {
							"value": {
								"value": "@pipeline().parameters.TaskExecutionLogId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"Status": {
							"value": "Failure",
							"type": "String"
						},
						"TaskId": {
							"value": {
								"value": "@pipeline().parameters.TaskDetails.TaskId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"Output": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS-AzureSqlDatabase_Ctrldb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "testDeltaTableWrite",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SET-Delta-SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "testDeltaTableWrite",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"DeltaSql": {
							"value": "@variables('DeltaSQL')",
							"type": "Expression"
						},
						"BatchExecutionLogID": {
							"value": "@pipeline().parameters.BatchLogId",
							"type": "Expression"
						},
						"TaskExecutionLogID": {
							"value": "@pipeline().parameters.TaskExecutionLogId",
							"type": "Expression"
						},
						"WatermarkColumn": {
							"value": "@variables('WatermarkValue')",
							"type": "Expression"
						},
						"TargetBLOBName": "null",
						"TargetBLOBFolder": "null",
						"TaskDetails": {
							"value": "@pipeline().parameters.TaskDetails",
							"type": "Expression"
						},
						"ValidationDetails": {
							"value": "@activity('Get-Table-Values').output.firstRow",
							"type": "Expression"
						},
						"ProjectRunID": {
							"value": "@pipeline().parameters.ProjectRunID",
							"type": "Expression"
						}
					}
				}
			}
		],
		"folder": {
			"name": "z_Archive"
		},
		"annotations": []
	}
}