DataFactory/pipeline/04-SQLServer-A-Source Load_copy2.json
{
	"name": "04-SQLServer-A-Source Load_copy2",
	"properties": {
		"activities": [
			{
				"name": "Check Delta Load",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get-Table-Values",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Execute-Generate-Schema",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.TaskDetails.DeltaExtract,true)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Log Success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "EP-SQLSrc-DeltaTable-Write-Full",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[CTL].[UpdateTaskLog]",
								"storedProcedureParameters": {
									"BatchLogId": {
										"value": {
											"value": "@pipeline().parameters.BatchLogId",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"ErrorMessage": {
										"value": "",
										"type": "String"
									},
									"ExecutionLogId": {
										"value": {
											"value": "@pipeline().parameters.TaskExecutionLogId",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"Status": {
										"value": "Success",
										"type": "String"
									},
									"TaskId": {
										"value": {
											"value": "@pipeline().parameters.TaskDetails.TaskId",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"Output": {
										"value": {
											"value": "null",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS-AzureSqlDatabase_Ctrldb",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Log Failure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "EP-SQLSrc-DeltaTable-Write-Full",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[CTL].[UpdateTaskLog]",
								"storedProcedureParameters": {
									"BatchLogId": {
										"value": {
											"value": "@pipeline().parameters.BatchLogId",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"ErrorMessage": {
										"value": "Some error occured",
										"type": "String"
									},
									"ExecutionLogId": {
										"value": {
											"value": "@pipeline().parameters.TaskExecutionLogId",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"Status": {
										"value": "Failure",
										"type": "String"
									},
									"TaskId": {
										"value": {
											"value": "@pipeline().parameters.TaskDetails.TaskId",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"Output": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS-AzureSqlDatabase_Ctrldb",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "EP-SQLSrc-DeltaTable-Write-Full",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "testDeltaTableWrite",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"BatchExecutionLogID": {
										"value": "@pipeline().parameters.BatchLogId",
										"type": "Expression"
									},
									"TaskExecutionLogID": {
										"value": "@pipeline().parameters.TaskExecutionLogId",
										"type": "Expression"
									},
									"WatermarkColumn": "null",
									"TargetBLOBName": {
										"value": "null",
										"type": "Expression"
									},
									"TargetBLOBFolder": {
										"value": "null",
										"type": "Expression"
									},
									"TaskDetails": {
										"value": "@pipeline().parameters.TaskDetails",
										"type": "Expression"
									},
									"ValidationDetails": {
										"value": "@activity('Get-Table-Values').output.firstRow",
										"type": "Expression"
									},
									"ProjectRunID": {
										"value": "@pipeline().parameters.ProjectRunID",
										"type": "Expression"
									},
									"SourceFileDateStamp": "1"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Task Log Failure Copy",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "EP-SQLSrc-DeltaTable-Write-Delta",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[CTL].[UpdateTaskLog]",
								"storedProcedureParameters": {
									"BatchLogId": {
										"value": {
											"value": "@pipeline().parameters.BatchLogId",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"ErrorMessage": {
										"value": {
											"value": "An Error Occurred",
											"type": "Expression"
										},
										"type": "String"
									},
									"ExecutionLogId": {
										"value": {
											"value": "@pipeline().parameters.TaskExecutionLogId",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"Status": {
										"value": "Failure",
										"type": "String"
									},
									"TaskId": {
										"value": {
											"value": "@pipeline().parameters.TaskDetails.TaskId",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"Output": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS-AzureSqlDatabase_Ctrldb",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Watermark Task Failure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "SP-Update-Watermark",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[CTL].[UpdateTaskLog]",
								"storedProcedureParameters": {
									"BatchLogId": {
										"value": {
											"value": "@pipeline().parameters.BatchLogId",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"ErrorMessage": {
										"value": {
											"value": "An Error Occurred while updating Watermark",
											"type": "Expression"
										},
										"type": "String"
									},
									"ExecutionLogId": {
										"value": {
											"value": "@pipeline().parameters.TaskExecutionLogId",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"Status": {
										"value": "Failure",
										"type": "String"
									},
									"TaskId": {
										"value": {
											"value": "@pipeline().parameters.TaskDetails.TaskId",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"Output": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS-AzureSqlDatabase_Ctrldb",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Task Success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "SP-Update-Watermark",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[CTL].[UpdateTaskLog]",
								"storedProcedureParameters": {
									"BatchLogId": {
										"value": {
											"value": "@pipeline().parameters.BatchLogId",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"ErrorMessage": {
										"value": "",
										"type": "String"
									},
									"ExecutionLogId": {
										"value": {
											"value": "@pipeline().parameters.TaskExecutionLogId",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"Status": {
										"value": "Success",
										"type": "String"
									},
									"TaskId": {
										"value": {
											"value": "@pipeline().parameters.TaskDetails.TaskId",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"Output": {
										"value": {
											"value": "null",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS-AzureSqlDatabase_Ctrldb",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SET-Delta-SQL",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SET-Watermark-Value",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "DeltaSQL",
								"value": {
									"value": "@replace(pipeline().parameters.TaskDetails.Command, '<<ENDDATE>>', variables('WatermarkValue'))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SP-Update-Watermark",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "EP-SQLSrc-DeltaTable-Write-Delta",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[CTL].[updateWatermarks]",
								"storedProcedureParameters": {
									"SourceId": {
										"value": {
											"value": "@pipeline().parameters.TaskDetails.SourceId",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"Watermark": {
										"value": {
											"value": "@variables('WatermarkValue')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS-AzureSqlDatabase_Ctrldb",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SET-Watermark-Value",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "WatermarkValue",
								"value": {
									"value": "@replace(activity('Get-Table-Values').output.firstRow.ReturnValue, '\\', ' ')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Task Log Failure-Watermark Value SET",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "SET-Watermark-Value",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[CTL].[UpdateTaskLog]",
								"storedProcedureParameters": {
									"BatchLogId": {
										"value": {
											"value": "@pipeline().parameters.BatchLogId",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"ErrorMessage": {
										"value": {
											"value": "An Error Occurred",
											"type": "Expression"
										},
										"type": "String"
									},
									"ExecutionLogId": {
										"value": {
											"value": "@pipeline().parameters.TaskExecutionLogId",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"Status": {
										"value": "Failure",
										"type": "String"
									},
									"TaskId": {
										"value": {
											"value": "@pipeline().parameters.TaskDetails.TaskId",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"Output": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS-AzureSqlDatabase_Ctrldb",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "EP-SQLSrc-DeltaTable-Write-Delta",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "SET-Delta-SQL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "testDeltaTableWrite",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"BatchExecutionLogID": {
										"value": "@pipeline().parameters.BatchLogId",
										"type": "Expression"
									},
									"TaskExecutionLogID": {
										"value": "@pipeline().parameters.TaskExecutionLogId",
										"type": "Expression"
									},
									"WatermarkColumn": {
										"value": "@variables('WatermarkValue')",
										"type": "Expression"
									},
									"TargetBLOBName": "null",
									"TargetBLOBFolder": "null",
									"TaskDetails": {
										"value": "@pipeline().parameters.TaskDetails",
										"type": "Expression"
									},
									"ValidationDetails": {
										"value": "@activity('Get-Table-Values').output.firstRow",
										"type": "Expression"
									},
									"ProjectRunID": {
										"value": "@pipeline().parameters.ProjectRunID",
										"type": "Expression"
									},
									"SourceFileDateStamp": "1"
								}
							}
						}
					]
				}
			},
			{
				"name": "Execute-Generate-Schema",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "04-SQLServer-Generate-Source-Schema",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"TaskDetails": {
							"value": "@pipeline().parameters.TaskDetails",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Task Log Failure Schema",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute-Generate-Schema",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CTL].[UpdateTaskLog]",
					"storedProcedureParameters": {
						"BatchLogId": {
							"value": {
								"value": "@pipeline().parameters.BatchLogId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"ErrorMessage": {
							"value": {
								"value": "An Error Occurred while generating schema",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecutionLogId": {
							"value": {
								"value": "@pipeline().parameters.TaskExecutionLogId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"Status": {
							"value": "Failure",
							"type": "String"
						},
						"TaskId": {
							"value": {
								"value": "@pipeline().parameters.TaskDetails.TaskId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"Output": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS-AzureSqlDatabase_Ctrldb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get-Table-SQL",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[CTL].[GetTableDetails]",
						"storedProcedureParameters": {
							"SourceId": {
								"type": "Int64",
								"value": {
									"value": "@pipeline().parameters.TaskDetails.SourceId",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlDatabase_Ctrldb",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Get-Table-Values",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get-Table-SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@activity('Get-Table-SQL').output.firstrow.SQLStatement",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SRC_SQLSERVER",
						"type": "DatasetReference",
						"parameters": {
							"kvSecret": {
								"value": "@pipeline().parameters.TaskDetails.SourceServer",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Task Log Failure-Watermark Values",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get-Table-Values",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CTL].[UpdateTaskLog]",
					"storedProcedureParameters": {
						"BatchLogId": {
							"value": {
								"value": "@pipeline().parameters.BatchLogId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"ErrorMessage": {
							"value": {
								"value": "An Error Occurred",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecutionLogId": {
							"value": {
								"value": "@pipeline().parameters.TaskExecutionLogId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"Status": {
							"value": "Failure",
							"type": "String"
						},
						"TaskId": {
							"value": {
								"value": "@pipeline().parameters.TaskDetails.TaskId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"Output": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS-AzureSqlDatabase_Ctrldb",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"BatchLogId": {
				"type": "int"
			},
			"TaskDetails": {
				"type": "object"
			},
			"TaskExecutionLogId": {
				"type": "int"
			},
			"ProjectRunID": {
				"type": "string"
			}
		},
		"variables": {
			"OutputFileName": {
				"type": "String"
			},
			"DeltaSQL": {
				"type": "String"
			},
			"WatermarkValue": {
				"type": "String"
			}
		},
		"folder": {
			"name": "z_Archive/Test"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}