DataFactory/pipeline/06-Curated-NAT.json
{
	"name": "06-Curated-NAT",
	"properties": {
		"activities": [
			{
				"name": "Get-Files",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Set-SourceFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set-TargetFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set-FileShareURL",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set-FileShareUserID",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set-FileSharePassword",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "BINARY_ADLS",
						"type": "DatasetReference",
						"parameters": {
							"File": "*.txt",
							"Container": {
								"value": "@variables('SourceContainer')",
								"type": "Expression"
							},
							"Folder": {
								"value": "@variables('SourceFolder')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Set-SourceFolder",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "SourceFolder",
					"value": {
						"value": "@concat(split(pipeline().parameters.TaskDetails.AdditionalProperty,'|')[0], '/', pipeline().parameters.NotebookOutput)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach-CopyFiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get-Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get-Files').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If-File-Copy",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().type, 'File')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "EP-Upload-Folder",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "util-fileserver-upload-folder",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"FileType": "*.txt",
												"SourceContainer": {
													"value": "@variables('SourceContainer')",
													"type": "Expression"
												},
												"SourceFolder": {
													"value": "@concat(variables('SourceFolder'), '/', item().name)",
													"type": "Expression"
												},
												"TargetFolder": {
													"value": "@concat(variables('TargetFolder'), '/', item().name)",
													"type": "Expression"
												},
												"FileShareURL": {
													"value": "@variables('FileShareURL')",
													"type": "Expression"
												},
												"FileShareUserID": {
													"value": "@variables('FileShareUserID')",
													"type": "Expression"
												},
												"FileSharePassword": {
													"value": "@variables('FileSharePassword')",
													"type": "Expression"
												}
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "EP-Upload-File",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "util-fileserver-upload-file",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"SourceContainer": {
													"value": "@variables('SourceContainer')",
													"type": "Expression"
												},
												"SourceFolder": {
													"value": "@variables('SourceFolder')",
													"type": "Expression"
												},
												"FileName": {
													"value": "@item().name",
													"type": "Expression"
												},
												"UploadFolder": {
													"value": "@variables('TargetFolder')",
													"type": "Expression"
												},
												"FileShareURL": {
													"value": "@variables('FileShareURL')",
													"type": "Expression"
												},
												"FileShareUserID": {
													"value": "@variables('FileShareUserID')",
													"type": "Expression"
												},
												"FileSharePassword": {
													"value": "@variables('FileSharePassword')",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Set-TargetFolder",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TargetFolder",
					"value": {
						"value": "@concat(split(pipeline().parameters.TaskDetails.AdditionalProperty,'|')[1], '/', pipeline().parameters.NotebookOutput)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set-FileShareURL",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileShareURL",
					"value": {
						"value": "@split(pipeline().parameters.TaskDetails.SourceServer,'|')[0]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set-FileShareUserID",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileShareUserID",
					"value": {
						"value": "@split(pipeline().parameters.TaskDetails.SourceServer,'|')[1]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set-FileSharePassword",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileSharePassword",
					"value": {
						"value": "@split(pipeline().parameters.TaskDetails.SourceServer,'|')[2]",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"TaskDetails": {
				"type": "object",
				"defaultValue": {
					"SourceType": "BLOB Storage (csv)",
					"SourceServer": "datalake-SasToken",
					"SourceName": "Qualtrics_Qualtrics",
					"SourceLocation": "Qualtrics",
					"AdditionalProperty": "nat/e-reporting|out/nat/ereporting",
					"Processor": "databricks-token|0925-064956-carps143|Standard_DS5_v2|6.4.x-scala2.11|2:8|interactive",
					"ProjectName": "Qualtrics1",
					"TargetType": "SQL Server",
					"TargetName": "Qualtrics_Qualtrics",
					"TargetLocation": "Qualtrics",
					"TargetServer": "AzureSqlDatabase-SQLDB",
					"DataLoadMode": "0",
					"DeltaExtract": null,
					"CDCSource": null,
					"TruncateTarget": null,
					"UpsertTarget": null,
					"TrackChanges": false,
					"LoadToSqlEDW": true,
					"TaskName": "Qualtrics_Qualtrics",
					"ControlStageId": 3,
					"TaskId": 813,
					"StageSequence": 300,
					"StageName": "Trusted to Curated",
					"SourceId": 851,
					"TargetId": 830,
					"ObjectGrain": "Day",
					"CommandTypeId": 8,
					"Watermarks": null,
					"WatermarksDT": null,
					"WatermarkColumn": "",
					"BusinessKeyColumn": "",
					"Command": "/Users/rahul.agrawal1@tafenswtest.edu.au/build/curated/Qualtrics/QualtricsMaster-Test",
					"LastLoadedFile": null
				}
			},
			"NotebookOutput": {
				"type": "string",
				"defaultValue": "20210205"
			}
		},
		"variables": {
			"SourceFolder": {
				"type": "String"
			},
			"SourceContainer": {
				"type": "String",
				"defaultValue": "curated"
			},
			"TargetFolder": {
				"type": "String",
				"defaultValue": "out/nat/avetmiss"
			},
			"FileShareURL": {
				"type": "String",
				"defaultValue": "FileServer-URL"
			},
			"FileShareUserID": {
				"type": "String"
			},
			"FileSharePassword": {
				"type": "String",
				"defaultValue": "FileServer-ServiceAccount-Password"
			}
		},
		"folder": {
			"name": "Curated"
		},
		"annotations": []
	}
}