DataFactory/pipeline/07-AAS-Main.json
{
	"name": "07-AAS-Main",
	"properties": {
		"activities": [
			{
				"name": "processing-list",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SET-RGName",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SET-KVName",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SET-WaitSeconds",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SET-AASName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM [aas].[Partition] ORDER BY CubeSequence, ProcessOrder",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SRC_AzureSqlDatabase",
						"type": "DatasetReference",
						"parameters": {
							"kvSecret": "AzureSqlDatabase-SQLDB"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "for-each-process",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "processing-list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('processing-list').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "aas-process",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "07-AAS-Process",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"resourceGroupName": {
										"value": "@variables('resourceGroupName')",
										"type": "Expression"
									},
									"keyVaultName": {
										"value": "@variables('keyVaultName')",
										"type": "Expression"
									},
									"aasName": {
										"value": "@variables('aasName')",
										"type": "Expression"
									},
									"modelName": {
										"value": "@item().ModelName",
										"type": "Expression"
									},
									"processCommand": {
										"value": "@item().RefreshCommand",
										"type": "Expression"
									},
									"waitSeconds": {
										"value": "@variables('waitSeconds')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "SET-RGName",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "resourceGroupName",
					"value": {
						"value": "@split(pipeline().parameters.TaskDetails.AdditionalProperty,'|')[0]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SET-KVName",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "keyVaultName",
					"value": {
						"value": "@split(pipeline().parameters.TaskDetails.AdditionalProperty,'|')[1]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SET-AASName",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "aasName",
					"value": {
						"value": "@split(pipeline().parameters.TaskDetails.AdditionalProperty,'|')[2]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SET-WaitSeconds",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "waitSeconds",
					"value": {
						"value": "@split(pipeline().parameters.TaskDetails.AdditionalProperty,'|')[3]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Task Log Cube Process Failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "for-each-process",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CTL].[UpdateTaskLog]",
					"storedProcedureParameters": {
						"BatchLogId": {
							"value": {
								"value": "@pipeline().parameters.BatchLogId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"ErrorMessage": {
							"value": {
								"value": "An Error Occurred while processing the Cube",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecutionLogId": {
							"value": {
								"value": "@pipeline().parameters.TaskExecutionLogId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"Status": {
							"value": "Failure",
							"type": "String"
						},
						"TaskId": {
							"value": {
								"value": "@pipeline().parameters.TaskDetails.TaskId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"Output": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS-AzureSqlDatabase_Ctrldb",
					"type": "LinkedServiceReference",
					"parameters": {
						"kvSecret": "AzureSqlDatabase-ControlDB"
					}
				}
			},
			{
				"name": "Log Cube Process Success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "for-each-process",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CTL].[UpdateTaskLog]",
					"storedProcedureParameters": {
						"BatchLogId": {
							"value": {
								"value": "@pipeline().parameters.BatchLogId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"ExecutionLogId": {
							"value": {
								"value": "@pipeline().parameters.TaskExecutionLogId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"Output": {
							"value": {
								"value": "@pipeline().parameters.TaskDetails.LastLoadedFile",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": "Success",
							"type": "String"
						},
						"TaskId": {
							"value": {
								"value": "@pipeline().parameters.TaskDetails.TaskId",
								"type": "Expression"
							},
							"type": "Int64"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS-AzureSqlDatabase_Ctrldb",
					"type": "LinkedServiceReference",
					"parameters": {
						"kvSecret": "AzureSqlDatabase-ControlDB"
					}
				}
			}
		],
		"parameters": {
			"BatchLogId": {
				"type": "int"
			},
			"TaskDetails": {
				"type": "object"
			},
			"TaskExecutionLogId": {
				"type": "int"
			},
			"ProjectRunID": {
				"type": "string"
			}
		},
		"variables": {
			"resourceGroupName": {
				"type": "String"
			},
			"keyVaultName": {
				"type": "String"
			},
			"aasName": {
				"type": "String"
			},
			"waitSeconds": {
				"type": "String"
			}
		},
		"folder": {
			"name": "AAS"
		},
		"annotations": []
	}
}