DataFactory/pipeline/Business-Reconciliation_copy1.json
{
	"name": "Business-Reconciliation_copy1",
	"properties": {
		"activities": [
			{
				"name": "Copy-DeltaLake-RecordCount",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SP-Record-Business-Rec",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureDatabricksDeltaLakeSource",
						"query": "select max(calendaryear) as RecordCount from curated.dimdate",
						"exportSettings": {
							"type": "AzureDatabricksDeltaLakeExportCommand"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table ctl.Dummy",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "LS_AzureDatalake",
							"type": "LinkedServiceReference"
						},
						"path": "raw/landing/isu_data",
						"enableCompression": false
					},
					"parallelCopies": 32,
					"dataIntegrationUnits": 8
				},
				"inputs": [
					{
						"referenceName": "DS_CURATED_ADLS_DELTALAKE",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "curated.dimdate"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlDatabase_Ctrl_db_dummy",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy-DeltaLake-RecordCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlDatabase_Ctrl_db_dummy",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "RecordsRead",
					"value": {
						"value": "@string(activity('Lookup1').output)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SP-Record-Business-Rec",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CTL].[CreateBusinessRecRawToCurated]",
					"storedProcedureParameters": {
						"BatchExecutionLogID": {
							"value": {
								"value": "@pipeline().parameters.BatchExecutionLogID",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"Container": {
							"value": "raw",
							"type": "String"
						},
						"EndCounter": {
							"value": {
								"value": "@json(string(pipeline().parameters.ValidationDetails)).ReturnValue",
								"type": "Expression"
							},
							"type": "String"
						},
						"FileName": {
							"value": {
								"value": "@pipeline().parameters.TargetBLOBName",
								"type": "Expression"
							},
							"type": "String"
						},
						"FolderName": {
							"value": {
								"value": "@pipeline().parameters.TargetBLOBFolder",
								"type": "Expression"
							},
							"type": "String"
						},
						"Records": {
							"value": {
								"value": "@pipeline().parameters.ValidationDetails.RecordCount",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"SourceObject": {
							"value": {
								"value": "@pipeline().parameters.TaskDetails.SourceName",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartCounter": {
							"value": {
								"value": "@pipeline().parameters.TaskDetails.Watermarks",
								"type": "Expression"
							},
							"type": "String"
						},
						"TaskExecutionLogID": {
							"value": {
								"value": "@pipeline().parameters.TaskExecutionLogId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"DeltaColumn": {
							"value": {
								"value": "@pipeline().parameters.TaskDetails.WatermarkColumn",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"SourceFileName": {
							"value": "SQL",
							"type": "String"
						},
						"SourceFileDateStamp": {
							"value": "1",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS-AzureSqlDatabase_Ctrldb",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"RecordsWritten": {
				"type": "String"
			},
			"RecordsRead": {
				"type": "String"
			},
			"RecordMeasure": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Validation"
		},
		"annotations": []
	}
}