DataFactory/pipeline/Business-Reconciliation_copy1.json
{
	"name": "Business-Reconciliation_copy1",
	"properties": {
		"activities": [
			{
				"name": "Copy-DeltaLake-RecordCount",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureDatabricksDeltaLakeSource",
						"query": "select max(calendaryear) as RecordCount from curated.dimdate",
						"exportSettings": {
							"type": "AzureDatabricksDeltaLakeExportCommand"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "LS_AzureDatalake",
							"type": "LinkedServiceReference"
						},
						"path": {
							"value": "@variables('RecordsRead')",
							"type": "Expression"
						},
						"enableCompression": false
					},
					"parallelCopies": 32,
					"dataIntegrationUnits": 8
				},
				"inputs": [
					{
						"referenceName": "DS_CURATED_ADLS_DELTALAKE",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "curated.dimdate"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlDatabase_Ctrl_db_dummy",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy-DeltaLake-RecordCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlDatabase_Ctrl_db_dummy",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"RecordsWritten": {
				"type": "String"
			},
			"RecordsRead": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Validation"
		},
		"annotations": []
	}
}