DataFactory/pipeline/Business-Reconciliation_copy2.json
{
	"name": "Business-Reconciliation_copy2",
	"properties": {
		"activities": [
			{
				"name": "Notebook-getDeltaTableAggregateMeasure",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "SP-Get-Business-Recon-Record",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "@variables('NotbookURL')",
						"type": "Expression"
					},
					"baseParameters": {
						"target_table": "dimdate"
					}
				},
				"linkedServiceName": {
					"referenceName": "LS-AzureDatabricks_DefinedCluster",
					"type": "LinkedServiceReference",
					"parameters": {
						"kvSecret": "databricks-token",
						"clusterId": "1103-023442-me8nqcm9"
					}
				}
			},
			{
				"name": "SP-CreateTechRecRawToCleansed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Notebook-getDeltaTableAggregateMeasure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "CTL.CreateTechRecRawToCleansed",
					"storedProcedureParameters": {
						"BatchExecutionId": {
							"value": "999",
							"type": "Int64"
						},
						"TaskExecutionLogId": {
							"value": "999",
							"type": "Int64"
						},
						"TaskId": {
							"value": "999",
							"type": "Int64"
						},
						"SourceObject": {
							"value": "temp",
							"type": "String"
						},
						"TargetName": {
							"value": "temp",
							"type": "String"
						},
						"TotalNoRecords": {
							"value": {
								"value": "@activity('Notebook-getDeltaTableAggregateMeasure').output.runOutput",
								"type": "Expression"
							},
							"type": "Int64"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS-AzureSqlDatabase_Ctrldb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP-Get-Business-Recon-Record",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CTL].[GetBusinessReconRecords]",
					"storedProcedureParameters": {
						"BatchExecutionLogID": {
							"value": {
								"value": "@pipeline().parameters.BatchExecutionLogID",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"Container": {
							"value": "raw",
							"type": "String"
						},
						"EndCounter": {
							"value": {
								"value": "@json(string(pipeline().parameters.ValidationDetails)).ReturnValue",
								"type": "Expression"
							},
							"type": "String"
						},
						"FileName": {
							"value": {
								"value": "@pipeline().parameters.TargetBLOBName",
								"type": "Expression"
							},
							"type": "String"
						},
						"FolderName": {
							"value": {
								"value": "@pipeline().parameters.TargetBLOBFolder",
								"type": "Expression"
							},
							"type": "String"
						},
						"Records": {
							"value": {
								"value": "@pipeline().parameters.ValidationDetails.RecordCount",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"SourceObject": {
							"value": {
								"value": "@pipeline().parameters.TaskDetails.SourceName",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartCounter": {
							"value": {
								"value": "@pipeline().parameters.TaskDetails.Watermarks",
								"type": "Expression"
							},
							"type": "String"
						},
						"TaskExecutionLogID": {
							"value": {
								"value": "@pipeline().parameters.TaskExecutionLogId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"DeltaColumn": {
							"value": {
								"value": "@pipeline().parameters.TaskDetails.WatermarkColumn",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"SourceFileName": {
							"value": "SQL",
							"type": "String"
						},
						"SourceFileDateStamp": {
							"value": "1",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS-AzureSqlDatabase_Ctrldb",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"TaskDetails": {
				"type": "object"
			},
			"BatchLogId": {
				"type": "int"
			},
			"TaskExecutionLogId": {
				"type": "int"
			}
		},
		"variables": {
			"NotbookURL": {
				"type": "String",
				"defaultValue": "/build/curated/utility/getDeltaTableAggregateMeasure"
			},
			"ClusterType": {
				"type": "String",
				"defaultValue": "interactive"
			}
		},
		"folder": {
			"name": "Validation"
		},
		"annotations": []
	}
}