DataFactory/pipeline/generic-elt-failure.json
{
	"name": "generic-elt-failure",
	"properties": {
		"activities": [
			{
				"name": "get-sender",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://', pipeline().globalParameters.keyVaultName, '.vault.azure.net/secrets/daf-elt-send-email-sender?api-version=7.0')",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "get-recipient",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://', pipeline().globalParameters.keyVaultName, '.vault.azure.net/secrets/daf-elt-send-email-receipent?api-version=7.0')",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "execute-send-email",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "get-sender",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "get-recipient",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "send-email",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"importance": "High",
						"body": {
							"value": "<p>Hi team, we have identified a delay with the EDP refresh today.</p>\n<p>Data will be still available to query and you will be notified shortly when our team have corrected the load.</p>\n\n<p><b>Once data has been refreshed, please validate any results derived in the interim and inform us if you have any further issues.<b></p>\n",
							"type": "Expression"
						},
						"recipient": {
							"value": "@activity('get-recipient').output.value",
							"type": "Expression"
						},
						"sender": {
							"value": "@activity('get-sender').output.value",
							"type": "Expression"
						},
						"subject": "ELT Failure"
					}
				}
			}
		],
		"folder": {
			"name": "MDP-Framework/Common/Alerting"
		},
		"annotations": []
	}
}