DataFactory/pipeline/Main.json
{
	"name": "Main",
	"properties": {
		"activities": [
			{
				"name": "GetProjects",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 900,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[CTL].[sp_getProjects]",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlDatabase_read",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "UntilProjectEnd",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "AddProjectTasksToQueue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(0,activity('Check Queue').output.firstRow.TaskCount)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Check Queue",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 5,
								"retryIntervalInSeconds": 120,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[CTL].[sp_checkBatchStatus]",
									"storedProcedureParameters": {
										"BatchId": {
											"type": "Int64",
											"value": {
												"value": "@activity('AddProjectTasksToQueue').output.firstRow.BatchId",
												"type": "Expression"
											}
										}
									},
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AzureSqlDatabase_read",
									"type": "DatasetReference",
									"parameters": {
										"kvSecret": "ADF-LS-AzureSql-ControlDB"
									}
								}
							}
						},
						{
							"name": "ProcessProjects",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Check Queue",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ProcessBatchTasks",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"ExecTime": {
										"value": "@activity('AddProjectTasksToQueue').output.firstRow.ExecTime",
										"type": "Expression"
									},
									"BatchId": {
										"value": "@activity('AddProjectTasksToQueue').output.firstRow.BatchId",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "ProcessProjects",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 60
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "Purge queue",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "UntilProjectEnd",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CTL].[sp_PurgeQueue]",
					"storedProcedureParameters": {
						"BatchId": {
							"value": {
								"value": "@activity('AddProjectTasksToQueue').output.firstRow.BatchId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_Ctrldb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "AddProjectTasksToQueue",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "GetProjects",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[CTL].[sp_QueueProject]",
						"storedProcedureParameters": {
							"Items": {
								"type": "String",
								"value": {
									"value": "@string(activity('GetProjects').output)",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlDatabase_read",
						"type": "DatasetReference",
						"parameters": {
							"kvSecret": "ADF-LS-AzureSql-ControlDB"
						}
					}
				}
			}
		],
		"folder": {
			"name": "Control_V2"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}