DataFactory/pipeline/Main.json
{
	"name": "Main",
	"properties": {
		"activities": [
			{
				"name": "get-extract-load",
				"description": " ",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "DECLARE @SystemCodes VARCHAR(50) = '@{pipeline().parameters.SystemCodes}'\n,@parallelRun CHAR(1) = '@{pipeline().parameters.RunParallel}'\n,@c CHAR(1) = N',';\nWITH [_SystemCodes] AS (\n\tSELECT DISTINCT TRIM(value) [SystemCode], CHARINDEX(@c + value + @c, @c + @SystemCodes + @c) [ID]  FROM STRING_SPLIT(IIF(LEN(TRIM(@SystemCodes))=0, NULL, @SystemCodes), ',')\n)\nSELECT \nDISTINCT\nIIF(@parallelRun='N', (DENSE_RANK() OVER (PARTITION BY NULL ORDER BY [ID]) * 1000), '') +  LEFT([SourceID], 2) [Order]\n,M.[SystemCode]\nFROM [dbo].[ExtractLoadManifest] M\nJOIN [_SystemCodes] C ON C.[SystemCode] = M.[SystemCode] \nWHERE [Enabled] = 1 \nUNION \nSELECT \nDISTINCT\nLEFT([SourceID], 2) [Order]\n,M.[SystemCode]\nFROM [dbo].[ExtractLoadManifest] M\nWHERE [Enabled] = 1 AND (SELECT COUNT(*) FROM [_SystemCodes]) = 0\nORDER BY 1",
							"type": "Expression"
						},
						"queryTimeout": "00:02:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_ControlDB",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "set-parent-batch",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ParentBatchID",
					"value": {
						"value": "@substring(pipeline().GroupId, 0,8)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "if-run-parallel",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "get-extract-load",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set-parent-batch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.RunParallel, 'Y')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "execute-systems-serial",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Systems-Serial",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"SystemCodes": {
										"value": "@activity('get-extract-load').output.value",
										"type": "Expression"
									},
									"ParentBatchID": {
										"value": "@variables('ParentBatchID')",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "execute-systems-parallel",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Systems-Parallel",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"SystemCodes": {
										"value": "@activity('get-extract-load').output.value",
										"type": "Expression"
									},
									"ParentBatchID": {
										"value": "@variables('ParentBatchID')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SystemCodes": {
				"type": "string"
			},
			"RunParallel": {
				"type": "string",
				"defaultValue": "Y"
			}
		},
		"variables": {
			"SystemCode": {
				"type": "String"
			},
			"ParentBatchID": {
				"type": "String"
			},
			"Transform": {
				"type": "Boolean",
				"defaultValue": false
			}
		},
		"folder": {
			"name": "MDP-Framework"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-08T02:50:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}