DataFactory/pipeline/ProcessBatchTasks.json
{
	"name": "ProcessBatchTasks",
	"properties": {
		"activities": [
			{
				"name": "GetTask",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[CTL].[sp_getTasksToProcess]",
						"storedProcedureParameters": {
							"BatchID": {
								"type": "Int64",
								"value": {
									"value": "@pipeline().parameters.BatchId",
									"type": "Expression"
								}
							},
							"ExecTime": {
								"type": "Datetime",
								"value": {
									"value": "@pipeline().parameters.ExecTime",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "AzureSqlDatabase_read",
						"type": "DatasetReference",
						"parameters": {
							"kvSecret": "ADF-LS-AzureSql-ControlDB"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetTask",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetTask').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 50,
					"activities": [
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().TaskType",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "SQL Server_Full",
										"activities": [
											{
												"name": "SQL_Full_to_ABS csv_gz",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "SQL_Full_to_ABS csv_gz",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"item": {
															"value": "@item()",
															"type": "Expression"
														}
													}
												}
											}
										]
									},
									{
										"value": "Databricks",
										"activities": [
											{
												"name": "Databricks",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "Databricks",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"item": {
															"value": "@item()",
															"type": "Expression"
														},
														"execTime": {
															"value": "@pipeline().parameters.ExecTime",
															"type": "Expression"
														}
													}
												}
											}
										]
									},
									{
										"value": "SQL Server_Full_ADLS",
										"activities": [
											{
												"name": "SQL_Full_to_ADLS csv_gz",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "SQL_Full_to_ADLS csv_gz",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"item": {
															"value": "@item()",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "Default",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 1
										}
									},
									{
										"name": "Log Oracle_Full",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Default",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[CTL].[sp_updateTaskLog]",
											"storedProcedureParameters": {
												"BatchId": {
													"value": {
														"value": "@item().BatchId",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"Output": {
													"value": "{\"errorMessage\": \"Ran Default Pipeline\"}",
													"type": "String"
												},
												"FullBlobName": {
													"value": {
														"value": "@concat(item().TargetName,item().Path,item().TargetName)",
														"type": "Expression"
													},
													"type": "String"
												},
												"TaskId": {
													"value": {
														"value": "@item().TaskId",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"RunId": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "AzureSqlDatabase_Ctrldb",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"BatchId": {
				"type": "int"
			},
			"ExecTime": {
				"type": "string"
			}
		},
		"variables": {
			"FullBlobName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Control_V2"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines",
	"apiVersion": "2018-06-01",
	"dependsOn": [
		"[concat(variables('factoryId'), '/datasets/AzureSqlDatabase_read')]",
		"[concat(variables('factoryId'), '/linkedServices/AzureSQLDatabase')]",
		"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks_DefinedCluster')]",
		"[concat(variables('factoryId'), '/datasets/Oracle')]",
		"[concat(variables('factoryId'), '/datasets/AzureBlobStorage_Raw')]",
		"[concat(variables('factoryId'), '/datasets/SQLServer_Read')]",
		"[concat(variables('factoryId'), '/pipelines/Update Watermarks from Oracle')]",
		"[concat(variables('factoryId'), '/datasets/Binary')]",
		"[concat(variables('factoryId'), '/datasets/AzureBlobStorage_Raw_Binary')]",
		"[concat(variables('factoryId'), '/datasets/FTP')]",
		"[concat(variables('factoryId'), '/datasets/AzureBlobStorage_Raw_CAMMS_bak')]",
		"[concat(variables('factoryId'), '/datasets/SQLServer_Table')]",
		"[concat(variables('factoryId'), '/linkedServices/SQLServer')]",
		"[concat(variables('factoryId'), '/datasets/AzureSqlDatabase_SQLDB')]"
	]
}