DataFactory/pipeline/run-databricks-notebook-base.json
{
	"name": "run-databricks-notebook-base",
	"properties": {
		"activities": [
			{
				"name": "get-bearer-token",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "switch-token-name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://@{pipeline().globalParameters.keyVaultName}.vault.azure.net/secrets/@{variables('KVTokenName')}?api-version=7.0",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "get-databricks-instance-pools",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "set-databricks-token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@{variables('WorkspaceUrl')}/api/2.0/instance-pools/list",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "IntegrationRuntime-Azure-ManagedVnet-01",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "Bearer @{variables('DatabricksToken')}",
							"type": "Expression"
						}
					},
					"body": {
						"autoscale": {
							"min_workers": 2,
							"max_workers": 10
						},
						"cluster_name": "sewer-cctv",
						"spark_version": "10.4.x-cpu-ml-scala2.12",
						"spark_conf": {
							"spark.databricks.delta.preview.enabled": "true"
						},
						"ssh_public_keys": [],
						"autotermination_minutes": 60,
						"init_scripts": [],
						"instance_pool_id": "1024-005500-twain3-pool-jk2lh0go",
						"driver_instance_pool_id": "1024-005500-twain3-pool-jk2lh0go",
						"runtime_engine": "STANDARD"
					}
				}
			},
			{
				"name": "filter-instance-pool",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "get-databricks-instance-pools",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set-instance-pool-name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get-databricks-instance-pools').output.instance_pools",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(toLower(item().instance_pool_name), toLower(variables('InstancePoolName')))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set-instance-pool-id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "is-instance-pool-found",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "InstancePoolId",
					"value": {
						"value": "@activity('filter-instance-pool').output.value[0].instance_pool_id",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set-cluster-name",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ClusterName",
					"value": {
						"value": "@if(\n\tcontains(\n\t\tcoalesce(\n\t\t\tpipeline().parameters.task.ExtendedProperties, ''), \n\t\t\t'OverrideClusterName'\n\t), \n\tjson(\n\t\tcoalesce(\n\t\t\tpipeline().parameters.task.ExtendedProperties, \n\t\t\t'{}'\n\t\t)\n\t).OverrideClusterName,\n\t'None'\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "get-databricks-clusters",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "set-databricks-token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@{variables('WorkspaceUrl')}/api/2.0/clusters/list",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "IntegrationRuntime-Azure-ManagedVnet-01",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "Bearer @{variables('DatabricksToken')}",
							"type": "Expression"
						}
					},
					"body": {
						"autoscale": {
							"min_workers": 2,
							"max_workers": 10
						},
						"cluster_name": "sewer-cctv",
						"spark_version": "10.4.x-cpu-ml-scala2.12",
						"spark_conf": {
							"spark.databricks.delta.preview.enabled": "true"
						},
						"ssh_public_keys": [],
						"autotermination_minutes": 60,
						"init_scripts": [],
						"instance_pool_id": "1024-005500-twain3-pool-jk2lh0go",
						"driver_instance_pool_id": "1024-005500-twain3-pool-jk2lh0go",
						"runtime_engine": "STANDARD"
					}
				}
			},
			{
				"name": "filter-clusters",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "set-cluster-name",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "get-databricks-clusters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get-databricks-clusters').output.clusters",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(toLower(item().cluster_name), toLower(variables('ClusterName')))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set-cluster-id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "filter-clusters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ClusterId",
					"value": {
						"value": "@if(equals(variables('ClusterName'),'None'), '', activity('filter-clusters').output.value[0].cluster_id)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "if-cluster",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "set-instance-pool-id",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set-cluster-id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@if(equals(variables('ClusterId'),''),bool(false),bool(true))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "pool-run-databricks",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": {
									"value": "@pipeline().parameters.notebookPath",
									"type": "Expression"
								},
								"baseParameters": {
									"task": {
										"value": "@{pipeline().parameters.task}",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureDatabricks_InstancePool",
								"type": "LinkedServiceReference",
								"parameters": {
									"kvSecretNameToken": {
										"value": "@variables('KVTokenName')",
										"type": "Expression"
									},
									"PoolId": {
										"value": "@variables('InstancePoolId')",
										"type": "Expression"
									},
									"DatabricksVersion": "12.2.x-scala2.12",
									"newClusterNumOfWorker": "1:4",
									"ProductTag": "Framework ETL 2.0",
									"kvSecretNameUrl": {
										"value": "@variables('KVUrlName')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "log-databricks-instance-pool",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "pool-run-databricks",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "log-message",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"ID": {
										"value": "@pipeline().parameters.task.ID",
										"type": "Expression"
									},
									"ActivityType": {
										"value": "@pipeline().parameters.logActivityType",
										"type": "Expression"
									},
									"Message": {
										"value": "@{activity('pool-run-databricks')}",
										"type": "Expression"
									},
									"IsTransform": {
										"value": "@pipeline().parameters.isTransform",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "databricks-fail-instance-pool",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "pool-run-databricks",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@activity('pool-run-databricks').output.Error",
									"type": "Expression"
								},
								"errorCode": "500"
							}
						},
						{
							"name": "set-sink-flag-instance-pool",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "pool-run-databricks",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "SinkFlag",
								"value": {
									"value": "@string(bool(contains(activity('pool-run-databricks').output,'runOutput')))",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "cluster-run-databricks",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": {
									"value": "@pipeline().parameters.notebookPath",
									"type": "Expression"
								},
								"baseParameters": {
									"task": {
										"value": "@{pipeline().parameters.task}",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS-AzureDatabricks_DefinedCluster",
								"type": "LinkedServiceReference",
								"parameters": {
									"kvSecretNameToken": {
										"value": "@variables('KVTokenName')",
										"type": "Expression"
									},
									"clusterId": {
										"value": "@variables('ClusterId')",
										"type": "Expression"
									},
									"kvSecretNameUrl": {
										"value": "@variables('KVUrlName')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "log-databricks-cluster",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "cluster-run-databricks",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "log-message",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"ID": {
										"value": "@pipeline().parameters.task.ID",
										"type": "Expression"
									},
									"ActivityType": {
										"value": "@pipeline().parameters.logActivityType",
										"type": "Expression"
									},
									"Message": {
										"value": "@{activity('cluster-run-databricks')}",
										"type": "Expression"
									},
									"IsTransform": {
										"value": "@pipeline().parameters.isTransform",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "databricks-fail-cluster",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "cluster-run-databricks",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@activity('cluster-run-databricks').output.Error",
									"type": "Expression"
								},
								"errorCode": "500"
							}
						},
						{
							"name": "set-sink-flag-cluster",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "cluster-run-databricks",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "SinkFlag",
								"value": {
									"value": "@string(bool(contains(activity('cluster-run-databricks').output,'runOutput')))",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "get-workspace-url",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "switch-url-name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://@{pipeline().globalParameters.keyVaultName}.vault.azure.net/secrets/@{variables('KVUrlName')}?api-version=7.0",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "set-workspace-url",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get-workspace-url",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "WorkspaceUrl",
					"value": {
						"value": "@activity('get-workspace-url').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set-databricks-token",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get-bearer-token",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set-workspace-url",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "DatabricksToken",
					"value": {
						"value": "@activity('get-bearer-token').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "switch-token-name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "workspace-switch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "KVTokenName",
					"value": {
						"value": "@if(variables('WorkspaceSwitch'), 'edp-databricks-02-token', 'databricks-token')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "switch-url-name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "workspace-switch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "KVUrlName",
					"value": {
						"value": "@if(variables('WorkspaceSwitch'), 'edp-databricks-02-url', 'databricks-domain')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "is-instance-pool-found",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "filter-instance-pool",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(int(activity('filter-instance-pool').output.FilteredItemsCount), 1)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "fail-pool-not-found",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "500",
								"errorCode": "Pool not found!"
							}
						}
					]
				}
			},
			{
				"name": "workspace-switch",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "WorkspaceSwitch",
					"value": {
						"value": "@if(contains(pipeline().parameters.task, 'WorkspaceSwitch'), equals(pipeline().parameters.task.WorkspaceSwitch, 1), false)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "get-default-pool-name",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:03:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://@{pipeline().globalParameters.keyVaultName}.vault.azure.net/secrets/daf-databricks-default-pool-name?api-version=7.0",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "set-instance-pool-name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get-default-pool-name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "InstancePoolName",
					"value": {
						"value": "@coalesce(if(contains(pipeline().parameters.task, 'ExtraConfig'),\nif(\n\tcontains(\n\t\tcoalesce(\n\t\t\tpipeline().parameters.task.ExtendedProperties, ''), \n\t\t\t'OverridePoolName'\n\t), \n\tjson(\n\t\tcoalesce(\n\t\t\tpipeline().parameters.task.ExtendedProperties, \n\t\t\t'{}'\n\t\t)\n\t).OverridePoolName,\n\tjson(pipeline().parameters.task.ExtraConfig)[0].DefaultPoolName\n), null)\n,activity('get-default-pool-name').output.value)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"task": {
				"type": "object"
			},
			"notebookPath": {
				"type": "string"
			},
			"logActivityType": {
				"type": "string"
			},
			"isTransform": {
				"type": "bool",
				"defaultValue": false
			}
		},
		"variables": {
			"InstancePoolId": {
				"type": "String"
			},
			"InstancePoolName": {
				"type": "String",
				"defaultValue": "pool-small"
			},
			"SinkFlag": {
				"type": "String"
			},
			"ClusterId": {
				"type": "String"
			},
			"ClusterName": {
				"type": "String"
			},
			"KVTokenName": {
				"type": "String",
				"defaultValue": "daf-databricks-token-private"
			},
			"KVUrlName": {
				"type": "String",
				"defaultValue": "databricks-domain"
			},
			"WorkspaceUrl": {
				"type": "String"
			},
			"DatabricksToken": {
				"type": "String"
			},
			"WorkspaceSwitch": {
				"type": "Boolean",
				"defaultValue": false
			}
		},
		"folder": {
			"name": "MDP-Framework/Common/Databricks"
		},
		"annotations": []
	}
}