DataFactory/pipeline/scctv-process-kaltura-json.json
{
    "name": "scctv-process-kaltura-json",
    "properties": {
        "activities": [
            {
                "name": "get-kaltura-metadata",
                "type": "GetMetadata",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "kaltura_metadata_inbound_blob",
                        "type": "DatasetReference"
                    },
                    "fieldList": [
                        "childItems"
                    ],
                    "storeSettings": {
                        "type": "AzureBlobStorageReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "BinaryReadSettings"
                    }
                }
            },
            {
                "name": "for-each-kaltura-metadata-json-file",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "get-kaltura-metadata",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('get-kaltura-metadata').output.childItems",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "if-in-allowable-run-time-exec-kaltura-ingestion",
                            "type": "ExecutePipeline",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "pipeline": {
                                    "referenceName": "scctv-allowable-run-time-kaltura-processing",
                                    "type": "PipelineReference"
                                },
                                "waitOnCompletion": true,
                                "parameters": {
                                    "processStartTime": {
                                        "value": "@pipeline().parameters.processStartTime",
                                        "type": "Expression"
                                    },
                                    "processEndTime": {
                                        "value": "@pipeline().parameters.processEndTime",
                                        "type": "Expression"
                                    },
                                    "JobPoolId": {
                                        "value": "@pipeline().parameters.JobPoolId",
                                        "type": "Expression"
                                    },
                                    "fileName": {
                                        "value": "@item().name",
                                        "type": "Expression"
                                    }
                                }
                            }
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "JobPoolId": {
                "type": "string"
            },
            "processStartTime": {
                "type": "int",
                "defaultValue": 8
            },
            "processEndTime": {
                "type": "int",
                "defaultValue": 19
            }
        },
        "variables": {
            "JobPoolId": {
                "type": "String"
            }
        },
        "folder": {
            "name": "AI-ML/Sewer CCTV"
        },
        "annotations": []
    }
}