DataFactory/pipeline/scctv-process-kaltura-json.json
{
	"name": "scctv-process-kaltura-json",
	"properties": {
		"activities": [
			{
				"name": "get-kaltura-metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "kaltura_metadata_inbound_blob",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "for-each-kaltura-metadata-json-file",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get-kaltura-metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get-kaltura-metadata').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "ingest-kaltura-metadata",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/AI-ML/Sewer CCTV/ingest_kaltura_metadata",
								"baseParameters": {
									"json_file_name": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureDatabricks_InstancePool",
								"type": "LinkedServiceReference",
								"parameters": {
									"kvSecret": "databricks-token",
									"PoolId": {
										"value": "@pipeline().parameters.JobPoolId",
										"type": "Expression"
									},
									"DatabricksVersion": "10.4.x-cpu-ml-scala2.12"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"JobPoolId": {
				"type": "string"
			}
		},
		"variables": {
			"JobPoolId": {
				"type": "String"
			}
		},
		"folder": {
			"name": "AI-ML/Sewer CCTV"
		},
		"annotations": []
	}
}