DataFactory/pipeline/scctv-download-high-queue-videos.json
{
	"name": "scctv-download-high-queue-videos",
	"properties": {
		"activities": [
			{
				"name": "get-high-priority-que-videos",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "kaltura_video_que_high_inbound_blob",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "download-videos-high-priority",
				"description": "to be run outside business hours",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "get-high-priority-que-videos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(or(greater(int(utcNow('HH')), pipeline().parameters.processEndTime), less(int(utcNow('HH')), pipeline().parameters.processStartTime)), or(equals(variables('fail'), true), equals(variables('complete'), true)))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "batch-download-videos-queue-high",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "scctv-batch-download-queue-high-videos",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"videoBatch": {
										"value": "@activity('get-high-priority-que-videos').output.childItems",
										"type": "Expression"
									},
									"kalturaId": {
										"value": "@pipeline().parameters.kalturaId",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "complete",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "batch-download-videos-queue-high",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "complete",
								"value": true
							}
						},
						{
							"name": "fail",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "batch-download-videos-queue-high",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "fail",
								"value": true
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"parameters": {
			"processStartTime": {
				"type": "int"
			},
			"processEndTime": {
				"type": "int"
			},
			"kalturaId": {
				"type": "string",
				"defaultValue": "107"
			}
		},
		"variables": {
			"complete": {
				"type": "Boolean",
				"defaultValue": false
			},
			"fail": {
				"type": "Boolean",
				"defaultValue": false
			},
			"test": {
				"type": "Boolean"
			}
		},
		"folder": {
			"name": "AI-ML/Sewer CCTV"
		},
		"annotations": []
	}
}