DataFactory/pipeline/scctv-cluster-deployment.json
{
	"name": "scctv-cluster-deployment",
	"properties": {
		"activities": [
			{
				"name": "get-databricks-job-pools",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://australiaeast.azuredatabricks.net/api/2.0/instance-pools/list",
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "Bearer @{pipeline().parameters.DatabricksSecret}",
							"type": "Expression"
						}
					},
					"body": {
						"autoscale": {
							"min_workers": 2,
							"max_workers": 10
						},
						"cluster_name": "sewer-cctv",
						"spark_version": "10.4.x-cpu-ml-scala2.12",
						"spark_conf": {
							"spark.databricks.delta.preview.enabled": "true"
						},
						"ssh_public_keys": [],
						"autotermination_minutes": 60,
						"init_scripts": [],
						"instance_pool_id": "1024-005500-twain3-pool-jk2lh0go",
						"driver_instance_pool_id": "1024-005500-twain3-pool-jk2lh0go",
						"runtime_engine": "STANDARD"
					}
				}
			},
			{
				"name": "check-job-pool-exists",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get-databricks-job-pools",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get-databricks-job-pools').output.instance_pools",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "check-pool-name-is-SCCTV-BATCHPOOL-DS4",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().instance_pool_name, 'SCCTV BATCH POOL DS4')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "set-job-pool-id-1",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "JobPoolId",
											"value": {
												"value": "@item().instance_pool_id",
												"type": "Expression"
											}
										}
									},
									{
										"name": "set-job-pool-exists",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "set-job-pool-id-1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "JobPoolExists",
											"value": true
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "if-job-pool-exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "check-job-pool-exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('JobPoolExists'), true)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "create-job-pool",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://australiaeast.azuredatabricks.net/api/2.0/instance-pools/create",
								"method": "POST",
								"headers": {
									"Authorization": {
										"value": "Bearer @{pipeline().parameters.DatabricksSecret}",
										"type": "Expression"
									}
								},
								"body": {
									"instance_pool_name": "SCCTV BATCH POOL DS4",
									"node_type_id": "Standard_DS4_v2",
									"min_idle_instances": 0,
									"custom_tags": [
										{
											"key": "Product",
											"value": "Sewer CCTV Application"
										}
									]
								}
							}
						},
						{
							"name": "set-job-pool-exists-1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "set-job-pool-id",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "JobPoolExists",
								"value": true
							}
						},
						{
							"name": "set-job-pool-id",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "create-job-pool",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "JobPoolId",
								"value": {
									"value": "@activity('create-job-pool').output.instance_pool_id",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "get-databricks-clusters",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://australiaeast.azuredatabricks.net/api/2.0/clusters/list",
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "Bearer @{pipeline().parameters.DatabricksSecret}",
							"type": "Expression"
						}
					},
					"body": {
						"autoscale": {
							"min_workers": 2,
							"max_workers": 10
						},
						"cluster_name": "sewer-cctv",
						"spark_version": "10.4.x-cpu-ml-scala2.12",
						"spark_conf": {
							"spark.databricks.delta.preview.enabled": "true"
						},
						"ssh_public_keys": [],
						"autotermination_minutes": 60,
						"init_scripts": [],
						"instance_pool_id": "1024-005500-twain3-pool-jk2lh0go",
						"driver_instance_pool_id": "1024-005500-twain3-pool-jk2lh0go",
						"runtime_engine": "STANDARD"
					}
				}
			},
			{
				"name": "check-cluster-exists",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get-databricks-clusters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get-databricks-clusters').output.clusters",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "check-cluster-name-is-sewer-cctv",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().cluster_name, 'sewer-cctv')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "set-cluster-exists",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "set-cluster-id",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "ClusterExists",
											"value": true
										}
									},
									{
										"name": "set-cluster-id",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "ClusterId",
											"value": {
												"value": "@item().cluster_id",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "if-cluster-exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "check-cluster-exists",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "if-job-pool-exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('ClusterExists'), true)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "create-cluster",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://australiaeast.azuredatabricks.net/api/2.0/clusters/create",
								"method": "POST",
								"headers": {
									"Authorization": {
										"value": "Bearer @{pipeline().parameters.DatabricksSecret}",
										"type": "Expression"
									}
								},
								"body": {
									"value": "{\"autoscale\":{\"min_workers\":2,\"max_workers\":10},\"cluster_name\":\"sewer-cctv\",\"spark_version\":\"10.4.x-cpu-ml-scala2.12\",\"spark_conf\":{\"spark.databricks.delta.preview.enabled\":\"true\"},\"azure_attributes\":{},\"ssh_public_keys\":[],\"spark_env_vars\":{},\"autotermination_minutes\":60,\"init_scripts\":[],\"instance_pool_id\":\"@{variables('JobPoolId')}\",\"driver_instance_pool_id\":\"@{variables('JobPoolId')}\",\"runtime_engine\":\"STANDARD\"}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "set-cluster-id-2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "create-cluster",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ClusterId",
								"value": {
									"value": "@activity('create-cluster').output.cluster_id",
									"type": "Expression"
								}
							}
						},
						{
							"name": "set-cluster-exists-2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "set-cluster-id-2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ClusterExists",
								"value": true
							}
						}
					]
				}
			}
		],
		"parameters": {
			"DatabricksSecret": {
				"type": "string"
			}
		},
		"variables": {
			"JobPoolExists": {
				"type": "Boolean",
				"defaultValue": false
			},
			"JobPoolId": {
				"type": "String"
			},
			"ClusterExists": {
				"type": "Boolean",
				"defaultValue": false
			},
			"ClusterId": {
				"type": "String"
			}
		},
		"folder": {
			"name": "AI-ML/Sewer CCTV"
		},
		"annotations": []
	}
}