DataFactory/pipeline/System.json
{
	"name": "System",
	"properties": {
		"activities": [
			{
				"name": "get-tasks",
				"description": "",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "set-parent-batch",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set-extra-config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[ExtractLoadInit]",
						"storedProcedureParameters": {
							"BatchID": {
								"value": {
									"value": "@variables('ParentBatchID')",
									"type": "Expression"
								}
							},
							"SystemCode": {
								"value": {
									"value": "@pipeline().parameters.SystemCode",
									"type": "Expression"
								}
							},
							"ExtraConfig": {
								"value": {
									"value": "@string(variables('ExtraConfig'))",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_ControlDB",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "for-each-raw",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get-tasks",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set-secret-variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get-tasks').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 6,
					"activities": [
						{
							"name": "execute-raw",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Raw",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"task": {
										"value": "@item()",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "set-parent-batch",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ParentBatchID",
					"value": {
						"value": "@substring(coalesce(pipeline().parameters.ParentBatchID, pipeline().GroupId), 0,8)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "for-each-cleansed",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "for-each-raw",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get-tasks').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 6,
					"activities": [
						{
							"name": "execute-cleansed",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Cleansed",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"task": {
										"value": "@item()",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "end-system",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "if-view-creation",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "UPDATE U\nSET [EndedDTS] = CONVERT(DATETIME, CONVERT(DATETIMEOFFSET, GETDATE()) AT TIME ZONE 'AUS Eastern Standard Time')\nFROM [dbo].[ExtractLoadStatus] U\nWHERE BatchID = '@{variables('ParentBatchID')}'\nAND SystemCode = '@{pipeline().parameters.SystemCode}'\nSELECT 1 A",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_ControlDB",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "get-bearer-token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://', pipeline().globalParameters.keyVaultName, '.vault.azure.net/secrets/databricks-token?api-version=7.0')",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "set-secret-variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get-bearer-token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "DatabricksSecret",
					"value": {
						"value": "@activity('get-bearer-token').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set-extra-config",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get-default-pool-name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ExtraConfig",
					"value": {
						"value": "@json(\n    concat(\n        '[{',\n        '\"DefaultPoolName\":\"',activity('get-default-pool-name').output.value,'\"',\n        '}]'\n    )\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "get-default-pool-name",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://', pipeline().globalParameters.keyVaultName, '.vault.azure.net/secrets/daf-databricks-default-pool-name?api-version=7.0')",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "get-view-creation-flag",
				"description": "",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "for-each-cleansed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "declare @val bit = 0\n\ndeclare @sysCode varchar(100) = '@{pipeline().parameters.SystemCode}'\n\nselect @val = value\nfrom dbo.config\nwhere keygroup = 'runviewcreation'\nand [key] = @sysCode\n\nselect value = @val\n",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_ControlDB",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "if-view-creation",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "get-view-creation-flag",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set-default-pool-id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('get-view-creation-flag').output.firstRow.value",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "run-common-create-views",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/MDP-Framework/Transform/common-create-views",
								"baseParameters": {
									"system_code": {
										"value": "@pipeline().parameters.SystemCode",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureDatabricks_InstancePool",
								"type": "LinkedServiceReference",
								"parameters": {
									"kvSecret": "databricks-token",
									"PoolId": {
										"value": "@variables('PoolId')",
										"type": "Expression"
									},
									"DatabricksVersion": "10.4.x-scala2.12",
									"newClusterNumOfWorker": "1:4"
								}
							}
						}
					]
				}
			},
			{
				"name": "get-default-pool-id",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://', pipeline().globalParameters.keyVaultName, '.vault.azure.net/secrets/daf-databricks-default-pool-id?api-version=7.0')",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "set-default-pool-id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get-default-pool-id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PoolId",
					"value": {
						"value": "@activity('get-default-pool-id').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SystemCode": {
				"type": "string",
				"defaultValue": "System"
			},
			"ParentBatchID": {
				"type": "string"
			}
		},
		"variables": {
			"ParentBatchID": {
				"type": "String"
			},
			"DatabricksSecret": {
				"type": "String"
			},
			"ExtraConfig": {
				"type": "Array"
			},
			"PoolId": {
				"type": "String"
			}
		},
		"folder": {
			"name": "MDP-Framework"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-08T02:50:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}