DataFactory/pipeline/Test_04-LakeLanding-FlatFile-A-Source-Copy.json
{
	"name": "Test_04-LakeLanding-FlatFile-A-Source-Copy",
	"properties": {
		"activities": [
			{
				"name": "Set-Source-Container",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "SourceContainer",
					"value": "accessdata"
				}
			},
			{
				"name": "Set-Source-Filename",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "SourceFileName",
					"value": "Z309_TLOCALGOVT.csv"
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Set-Source-Container",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set-Source-Filename",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SRC_RAW_LANDING_ADLS_CSV",
						"type": "DatasetReference",
						"parameters": {
							"BlobPath": {
								"value": "@variables('SourceContainer')",
								"type": "Expression"
							},
							"BlobName": {
								"value": "@variables('SourceFileName')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Metadata1').output,'True')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy File to Raw Zone",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SRC_RAW_LANDING_ADLS_CSV",
									"type": "DatasetReference",
									"parameters": {
										"BlobPath": {
											"value": "@variables('SourceContainer')",
											"type": "Expression"
										},
										"BlobName": {
											"value": "@variables('SourceFileName')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DST_RAW_ADLS_CSV",
									"type": "DatasetReference",
									"parameters": {
										"BlobPath": "accessdata/test",
										"BlobName": "Z309_TLOCALGOVT.csv"
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"SourceContainer": {
				"type": "String"
			},
			"SourceFileName": {
				"type": "String"
			},
			"OutputFileName": {
				"type": "String"
			},
			"DeltaSQL": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Blob"
		},
		"annotations": [],
		"lastPublishTime": "2021-06-30T08:46:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}