DataFactory/pipeline/testDeltaTableWrite.json
{
	"name": "testDeltaTableWrite",
	"properties": {
		"activities": [
			{
				"name": "Copy-Source-DataLake",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM EQ1.ERCHO WHERE ?AdfDynamicRangePartitionCondition",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "DynamicRange",
						"partitionSettings": {
							"partitionColumnName": "BELNR_INT",
							"partitionUpperBound": "",
							"partitionLowerBound": ""
						}
					},
					"sink": {
						"type": "AzureDatabricksDeltaLakeSink",
						"importSettings": {
							"type": "AzureDatabricksDeltaLakeImportCommand"
						}
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "LS_AzureDatalake",
							"type": "LinkedServiceReference"
						},
						"path": "raw/landing/isu_data/ercho",
						"enableCompression": false
					},
					"parallelCopies": 32,
					"dataIntegrationUnits": 8
				},
				"inputs": [
					{
						"referenceName": "SRC_SQLSERVER",
						"type": "DatasetReference",
						"parameters": {
							"kvSecret": {
								"value": "daf-sql-slt-test-connectionstring",
								"type": "Expression"
							},
							"tableName": "ERCHO",
							"schemaName": "EQ1"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_RAW_ADLS_DELTALAKE",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "isu_ercho"
						}
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy-Source-DataLake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "RecordsRead",
					"value": {
						"value": "string(@activity('Copy-Source-DataLake').output.rowsRead)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy-Source-DataLake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "RecordsWritten",
					"value": {
						"value": "string(@activity('Copy-Source-DataLake').output.rowsCopied)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"RecordsWritten": {
				"type": "String"
			},
			"RecordsRead": {
				"type": "String"
			}
		},
		"folder": {
			"name": "z_Archive/Test"
		},
		"annotations": []
	}
}