DataFactory/pipeline/util-cluster-deployment.json
{
	"name": "util-cluster-deployment",
	"properties": {
		"activities": [
			{
				"name": "get-databricks-clusters",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://australiaeast.azuredatabricks.net/api/2.0/clusters/list",
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "Bearer @{pipeline().parameters.DatabricksSecret}",
							"type": "Expression"
						}
					},
					"body": {
						"autoscale": {
							"min_workers": 2,
							"max_workers": 10
						},
						"cluster_name": "sewer-cctv",
						"spark_version": "10.4.x-cpu-ml-scala2.12",
						"spark_conf": {
							"spark.databricks.delta.preview.enabled": "true"
						},
						"ssh_public_keys": [],
						"autotermination_minutes": 60,
						"init_scripts": [],
						"instance_pool_id": "1024-005500-twain3-pool-jk2lh0go",
						"driver_instance_pool_id": "1024-005500-twain3-pool-jk2lh0go",
						"runtime_engine": "STANDARD"
					}
				}
			},
			{
				"name": "check-cluster-exists",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get-databricks-clusters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get-databricks-clusters').output.clusters",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "check-cluster-name-is-sewer-cctv",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().cluster_name, pipeline().parameters.ClusterName)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "set-cluster-exists",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "set-cluster-id",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "ClusterExists",
											"value": true
										}
									},
									{
										"name": "set-cluster-id",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "ClusterId",
											"value": {
												"value": "@item().cluster_id",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "if-cluster-exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "check-cluster-exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('ClusterExists'), true)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "create-cluster",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://australiaeast.azuredatabricks.net/api/2.0/clusters/create",
								"method": "POST",
								"headers": {
									"Authorization": {
										"value": "Bearer @{pipeline().parameters.DatabricksSecret}",
										"type": "Expression"
									}
								},
								"body": {
									"value": "{\n    \"autoscale\": {\n        \"min_workers\": @{pipeline().parameters.MinWorkers},\n        \"max_workers\": @{pipeline().parameters.MaxWorkers}\n    },\n    \"cluster_name\": \"@{pipeline().parameters.ClusterName}\",\n    \"spark_version\": \"@{pipeline().parameters.SparkVersion}\",\n    \"spark_conf\": {\n        \"spark.databricks.delta.preview.enabled\": \"true\"\n    },\n    \"azure_attributes\": {},\n    \"ssh_public_keys\": [],\n    \"spark_env_vars\": {},\n    \"autotermination_minutes\": @{pipeline().parameters.AutoTermination},\n    \"init_scripts\": [],\n    \"instance_pool_id\": \"@{variables('JobPoolId')}\",\n    \"driver_instance_pool_id\": \"@{variables('JobPoolId')}\",\n    \"runtime_engine\": \"STANDARD\"\n}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "set-cluster-id-2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "create-cluster",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ClusterId",
								"value": {
									"value": "@activity('create-cluster').output.cluster_id",
									"type": "Expression"
								}
							}
						},
						{
							"name": "set-cluster-exists-2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "set-cluster-id-2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ClusterExists",
								"value": true
							}
						}
					]
				}
			}
		],
		"parameters": {
			"DatabricksSecret": {
				"type": "string"
			},
			"ClusterName": {
				"type": "string"
			},
			"MinWorkers": {
				"type": "string",
				"defaultValue": "2"
			},
			"MaxWorkers": {
				"type": "string",
				"defaultValue": "4"
			},
			"SparkVersion": {
				"type": "string",
				"defaultValue": "10.4.x-cpu-ml-scala2.12"
			},
			"JobPoolId": {
				"type": "string"
			},
			"AutoTermination": {
				"type": "string",
				"defaultValue": "10"
			}
		},
		"variables": {
			"JobPoolExists": {
				"type": "Boolean",
				"defaultValue": false
			},
			"JobPoolId": {
				"type": "String"
			},
			"ClusterExists": {
				"type": "Boolean",
				"defaultValue": false
			},
			"ClusterId": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Utility"
		},
		"annotations": []
	}
}