DataFactory/pipeline/util-fileserver-delete-file.json
{
	"name": "util-fileserver-delete-file",
	"properties": {
		"activities": [
			{
				"name": "Get File Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "BINARY_FILESERVER",
						"type": "DatasetReference",
						"parameters": {
							"FileShareUserID": {
								"value": "@pipeline().parameters.FileShareUserID",
								"type": "Expression"
							},
							"Folder": {
								"value": "@pipeline().parameters.SourceFolder",
								"type": "Expression"
							},
							"File": {
								"value": "@pipeline().parameters.SourceFile",
								"type": "Expression"
							},
							"FileShareURL": {
								"value": "@pipeline().parameters.FileShareURL",
								"type": "Expression"
							},
							"FileSharePassword": {
								"value": "@pipeline().parameters.FileSharePassword",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "If-DeleteFile",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get File Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get File Metadata').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Delete-File",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "BINARY_FILESERVER",
									"type": "DatasetReference",
									"parameters": {
										"FileShareUserID": {
											"value": "@pipeline().parameters.FileShareUserID",
											"type": "Expression"
										},
										"Folder": {
											"value": "@pipeline().parameters.SourceFolder",
											"type": "Expression"
										},
										"File": {
											"value": "@pipeline().parameters.SourceFile",
											"type": "Expression"
										},
										"FileShareURL": {
											"value": "@pipeline().parameters.FileShareURL",
											"type": "Expression"
										},
										"FileSharePassword": {
											"value": "@pipeline().parameters.FileSharePassword",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SourceFile": {
				"type": "string"
			},
			"SourceFolder": {
				"type": "string"
			},
			"FileShareURL": {
				"type": "string"
			},
			"FileShareUserID": {
				"type": "string"
			},
			"FileSharePassword": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Utility/fileserver"
		},
		"annotations": []
	}
}