adf-swcprod01-daf-preprod-01/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-swcprod01-daf-preprod-01"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"LS-AzureKeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kv-daf-preprod-01.vault.azure.net/"
		},
		"LS_Oracle_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "@linkedService().kvSecret"
		},
		"LS_SQLServer_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "@linkedService().kvSecret"
		},
		"mpe_sablob01_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/769a62b3-7481-44ae-878e-a466593f50ac/resourceGroups/rg-swcprod01-preprod-daf-01/providers/Microsoft.Storage/storageAccounts/sablobdafpreprod01"
		},
		"mpe_sablob01_properties_groupId": {
			"type": "string",
			"defaultValue": "blob"
		},
		"mpe_sablob01_properties_fqdns": {
			"type": "array",
			"defaultValue": [
				"sablobdafpreprod01.blob.core.windows.net"
			]
		},
		"mpe_salake01_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/769a62b3-7481-44ae-878e-a466593f50ac/resourceGroups/rg-swcprod01-preprod-daf-01/providers/Microsoft.Storage/storageAccounts/sadafpreprod01"
		},
		"mpe_salake01_properties_groupId": {
			"type": "string",
			"defaultValue": "dfs"
		},
		"mpe_salake01_properties_fqdns": {
			"type": "array",
			"defaultValue": [
				"sadafpreprod01.dfs.core.windows.net"
			]
		},
		"mpe_sqlserver_01_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/769a62b3-7481-44ae-878e-a466593f50ac/resourceGroups/rg-swcprod01-preprod-daf-01/providers/Microsoft.Sql/servers/sql-swcprod01-daf-preprod-01"
		},
		"mpe_sqlserver_01_properties_groupId": {
			"type": "string",
			"defaultValue": "sqlServer"
		},
		"mpe_sqlserver_01_properties_fqdns": {
			"type": "array",
			"defaultValue": [
				"sql-swcprod01-daf-preprod-01.database.windows.net"
			]
		},
		"LS-AzureSqlDatabase_Ctrldb_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "daf-sql-controldb-connectionstring"
		},
		"LS_AzureBlobStorage_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://sablobdafpreprod01.blob.core.windows.net/"
		},
		"LS_AzureBlobStorage_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "8351bb5c-749d-4ee4-b1c4-71a3971acbe9"
		},
		"LS_AzureBlobStorage_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "3012901b-9b8c-4100-a6bf-a1a2ec010def"
		},
		"LS_AzureDatalake_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://sadafpreprod01.dfs.core.windows.net/"
		},
		"LS_AzureDatalake_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "8351bb5c-749d-4ee4-b1c4-71a3971acbe9"
		},
		"LS_AzureDatalake_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "3012901b-9b8c-4100-a6bf-a1a2ec010def"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "a",
							"value": "a"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"a": {
						"type": "String"
					}
				},
				"folder": {
					"name": "z_Archive"
				},
				"annotations": [],
				"lastPublishTime": "2022-02-13T23:11:30Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS-AzureKeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('LS-AzureKeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IntegrationRuntime-SelfHosted')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS-AzureDatabricks_DefinedCluster')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"kvSecret": {
						"type": "string",
						"defaultValue": "databricks-token"
					},
					"clusterId": {
						"type": "string",
						"defaultValue": "1103-023442-me8nqcm9"
					}
				},
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-2717485385283200.0.azuredatabricks.net",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS-AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": {
							"value": "@linkedService().kvSecret",
							"type": "Expression"
						},
						"secretVersion": ""
					},
					"existingClusterId": "@linkedService().clusterId"
				},
				"connectVia": {
					"referenceName": "IntegrationRuntime-SelfHosted",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/IntegrationRuntime-SelfHosted')]",
				"[concat(variables('factoryId'), '/linkedServices/LS-AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS-AzureDatabricks_JobCluster')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"kvSecret": {
						"type": "String"
					},
					"DataBricksClusterType": {
						"type": "String"
					},
					"DataBricksClusterVersion": {
						"type": "String"
					},
					"DataBricksWorkerNodes": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "$(LS-AzureDatabricks_JobCluster_properties_typeProperties_domain)",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS-AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": {
							"value": "@linkedService().kvSecret",
							"type": "Expression"
						},
						"secretVersion": "Latest version"
					},
					"newClusterNodeType": "@linkedService().DataBricksClusterType",
					"newClusterNumOfWorker": "@linkedService().DataBricksWorkerNodes",
					"newClusterSparkEnvVars": {
						"PYSPARK_PYTHON": "/databricks/python3/bin/python3"
					},
					"newClusterVersion": "@linkedService().DataBricksClusterVersion",
					"newClusterInitScripts": [],
					"clusterOption": "Fixed"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS-AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AzureDatabricks_InstancePool')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"kvSecret": {
						"type": "string",
						"defaultValue": "databricks-token"
					},
					"clusterId": {
						"type": "string",
						"defaultValue": "0121-060302-next337-pool-owblzzx4"
					},
					"DatabricksClusterVersion": {
						"type": "string",
						"defaultValue": "9.1.x-scala2.12"
					}
				},
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-2717485385283200.0.azuredatabricks.net",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS-AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": {
							"value": "@linkedService().kvSecret",
							"type": "Expression"
						}
					},
					"instancePoolId": "@linkedService().clusterId",
					"newClusterNumOfWorker": "1:8",
					"newClusterSparkEnvVars": {
						"PYSPARK_PYTHON": "/databricks/python3/bin/python3"
					},
					"newClusterVersion": "@linkedService().DataBricksClusterVersion",
					"newClusterInitScripts": [],
					"clusterOption": "Fixed"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS-AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Oracle')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"kvSecret": {
						"type": "string",
						"defaultValue": "OracleDB-PAS"
					}
				},
				"annotations": [],
				"type": "Oracle",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS-AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": {
							"value": "[parameters('LS_Oracle_properties_typeProperties_connectionString_secretName')]",
							"type": "Expression"
						}
					}
				},
				"connectVia": {
					"referenceName": "IntegrationRuntime-SelfHosted",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/IntegrationRuntime-SelfHosted')]",
				"[concat(variables('factoryId'), '/linkedServices/LS-AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQLServer')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"kvSecret": {
						"type": "string",
						"defaultValue": "daf-sql-slt-connectionstring"
					}
				},
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS-AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": {
							"value": "[parameters('LS_SQLServer_properties_typeProperties_connectionString_secretName')]",
							"type": "Expression"
						}
					}
				},
				"connectVia": {
					"referenceName": "IntegrationRuntime-SelfHosted",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/IntegrationRuntime-SelfHosted')]",
				"[concat(variables('factoryId'), '/linkedServices/LS-AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/IntegrationRuntime-Azure-ManagedVnet-01')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "Australia East",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/mpe_sablob01')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('mpe_sablob01_properties_privateLinkResourceId')]",
				"groupId": "[parameters('mpe_sablob01_properties_groupId')]",
				"fqdns": "[parameters('mpe_sablob01_properties_fqdns')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/mpe_salake01')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('mpe_salake01_properties_privateLinkResourceId')]",
				"groupId": "[parameters('mpe_salake01_properties_groupId')]",
				"fqdns": "[parameters('mpe_salake01_properties_fqdns')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/mpe_sqlserver_01')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('mpe_sqlserver_01_properties_privateLinkResourceId')]",
				"groupId": "[parameters('mpe_sqlserver_01_properties_groupId')]",
				"fqdns": "[parameters('mpe_sqlserver_01_properties_fqdns')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/04-Blob-A-Pre-Process_JSON')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set-ClusterType",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "ClusterType",
							"value": {
								"value": "@toLower(last(split(pipeline().parameters.TaskDetails.Processor,'|')))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Switch-ClusterType",
						"type": "Switch",
						"dependsOn": [
							{
								"activity": "Set-ClusterType",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"on": {
								"value": "@variables('ClusterType')",
								"type": "Expression"
							},
							"cases": [
								{
									"value": "interactive",
									"activities": [
										{
											"name": "Notebook-preprocess-bods-json Interactive",
											"type": "DatabricksNotebook",
											"dependsOn": [],
											"policy": {
												"timeout": "0.02:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"notebookPath": {
													"value": "@variables('NoteBookURL')",
													"type": "Expression"
												},
												"baseParameters": {
													"file_object": {
														"value": "@pipeline().parameters.SourceFileName",
														"type": "Expression"
													},
													"source_param": {
														"value": "@string(pipeline().parameters.TaskDetails)",
														"type": "Expression"
													},
													"source_container": {
														"value": "@pipeline().parameters.SourceContainer",
														"type": "Expression"
													}
												}
											},
											"linkedServiceName": {
												"referenceName": "LS-AzureDatabricks_DefinedCluster",
												"type": "LinkedServiceReference",
												"parameters": {
													"kvSecret": {
														"value": "@split(pipeline().parameters.TaskDetails.Processor,'|')[0]",
														"type": "Expression"
													},
													"clusterId": {
														"value": "@split(pipeline().parameters.TaskDetails.Processor,'|')[1]",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "job-cluster",
									"activities": [
										{
											"name": "Notebook-preprocess-bods-json JobCluster",
											"type": "DatabricksNotebook",
											"dependsOn": [],
											"policy": {
												"timeout": "0.02:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"notebookPath": {
													"value": "@variables('NoteBookURL')",
													"type": "Expression"
												},
												"baseParameters": {
													"file_object": {
														"value": "@pipeline().parameters.SourceFileName",
														"type": "Expression"
													},
													"source_param": {
														"value": "@string(pipeline().parameters.TaskDetails)",
														"type": "Expression"
													},
													"source_container": {
														"value": "@pipeline().parameters.SourceContainer",
														"type": "Expression"
													}
												}
											},
											"linkedServiceName": {
												"referenceName": "LS-AzureDatabricks_JobCluster",
												"type": "LinkedServiceReference",
												"parameters": {
													"kvSecret": {
														"value": "@split(pipeline().parameters.TaskDetails.Processor,'|')[0]",
														"type": "Expression"
													},
													"DataBricksClusterType": {
														"value": "@split(pipeline().parameters.TaskDetails.Processor,'|')[2]",
														"type": "Expression"
													},
													"DataBricksClusterVersion": {
														"value": "@split(pipeline().parameters.TaskDetails.Processor,'|')[3]",
														"type": "Expression"
													},
													"DataBricksWorkerNodes": {
														"value": "@split(pipeline().parameters.TaskDetails.Processor,'|')[4]",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "instance-pool",
									"activities": [
										{
											"name": "Notebook-preprocess-bods-json InstancePool",
											"type": "DatabricksNotebook",
											"dependsOn": [],
											"policy": {
												"timeout": "0.02:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"notebookPath": {
													"value": "@variables('NoteBookURL')",
													"type": "Expression"
												},
												"baseParameters": {
													"file_object": {
														"value": "@pipeline().parameters.SourceFileName",
														"type": "Expression"
													},
													"source_param": {
														"value": "@string(pipeline().parameters.TaskDetails)",
														"type": "Expression"
													},
													"source_container": {
														"value": "@pipeline().parameters.SourceContainer",
														"type": "Expression"
													}
												}
											},
											"linkedServiceName": {
												"referenceName": "LS_AzureDatabricks_InstancePool",
												"type": "LinkedServiceReference",
												"parameters": {
													"kvSecret": "databricks-token",
													"clusterId": "0121-060302-next337-pool-owblzzx4",
													"DatabricksClusterVersion": "9.1.x-scala2.12"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BatchLogID": {
						"type": "int",
						"defaultValue": 1
					},
					"TaskExecutionLogId": {
						"type": "int",
						"defaultValue": 1
					},
					"TaskDetails": {
						"type": "object"
					},
					"SourceContainer": {
						"type": "string",
						"defaultValue": "test"
					},
					"ProjectRunID": {
						"type": "string"
					},
					"SourceFileName": {
						"type": "string",
						"defaultValue": "0UC_DEVICEH_ATTR_20211025142337.json"
					}
				},
				"variables": {
					"TargetTableRecordCount": {
						"type": "String"
					},
					"ClusterType": {
						"type": "String",
						"defaultValue": "interactive"
					},
					"NoteBookURL": {
						"type": "String",
						"defaultValue": "/build/raw/preprocess-bods-json"
					},
					"DataFileRecordCount": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Pre-Process"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-22T04:55:10Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS-AzureDatabricks_DefinedCluster')]",
				"[concat(variables('factoryId'), '/linkedServices/LS-AzureDatabricks_JobCluster')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureDatabricks_InstancePool')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SRC_Oracle')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Oracle",
					"type": "LinkedServiceReference",
					"parameters": {
						"kvSecret": "OracleDB-PAS"
					}
				},
				"parameters": {
					"kvSecret": {
						"type": "string"
					}
				},
				"folder": {
					"name": "z_Archive"
				},
				"annotations": [],
				"type": "OracleTable",
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Oracle')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SRC_SQLSERVER')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQLServer",
					"type": "LinkedServiceReference",
					"parameters": {
						"kvSecret": {
							"value": "@dataset().kvSecret",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"kvSecret": {
						"type": "string"
					},
					"tableName": {
						"type": "string"
					},
					"schemaName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "SQL Server"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schemaName",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().tableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQLServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS-AzureSqlDatabase_Ctrldb')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "ETL Control database linked service",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS-AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('LS-AzureSqlDatabase_Ctrldb_properties_typeProperties_connectionString_secretName')]"
					}
				},
				"connectVia": {
					"referenceName": "IntegrationRuntime-Azure-ManagedVnet-01",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/IntegrationRuntime-Azure-ManagedVnet-01')]",
				"[concat(variables('factoryId'), '/linkedServices/LS-AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AzureBlobStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('LS_AzureBlobStorage_properties_typeProperties_serviceEndpoint')]",
					"tenant": "[parameters('LS_AzureBlobStorage_properties_typeProperties_tenant')]",
					"servicePrincipalId": "[parameters('LS_AzureBlobStorage_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS-AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "SERVICE-PRINCIPAL-SECRET"
					},
					"accountKind": "StorageV2"
				},
				"connectVia": {
					"referenceName": "IntegrationRuntime-Azure-ManagedVnet-01",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/IntegrationRuntime-Azure-ManagedVnet-01')]",
				"[concat(variables('factoryId'), '/linkedServices/LS-AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AzureDatalake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_AzureDatalake_properties_typeProperties_url')]",
					"tenant": "[parameters('LS_AzureDatalake_properties_typeProperties_tenant')]",
					"servicePrincipalId": "[parameters('LS_AzureDatalake_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalCredentialType": "ServicePrincipalKey",
					"servicePrincipalCredential": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS-AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "SERVICE-PRINCIPAL-SECRET"
					}
				},
				"connectVia": {
					"referenceName": "IntegrationRuntime-Azure-ManagedVnet-01",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/IntegrationRuntime-Azure-ManagedVnet-01')]",
				"[concat(variables('factoryId'), '/linkedServices/LS-AzureKeyVault')]"
			]
		}
	]
}