adf-swcnonprod01-daf-dev-01/linkedTemplates/ArmTemplate_6.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-swcnonprod01-daf-dev-01"
		},
		"BATCH_DAILY_HYDRA_properties_01-Main_parameters_TriggerName": {
			"type": "string",
			"defaultValue": "BATCH_DAILY_HYDRA"
		},
		"BATCH_DAILY_HYDRA_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/e59a4313-66c3-4db6-842d-6154c5e08205/resourceGroups/rg-swcnonprod01-daf-dev-01/providers/Microsoft.Storage/storageAccounts/sadafdev01"
		},
		"BATCH_DAILY_SAPCRM_properties_01-Main_parameters_TriggerName": {
			"type": "string",
			"defaultValue": "BATCH_DAILY_SAPCRM"
		},
		"BATCH_DAILY_SAPCRM_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/e59a4313-66c3-4db6-842d-6154c5e08205/resourceGroups/rg-swcnonprod01-daf-dev-01/providers/Microsoft.Storage/storageAccounts/sadafdev01"
		},
		"BATCH_DAILY_SAPISU_properties_01-Main_parameters_TriggerName": {
			"type": "string",
			"defaultValue": "BATCH_DAILY_SAPISU"
		},
		"BATCH_DAILY_SAPISU_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/e59a4313-66c3-4db6-842d-6154c5e08205/resourceGroups/rg-swcnonprod01-daf-dev-01/providers/Microsoft.Storage/storageAccounts/sadafdev01"
		},
		"DLY1300_properties_01-Main_parameters_TriggerName": {
			"type": "string",
			"defaultValue": "DLY1300"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Raw')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "switch-source-handler",
						"type": "Switch",
						"dependsOn": [
							{
								"activity": "log-status-start",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"on": {
								"value": "@split(pipeline().parameters.task.SourceHandler, '/')[0]",
								"type": "Expression"
							},
							"cases": [
								{
									"value": "sql-load",
									"activities": [
										{
											"name": "execute-sql-load",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "sql-load",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"task": {
														"value": "@pipeline().parameters.task",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "csv-load",
									"activities": [
										{
											"name": "execute-csv-load",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "csv-load",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"TaskDetails": {
														"value": "@pipeline().parameters.task",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "file-binary-load",
									"activities": [
										{
											"name": "execute-file-binary-load",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "file-binary-load",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"task": {
														"value": "@pipeline().parameters.task",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "blob-folder-load",
									"activities": [
										{
											"name": "execute-blob-folder-load",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "blob-folder-load",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"task": {
														"value": "@pipeline().parameters.task",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "qualtrics-load",
									"activities": [
										{
											"name": "execute-qualtrics-load",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "qualtrics-load",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"task": {
														"value": "@pipeline().parameters.task",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "qualtrics-responses-load",
									"activities": [
										{
											"name": "execute-qualtrics-responses-load",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "qualtircs-responses-load",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"task": {
														"value": "@pipeline().parameters.task",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "http-binary-load",
									"activities": [
										{
											"name": "execute-http-binary-load",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "http-binary-load",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"task": {
														"value": "@pipeline().parameters.task",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "oracle-load",
									"activities": [
										{
											"name": "execute-oracle-load",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "oracle-load",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"task": {
														"value": "@pipeline().parameters.task",
														"type": "Expression"
													}
												}
											}
										}
									]
								}
							],
							"defaultActivities": [
								{
									"name": "no-handler-found",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": {
											"value": "'No handler found @{split(pipeline().parameters.task.SourceHandler, '/')[0]}!'",
											"type": "Expression"
										},
										"errorCode": "500"
									}
								}
							]
						}
					},
					{
						"name": "if-raw-handler",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "switch-source-handler",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@not(empty(pipeline().parameters.task.RawHandler))",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "raw-databricks",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "task-status",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": {
											"value": "/MDP-Framework/Zone/@{pipeline().parameters.task.RawHandler}",
											"type": "Expression"
										},
										"baseParameters": {
											"rawPath": {
												"value": "@activity('task-status').output.firstRow.RawPath",
												"type": "Expression"
											},
											"task": {
												"value": "@{pipeline().parameters.task}",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS-AzureDatabricks_DefinedCluster",
										"type": "LinkedServiceReference",
										"parameters": {
											"kvSecret": "databricks-token",
											"clusterId": "0517-025528-mkzhqnk1"
										}
									}
								},
								{
									"name": "task-status",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT * FROM [dbo].[ExtractLoadStatus] WHERE [BatchID] = '@{pipeline().parameters.task.BatchID}' AND [SourceID] = '@{pipeline().parameters.task.SourceID}'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "SQL_ControlDB",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "log-databricks",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "raw-databricks",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "log-message",
											"type": "PipelineReference"
										},
										"waitOnCompletion": false,
										"parameters": {
											"ID": {
												"value": "@pipeline().parameters.task.ID",
												"type": "Expression"
											},
											"ActivityType": "raw-databricks",
											"Message": {
												"value": "@{activity('raw-databricks')}",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "raw-databricks-fail",
									"type": "Fail",
									"dependsOn": [
										{
											"activity": "raw-databricks",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"message": {
											"value": "@activity('raw-databricks').output.Error",
											"type": "Expression"
										},
										"errorCode": "500"
									}
								}
							]
						}
					},
					{
						"name": "log-status-start",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "log-status-update",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {
								"ID": {
									"value": "@pipeline().parameters.task.ID",
									"type": "Expression"
								},
								"Property": "RawStartDTS",
								"Value": {
									"value": "@formatDateTime(convertTimeZone(utcnow(), 'UTC', 'AUS Eastern Standard Time'), 'yyyy-MM-dd HH:mm:ss')",
									"type": "Expression"
								},
								"TableName": "ExtractLoadStatus"
							}
						}
					},
					{
						"name": "log-status-end",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "if-raw-handler",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "log-status-update",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {
								"ID": {
									"value": "@pipeline().parameters.task.ID",
									"type": "Expression"
								},
								"Property": "RawEndDTS",
								"Value": {
									"value": "@formatDateTime(convertTimeZone(utcnow(), 'UTC', 'AUS Eastern Standard Time'), 'yyyy-MM-dd HH:mm:ss')",
									"type": "Expression"
								},
								"TableName": "ExtractLoadStatus"
							}
						}
					},
					{
						"name": "log-status-fail",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "if-raw-handler",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "log-status-update",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {
								"ID": {
									"value": "@pipeline().parameters.task.ID",
									"type": "Expression"
								},
								"Property": "RawStatus",
								"Value": "Fail",
								"TableName": "ExtractLoadStatus"
							}
						}
					},
					{
						"name": "log-status-success",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "if-raw-handler",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "log-status-update",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {
								"ID": {
									"value": "@pipeline().parameters.task.ID",
									"type": "Expression"
								},
								"Property": "RawStatus",
								"Value": "Success",
								"TableName": "ExtractLoadStatus"
							}
						}
					},
					{
						"name": "log-status-end-fail",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "if-raw-handler",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "log-status-update",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {
								"ID": {
									"value": "@pipeline().parameters.task.ID",
									"type": "Expression"
								},
								"Property": "RawEndDTS",
								"Value": {
									"value": "@formatDateTime(convertTimeZone(utcnow(), 'UTC', 'AUS Eastern Standard Time'), 'yyyy-MM-dd HH:mm:ss')",
									"type": "Expression"
								},
								"TableName": "ExtractLoadStatus"
							}
						}
					},
					{
						"name": "log-status-fail-source",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "switch-source-handler",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "log-status-update",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {
								"ID": {
									"value": "@pipeline().parameters.task.ID",
									"type": "Expression"
								},
								"Property": "RawStatus",
								"Value": "Fail",
								"TableName": "ExtractLoadStatus"
							}
						}
					},
					{
						"name": "log-status-end-fail-source",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "switch-source-handler",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "log-status-update",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {
								"ID": {
									"value": "@pipeline().parameters.task.ID",
									"type": "Expression"
								},
								"Property": "RawEndDTS",
								"Value": {
									"value": "@formatDateTime(convertTimeZone(utcnow(), 'UTC', 'AUS Eastern Standard Time'), 'yyyy-MM-dd HH:mm:ss')",
									"type": "Expression"
								},
								"TableName": "ExtractLoadStatus"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"task": {
						"type": "object"
					}
				},
				"folder": {
					"name": "MDP-Framework/Zone"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/recon-target')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "If-Exists",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "LU-GetSourceID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@contains(activity('LU-GetSourceID').output,'firstRow')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Get-SQL",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[CTL].[GetTableDetails]",
											"storedProcedureParameters": {
												"SourceId": {
													"type": "Int64",
													"value": {
														"value": "@activity('LU-GetSourceID').output.firstRow.SourceID",
														"type": "Expression"
													}
												},
												"ValidationType": {
													"type": "String",
													"value": "TARGET"
												}
											},
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "AzureSqlDatabase_Ctrldb",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "Get-Values",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Get-SQL",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@activity('Get-SQL').output.firstrow.SQLStatement",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "SRC_SQLSERVER",
											"type": "DatasetReference",
											"parameters": {
												"kvSecret": "daf-sql-slt-connectionstring",
												"tableName": "erch",
												"schemaName": "dbo"
											}
										},
										"firstRowOnly": true
									}
								},
								{
									"name": "EP-Record-Validation",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Get-Values",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "recon-record-validation",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ProjectRunID": {
												"value": "@pipeline().parameters.ProjectRunID",
												"type": "Expression"
											},
											"ValidationDetails": {
												"value": "@activity('Get-Values').output.firstRow",
												"type": "Expression"
											},
											"SourceID": {
												"value": "@activity('LU-GetSourceID').output.firstRow.SourceID",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "LU-GetSourceID",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('SELECT SourceId FROM CTL.vw_ControlConfiguration WHERE TaskName = ''', pipeline().parameters.SourceName, ''' AND ControlStageID = 1')",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlDatabase_Ctrldb",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ProjectID": {
						"type": "int",
						"defaultValue": 1
					},
					"ProjectRunID": {
						"type": "string",
						"defaultValue": "c1ff545d-e875-4b1b-a579-975f86dbaf21"
					},
					"SourceName": {
						"type": "string",
						"defaultValue": "OneEBS_EBS_0165_LOCATIONS"
					}
				},
				"folder": {
					"name": "Validation"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/04-Oracle-A-Source Load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Check Delta Load",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Full File Name",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Execute-Generate-Schema",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Get-Table-Values",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(pipeline().parameters.TaskDetails.DeltaExtract,true)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Log Success",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "EP-Oracle-Copy-Full",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[CTL].[UpdateTaskLog]",
										"storedProcedureParameters": {
											"BatchLogId": {
												"value": {
													"value": "@pipeline().parameters.BatchLogId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"ErrorMessage": {
												"value": "",
												"type": "String"
											},
											"ExecutionLogId": {
												"value": {
													"value": "@pipeline().parameters.TaskExecutionLogId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Status": {
												"value": "Success",
												"type": "String"
											},
											"TaskId": {
												"value": {
													"value": "@pipeline().parameters.TaskDetails.TaskId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Output": {
												"value": {
													"value": "@activity('Get Full File Name').output.firstrow.StorageFile",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS-AzureSqlDatabase_Ctrldb",
										"type": "LinkedServiceReference",
										"parameters": {}
									}
								},
								{
									"name": "Log Failure",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "EP-Oracle-Copy-Full",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[CTL].[UpdateTaskLog]",
										"storedProcedureParameters": {
											"BatchLogId": {
												"value": {
													"value": "@pipeline().parameters.BatchLogId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"ErrorMessage": {
												"value": "Some error occured",
												"type": "String"
											},
											"ExecutionLogId": {
												"value": {
													"value": "@pipeline().parameters.TaskExecutionLogId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Status": {
												"value": "Failure",
												"type": "String"
											},
											"TaskId": {
												"value": {
													"value": "@pipeline().parameters.TaskDetails.TaskId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Output": {
												"value": null,
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS-AzureSqlDatabase_Ctrldb",
										"type": "LinkedServiceReference",
										"parameters": {}
									}
								},
								{
									"name": "EP-Oracle-Copy-Full",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "04-Oracle-B-Source-Copy",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"BatchLogId": {
												"value": "@pipeline().parameters.BatchLogId",
												"type": "Expression"
											},
											"TaskDetails": {
												"value": "@pipeline().parameters.TaskDetails",
												"type": "Expression"
											},
											"TaskExecutionLogId": {
												"value": "@pipeline().parameters.TaskExecutionLogId",
												"type": "Expression"
											},
											"SourceSQL": {
												"value": "@pipeline().parameters.TaskDetails.Command",
												"type": "Expression"
											},
											"TargetBLOBFolder": {
												"value": "@activity('Get Full File Name').output.firstrow.StorageFolder",
												"type": "Expression"
											},
											"TargetBLOBName": {
												"value": "@activity('Get Full File Name').output.firstrow.StorageFile",
												"type": "Expression"
											},
											"ValidationDetails": {
												"value": "@activity('Get-Table-Values').output.firstRow",
												"type": "Expression"
											},
											"ProjectRunID": {
												"value": "@pipeline().parameters.ProjectRunID",
												"type": "Expression"
											}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Task Log Failure",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "EP-Oracle-Copy-Delta",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[CTL].[UpdateTaskLog]",
										"storedProcedureParameters": {
											"BatchLogId": {
												"value": {
													"value": "@pipeline().parameters.BatchLogId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"ErrorMessage": {
												"value": {
													"value": "An Error Occurred",
													"type": "Expression"
												},
												"type": "String"
											},
											"ExecutionLogId": {
												"value": {
													"value": "@pipeline().parameters.TaskExecutionLogId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Status": {
												"value": "Failure",
												"type": "String"
											},
											"TaskId": {
												"value": {
													"value": "@pipeline().parameters.TaskDetails.TaskId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Output": {
												"value": null,
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS-AzureSqlDatabase_Ctrldb",
										"type": "LinkedServiceReference",
										"parameters": {}
									}
								},
								{
									"name": "Watermark Task Failure",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "SP-Update-Watermark",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[CTL].[UpdateTaskLog]",
										"storedProcedureParameters": {
											"BatchLogId": {
												"value": {
													"value": "@pipeline().parameters.BatchLogId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"ErrorMessage": {
												"value": {
													"value": "An Error Occurred while updating Watermark",
													"type": "Expression"
												},
												"type": "String"
											},
											"ExecutionLogId": {
												"value": {
													"value": "@pipeline().parameters.TaskExecutionLogId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Status": {
												"value": "Failure",
												"type": "String"
											},
											"TaskId": {
												"value": {
													"value": "@pipeline().parameters.TaskDetails.TaskId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Output": {
												"value": null,
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS-AzureSqlDatabase_Ctrldb",
										"type": "LinkedServiceReference",
										"parameters": {}
									}
								},
								{
									"name": "Task Success",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "SP-Update-Watermark",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[CTL].[UpdateTaskLog]",
										"storedProcedureParameters": {
											"BatchLogId": {
												"value": {
													"value": "@pipeline().parameters.BatchLogId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"ErrorMessage": {
												"value": "",
												"type": "String"
											},
											"ExecutionLogId": {
												"value": {
													"value": "@pipeline().parameters.TaskExecutionLogId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Status": {
												"value": "Success",
												"type": "String"
											},
											"TaskId": {
												"value": {
													"value": "@pipeline().parameters.TaskDetails.TaskId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Output": {
												"value": {
													"value": "@activity('Get Full File Name').output.firstrow.StorageFile",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS-AzureSqlDatabase_Ctrldb",
										"type": "LinkedServiceReference",
										"parameters": {}
									}
								},
								{
									"name": "EP-Oracle-Copy-Delta",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "SET-Delta-SQL",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "04-Oracle-B-Source-Copy",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"BatchLogId": {
												"value": "@pipeline().parameters.BatchLogId",
												"type": "Expression"
											},
											"TaskDetails": {
												"value": "@pipeline().parameters.TaskDetails",
												"type": "Expression"
											},
											"TaskExecutionLogId": {
												"value": "@pipeline().parameters.TaskExecutionLogId",
												"type": "Expression"
											},
											"SourceSQL": {
												"value": "@variables('DeltaSQL')",
												"type": "Expression"
											},
											"TargetBLOBFolder": {
												"value": "@activity('Get Full File Name').output.firstrow.StorageFolder",
												"type": "Expression"
											},
											"TargetBLOBName": {
												"value": "@activity('Get Full File Name').output.firstrow.StorageFile",
												"type": "Expression"
											},
											"ValidationDetails": {
												"value": "@activity('Get-Table-Values').output.firstRow",
												"type": "Expression"
											},
											"ProjectRunID": {
												"value": "@pipeline().parameters.ProjectRunID",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "SET-Delta-SQL",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "SET-Watermark-Value",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "DeltaSQL",
										"value": {
											"value": "@replace(pipeline().parameters.TaskDetails.Command, '<<ENDDATE>>', variables('WatermarkValue'))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SP-Update-Watermark",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "EP-Oracle-Copy-Delta",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[CTL].[updateWatermarks]",
										"storedProcedureParameters": {
											"SourceId": {
												"value": {
													"value": "@pipeline().parameters.TaskDetails.SourceId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Watermark": {
												"value": {
													"value": "@variables('WatermarkValue')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS-AzureSqlDatabase_Ctrldb",
										"type": "LinkedServiceReference",
										"parameters": {}
									}
								},
								{
									"name": "SET-Watermark-Value",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "WatermarkValue",
										"value": {
											"value": "@replace(activity('Get-Table-Values').output.firstRow.ReturnValue, '\\', ' ')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Task Log Failure-Watermark Value SET",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "SET-Watermark-Value",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[CTL].[UpdateTaskLog]",
										"storedProcedureParameters": {
											"BatchLogId": {
												"value": {
													"value": "@pipeline().parameters.BatchLogId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"ErrorMessage": {
												"value": {
													"value": "An Error Occurred",
													"type": "Expression"
												},
												"type": "String"
											},
											"ExecutionLogId": {
												"value": {
													"value": "@pipeline().parameters.TaskExecutionLogId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Status": {
												"value": "Failure",
												"type": "String"
											},
											"TaskId": {
												"value": {
													"value": "@pipeline().parameters.TaskDetails.TaskId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Output": {
												"value": null,
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS-AzureSqlDatabase_Ctrldb",
										"type": "LinkedServiceReference",
										"parameters": {}
									}
								}
							]
						}
					},
					{
						"name": "Get Full File Name",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[CTL].[GetStorageFileName]",
								"storedProcedureParameters": {
									"DeltaExtract": {
										"type": "Boolean",
										"value": {
											"value": "@pipeline().parameters.TaskDetails.DeltaExtract",
											"type": "Expression"
										}
									},
									"FileName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.TaskDetails.SourceLocation",
											"type": "Expression"
										}
									},
									"FolderName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.TaskDetails.TargetLocation",
											"type": "Expression"
										}
									},
									"Grain": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.TaskDetails.ObjectGrain",
											"type": "Expression"
										}
									},
									"Compressed": {
										"type": "Boolean",
										"value": {
											"value": "true",
											"type": "Expression"
										}
									},
									"TargetType": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.TaskDetails.TargetType",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlDatabase_Ctrldb",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Execute-Generate-Schema",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "04-Oracle-Generate-Source-Schema",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"TaskDetails": {
									"value": "@pipeline().parameters.TaskDetails",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Task Log Failure Schema",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Execute-Generate-Schema",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[CTL].[UpdateTaskLog]",
							"storedProcedureParameters": {
								"BatchLogId": {
									"value": {
										"value": "@pipeline().parameters.BatchLogId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"ErrorMessage": {
									"value": {
										"value": "An Error Occurred while generating schema",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecutionLogId": {
									"value": {
										"value": "@pipeline().parameters.TaskExecutionLogId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"Status": {
									"value": "Failure",
									"type": "String"
								},
								"TaskId": {
									"value": {
										"value": "@pipeline().parameters.TaskDetails.TaskId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"Output": {
									"value": null,
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS-AzureSqlDatabase_Ctrldb",
							"type": "LinkedServiceReference",
							"parameters": {}
						}
					},
					{
						"name": "Task Log Failure FileName",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Get Full File Name",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[CTL].[UpdateTaskLog]",
							"storedProcedureParameters": {
								"BatchLogId": {
									"value": {
										"value": "@pipeline().parameters.BatchLogId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"ErrorMessage": {
									"value": {
										"value": "An Error Occurred while getting file name",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecutionLogId": {
									"value": {
										"value": "@pipeline().parameters.TaskExecutionLogId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"Status": {
									"value": "Failure",
									"type": "String"
								},
								"TaskId": {
									"value": {
										"value": "@pipeline().parameters.TaskDetails.TaskId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"Output": {
									"value": null,
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS-AzureSqlDatabase_Ctrldb",
							"type": "LinkedServiceReference",
							"parameters": {}
						}
					},
					{
						"name": "Get-Table-SQL",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[CTL].[GetTableDetails]",
								"storedProcedureParameters": {
									"SourceId": {
										"type": "Int64",
										"value": {
											"value": "@pipeline().parameters.TaskDetails.SourceId",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlDatabase_Ctrldb",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Get-Table-Values",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Get-Table-SQL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "@activity('Get-Table-SQL').output.firstrow.SQLStatement",
									"type": "Expression"
								},
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "SRC_Oracle",
								"type": "DatasetReference",
								"parameters": {
									"kvSecret": "@pipeline().parameters.TaskDetails.SourceServer"
								}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Task Log Failure-Watermark Values",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Get-Table-Values",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[CTL].[UpdateTaskLog]",
							"storedProcedureParameters": {
								"BatchLogId": {
									"value": {
										"value": "@pipeline().parameters.BatchLogId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"ErrorMessage": {
									"value": {
										"value": "An Error Occurred",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecutionLogId": {
									"value": {
										"value": "@pipeline().parameters.TaskExecutionLogId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"Status": {
									"value": "Failure",
									"type": "String"
								},
								"TaskId": {
									"value": {
										"value": "@pipeline().parameters.TaskDetails.TaskId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"Output": {
									"value": null,
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS-AzureSqlDatabase_Ctrldb",
							"type": "LinkedServiceReference",
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BatchLogId": {
						"type": "int"
					},
					"TaskDetails": {
						"type": "object"
					},
					"TaskExecutionLogId": {
						"type": "int"
					},
					"ProjectRunID": {
						"type": "string"
					}
				},
				"variables": {
					"OutputFileName": {
						"type": "String"
					},
					"DeltaSQL": {
						"type": "String"
					},
					"WatermarkValue": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Oracle"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/04-SQLServer-A-Source Load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Check Delta Load",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get-Table-Values",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Execute-Generate-Schema",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(pipeline().parameters.TaskDetails.DeltaExtract,true)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "SET-Full-SQL",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "SET-Watermark-Value-Full",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SQLCommand",
										"value": {
											"value": "@concat(pipeline().parameters.TaskDetails.Command, ' WHERE ?AdfDynamicRangePartitionCondition')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SET-Watermark-Value-Full",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "WatermarkValue",
										"value": {
											"value": "@getFutureTime(0, 'Day', 'yyyyMMddhhmmss')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Task Log Failure-Watermark Value SET_copy1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "SET-Watermark-Value-Full",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[CTL].[UpdateTaskLog]",
										"storedProcedureParameters": {
											"BatchLogId": {
												"value": {
													"value": "@pipeline().parameters.BatchLogId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"ErrorMessage": {
												"value": {
													"value": "An Error Occurred",
													"type": "Expression"
												},
												"type": "String"
											},
											"ExecutionLogId": {
												"value": {
													"value": "@pipeline().parameters.TaskExecutionLogId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Status": {
												"value": "Failure",
												"type": "String"
											},
											"TaskId": {
												"value": {
													"value": "@pipeline().parameters.TaskDetails.TaskId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Output": {
												"value": null,
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS-AzureSqlDatabase_Ctrldb",
										"type": "LinkedServiceReference"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "SET-Delta-SQL",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "SET-Watermark-Value-Delta",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SQLCommand",
										"value": {
											"value": "@replace(pipeline().parameters.TaskDetails.Command, '<<ENDDATE>>', replace(replace(replace(variables('WatermarkValue'), '-', ''), ':', ''), ' ', ''))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SET-Watermark-Value-Delta",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "WatermarkValue",
										"value": {
											"value": "@string(activity('Get-Table-Values').output.firstRow.ReturnValue)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Task Log Failure-Watermark Value SET",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "SET-Watermark-Value-Delta",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[CTL].[UpdateTaskLog]",
										"storedProcedureParameters": {
											"BatchLogId": {
												"value": {
													"value": "@pipeline().parameters.BatchLogId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"ErrorMessage": {
												"value": {
													"value": "An Error Occurred",
													"type": "Expression"
												},
												"type": "String"
											},
											"ExecutionLogId": {
												"value": {
													"value": "@pipeline().parameters.TaskExecutionLogId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Status": {
												"value": "Failure",
												"type": "String"
											},
											"TaskId": {
												"value": {
													"value": "@pipeline().parameters.TaskDetails.TaskId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Output": {
												"value": null,
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS-AzureSqlDatabase_Ctrldb",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Execute-Generate-Schema",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "04-SQLServer-Generate-Source-Schema",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"TaskDetails": {
									"value": "@pipeline().parameters.TaskDetails",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Task Log Failure Schema",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Execute-Generate-Schema",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[CTL].[UpdateTaskLog]",
							"storedProcedureParameters": {
								"BatchLogId": {
									"value": {
										"value": "@pipeline().parameters.BatchLogId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"ErrorMessage": {
									"value": {
										"value": "An Error Occurred while generating schema",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecutionLogId": {
									"value": {
										"value": "@pipeline().parameters.TaskExecutionLogId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"Status": {
									"value": "Failure",
									"type": "String"
								},
								"TaskId": {
									"value": {
										"value": "@pipeline().parameters.TaskDetails.TaskId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"Output": {
									"value": null,
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS-AzureSqlDatabase_Ctrldb",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Get-Table-SQL",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[CTL].[GetTableDetails]",
								"storedProcedureParameters": {
									"SourceId": {
										"type": "Int64",
										"value": {
											"value": "@pipeline().parameters.TaskDetails.SourceId",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlDatabase_Ctrldb",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Get-Table-Values",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Get-Table-SQL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "@activity('Get-Table-SQL').output.firstrow.SQLStatement",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SRC_SQLSERVER",
								"type": "DatasetReference",
								"parameters": {
									"kvSecret": {
										"value": "@pipeline().parameters.TaskDetails.SourceServer",
										"type": "Expression"
									},
									"tableName": "ercho",
									"schemaName": "eq1"
								}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Task Log Failure-Watermark Values",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Get-Table-Values",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[CTL].[UpdateTaskLog]",
							"storedProcedureParameters": {
								"BatchLogId": {
									"value": {
										"value": "@pipeline().parameters.BatchLogId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"ErrorMessage": {
									"value": {
										"value": "An Error Occurred",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecutionLogId": {
									"value": {
										"value": "@pipeline().parameters.TaskExecutionLogId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"Status": {
									"value": "Failure",
									"type": "String"
								},
								"TaskId": {
									"value": {
										"value": "@pipeline().parameters.TaskDetails.TaskId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"Output": {
									"value": null,
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS-AzureSqlDatabase_Ctrldb",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Task Log Failure Copy",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "EP-SQLSrc-DeltaTable-Write-Delta",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[CTL].[UpdateTaskLog]",
							"storedProcedureParameters": {
								"BatchLogId": {
									"value": {
										"value": "@pipeline().parameters.BatchLogId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"ErrorMessage": {
									"value": {
										"value": "An Error Occurred",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecutionLogId": {
									"value": {
										"value": "@pipeline().parameters.TaskExecutionLogId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"Status": {
									"value": "Failure",
									"type": "String"
								},
								"TaskId": {
									"value": {
										"value": "@pipeline().parameters.TaskDetails.TaskId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"Output": {
									"value": null,
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS-AzureSqlDatabase_Ctrldb",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Watermark Task Failure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP-Update-Watermark",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[CTL].[UpdateTaskLog]",
							"storedProcedureParameters": {
								"BatchLogId": {
									"value": {
										"value": "@pipeline().parameters.BatchLogId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"ErrorMessage": {
									"value": {
										"value": "An Error Occurred while updating Watermark",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecutionLogId": {
									"value": {
										"value": "@pipeline().parameters.TaskExecutionLogId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"Status": {
									"value": "Failure",
									"type": "String"
								},
								"TaskId": {
									"value": {
										"value": "@pipeline().parameters.TaskDetails.TaskId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"Output": {
									"value": null,
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS-AzureSqlDatabase_Ctrldb",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Task Success",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP-Update-Watermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[CTL].[UpdateTaskLog]",
							"storedProcedureParameters": {
								"BatchLogId": {
									"value": {
										"value": "@pipeline().parameters.BatchLogId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"ErrorMessage": {
									"value": "",
									"type": "String"
								},
								"ExecutionLogId": {
									"value": {
										"value": "@pipeline().parameters.TaskExecutionLogId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"Status": {
									"value": "Success",
									"type": "String"
								},
								"TaskId": {
									"value": {
										"value": "@pipeline().parameters.TaskDetails.TaskId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"Output": {
									"value": {
										"value": "null",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS-AzureSqlDatabase_Ctrldb",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP-Update-Watermark",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "EP-SQLSrc-DeltaTable-Write-Delta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[CTL].[updateWatermarks]",
							"storedProcedureParameters": {
								"SourceId": {
									"value": {
										"value": "@pipeline().parameters.TaskDetails.SourceId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"Watermark": {
									"value": {
										"value": "@variables('WatermarkValue')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS-AzureSqlDatabase_Ctrldb",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "EP-SQLSrc-DeltaTable-Write-Delta",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Check Delta Load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "04-SQLServer-B-Source-Copy",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"SQLCommand": {
									"value": "@variables('SQLCommand')",
									"type": "Expression"
								},
								"BatchExecutionLogID": {
									"value": "@pipeline().parameters.BatchLogId",
									"type": "Expression"
								},
								"TaskExecutionLogID": {
									"value": "@pipeline().parameters.TaskExecutionLogId",
									"type": "Expression"
								},
								"WatermarkColumn": {
									"value": "@variables('WatermarkValue')",
									"type": "Expression"
								},
								"TargetBLOBName": "null",
								"TargetBLOBFolder": "null",
								"TaskDetails": {
									"value": "@pipeline().parameters.TaskDetails",
									"type": "Expression"
								},
								"ValidationDetails": {
									"value": "@activity('Get-Table-Values').output.firstRow",
									"type": "Expression"
								},
								"ProjectRunID": {
									"value": "@pipeline().parameters.ProjectRunID",
									"type": "Expression"
								},
								"SourceFileDateStamp": "1"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BatchLogId": {
						"type": "int"
					},
					"TaskDetails": {
						"type": "object"
					},
					"TaskExecutionLogId": {
						"type": "int"
					},
					"ProjectRunID": {
						"type": "string"
					}
				},
				"variables": {
					"OutputFileName": {
						"type": "String"
					},
					"SQLCommand": {
						"type": "String"
					},
					"WatermarkValue": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SQL Server"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/04-SQLServer-A-Source Load_Bak')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Check Delta Load",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Full File Name",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Get-Table-Values",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Execute-Generate-Schema",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(pipeline().parameters.TaskDetails.DeltaExtract,true)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Log Success",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "EP-SQL-Copy-Full",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[CTL].[UpdateTaskLog]",
										"storedProcedureParameters": {
											"BatchLogId": {
												"value": {
													"value": "@pipeline().parameters.BatchLogId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"ErrorMessage": {
												"value": "",
												"type": "String"
											},
											"ExecutionLogId": {
												"value": {
													"value": "@pipeline().parameters.TaskExecutionLogId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Status": {
												"value": "Success",
												"type": "String"
											},
											"TaskId": {
												"value": {
													"value": "@pipeline().parameters.TaskDetails.TaskId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Output": {
												"value": {
													"value": "@activity('Get Full File Name').output.firstrow.StorageFile",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS-AzureSqlDatabase_Ctrldb",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Log Failure",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "EP-SQL-Copy-Full",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[CTL].[UpdateTaskLog]",
										"storedProcedureParameters": {
											"BatchLogId": {
												"value": {
													"value": "@pipeline().parameters.BatchLogId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"ErrorMessage": {
												"value": "Some error occured",
												"type": "String"
											},
											"ExecutionLogId": {
												"value": {
													"value": "@pipeline().parameters.TaskExecutionLogId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Status": {
												"value": "Failure",
												"type": "String"
											},
											"TaskId": {
												"value": {
													"value": "@pipeline().parameters.TaskDetails.TaskId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Output": {
												"value": null,
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS-AzureSqlDatabase_Ctrldb",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "EP-SQL-Copy-Full",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "04-SQLServer-B-Source-Copy_Bak",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"BatchLogId": {
												"value": "@pipeline().parameters.BatchLogId",
												"type": "Expression"
											},
											"TaskDetails": {
												"value": "@pipeline().parameters.TaskDetails",
												"type": "Expression"
											},
											"TaskExecutionLogId": {
												"value": "@pipeline().parameters.TaskExecutionLogId",
												"type": "Expression"
											},
											"SourceSQL": {
												"value": "@pipeline().parameters.TaskDetails.Command",
												"type": "Expression"
											},
											"TargetBLOBFolder": {
												"value": "@activity('Get Full File Name').output.firstrow.StorageFolder",
												"type": "Expression"
											},
											"TargetBLOBName": {
												"value": "@activity('Get Full File Name').output.firstrow.StorageFile",
												"type": "Expression"
											},
											"ValidationDetails": {
												"value": "@activity('Get-Table-Values').output.firstRow",
												"type": "Expression"
											},
											"ProjectRunID": {
												"value": "@pipeline().parameters.ProjectRunID",
												"type": "Expression"
											}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Task Log Failure Copy",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "EP-SQL-Copy-Delta",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[CTL].[UpdateTaskLog]",
										"storedProcedureParameters": {
											"BatchLogId": {
												"value": {
													"value": "@pipeline().parameters.BatchLogId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"ErrorMessage": {
												"value": {
													"value": "An Error Occurred",
													"type": "Expression"
												},
												"type": "String"
											},
											"ExecutionLogId": {
												"value": {
													"value": "@pipeline().parameters.TaskExecutionLogId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Status": {
												"value": "Failure",
												"type": "String"
											},
											"TaskId": {
												"value": {
													"value": "@pipeline().parameters.TaskDetails.TaskId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Output": {
												"value": null,
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS-AzureSqlDatabase_Ctrldb",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Watermark Task Failure",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "SP-Update-Watermark",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[CTL].[UpdateTaskLog]",
										"storedProcedureParameters": {
											"BatchLogId": {
												"value": {
													"value": "@pipeline().parameters.BatchLogId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"ErrorMessage": {
												"value": {
													"value": "An Error Occurred while updating Watermark",
													"type": "Expression"
												},
												"type": "String"
											},
											"ExecutionLogId": {
												"value": {
													"value": "@pipeline().parameters.TaskExecutionLogId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Status": {
												"value": "Failure",
												"type": "String"
											},
											"TaskId": {
												"value": {
													"value": "@pipeline().parameters.TaskDetails.TaskId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Output": {
												"value": null,
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS-AzureSqlDatabase_Ctrldb",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Task Success",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "SP-Update-Watermark",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[CTL].[UpdateTaskLog]",
										"storedProcedureParameters": {
											"BatchLogId": {
												"value": {
													"value": "@pipeline().parameters.BatchLogId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"ErrorMessage": {
												"value": "",
												"type": "String"
											},
											"ExecutionLogId": {
												"value": {
													"value": "@pipeline().parameters.TaskExecutionLogId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Status": {
												"value": "Success",
												"type": "String"
											},
											"TaskId": {
												"value": {
													"value": "@pipeline().parameters.TaskDetails.TaskId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Output": {
												"value": {
													"value": "@activity('Get Full File Name').output.firstrow.StorageFile",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS-AzureSqlDatabase_Ctrldb",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "EP-SQL-Copy-Delta",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "SET-Delta-SQL",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "04-SQLServer-B-Source-Copy_Bak",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"BatchLogId": {
												"value": "@pipeline().parameters.BatchLogId",
												"type": "Expression"
											},
											"TaskDetails": {
												"value": "@pipeline().parameters.TaskDetails",
												"type": "Expression"
											},
											"TaskExecutionLogId": {
												"value": "@pipeline().parameters.TaskExecutionLogId",
												"type": "Expression"
											},
											"SourceSQL": {
												"value": "@variables('DeltaSQL')",
												"type": "Expression"
											},
											"TargetBLOBFolder": {
												"value": "@activity('Get Full File Name').output.firstrow.StorageFolder",
												"type": "Expression"
											},
											"TargetBLOBName": {
												"value": "@activity('Get Full File Name').output.firstrow.StorageFile",
												"type": "Expression"
											},
											"ValidationDetails": {
												"value": "@activity('Get-Table-Values').output.firstRow",
												"type": "Expression"
											},
											"ProjectRunID": {
												"value": "@pipeline().parameters.ProjectRunID",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "SET-Delta-SQL",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "SET-Watermark-Value",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "DeltaSQL",
										"value": {
											"value": "@replace(pipeline().parameters.TaskDetails.Command, '<<ENDDATE>>', variables('WatermarkValue'))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SP-Update-Watermark",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "EP-SQL-Copy-Delta",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[CTL].[updateWatermarks]",
										"storedProcedureParameters": {
											"SourceId": {
												"value": {
													"value": "@pipeline().parameters.TaskDetails.SourceId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Watermark": {
												"value": {
													"value": "@variables('WatermarkValue')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS-AzureSqlDatabase_Ctrldb",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "SET-Watermark-Value",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "WatermarkValue",
										"value": {
											"value": "@replace(activity('Get-Table-Values').output.firstRow.ReturnValue, '\\', ' ')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Task Log Failure-Watermark Value SET",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "SET-Watermark-Value",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[CTL].[UpdateTaskLog]",
										"storedProcedureParameters": {
											"BatchLogId": {
												"value": {
													"value": "@pipeline().parameters.BatchLogId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"ErrorMessage": {
												"value": {
													"value": "An Error Occurred",
													"type": "Expression"
												},
												"type": "String"
											},
											"ExecutionLogId": {
												"value": {
													"value": "@pipeline().parameters.TaskExecutionLogId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Status": {
												"value": "Failure",
												"type": "String"
											},
											"TaskId": {
												"value": {
													"value": "@pipeline().parameters.TaskDetails.TaskId",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Output": {
												"value": null,
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS-AzureSqlDatabase_Ctrldb",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Get Full File Name",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[CTL].[GetStorageFileName]",
								"storedProcedureParameters": {
									"DeltaExtract": {
										"type": "Boolean",
										"value": {
											"value": "@pipeline().parameters.TaskDetails.DeltaExtract",
											"type": "Expression"
										}
									},
									"FileName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.TaskDetails.SourceLocation",
											"type": "Expression"
										}
									},
									"FolderName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.TaskDetails.TargetLocation",
											"type": "Expression"
										}
									},
									"Grain": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.TaskDetails.ObjectGrain",
											"type": "Expression"
										}
									},
									"Compressed": {
										"type": "Boolean",
										"value": {
											"value": "true",
											"type": "Expression"
										}
									},
									"TargetType": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.TaskDetails.TargetType",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlDatabase_Ctrldb",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Execute-Generate-Schema",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "04-SQLServer-Generate-Source-Schema",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"TaskDetails": {
									"value": "@pipeline().parameters.TaskDetails",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Task Log Failure Schema",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Execute-Generate-Schema",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[CTL].[UpdateTaskLog]",
							"storedProcedureParameters": {
								"BatchLogId": {
									"value": {
										"value": "@pipeline().parameters.BatchLogId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"ErrorMessage": {
									"value": {
										"value": "An Error Occurred while generating schema",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecutionLogId": {
									"value": {
										"value": "@pipeline().parameters.TaskExecutionLogId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"Status": {
									"value": "Failure",
									"type": "String"
								},
								"TaskId": {
									"value": {
										"value": "@pipeline().parameters.TaskDetails.TaskId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"Output": {
									"value": null,
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS-AzureSqlDatabase_Ctrldb",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Task Log Failure FileName",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Get Full File Name",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[CTL].[UpdateTaskLog]",
							"storedProcedureParameters": {
								"BatchLogId": {
									"value": {
										"value": "@pipeline().parameters.BatchLogId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"ErrorMessage": {
									"value": {
										"value": "An Error Occurred while getting file name",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecutionLogId": {
									"value": {
										"value": "@pipeline().parameters.TaskExecutionLogId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"Status": {
									"value": "Failure",
									"type": "String"
								},
								"TaskId": {
									"value": {
										"value": "@pipeline().parameters.TaskDetails.TaskId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"Output": {
									"value": null,
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS-AzureSqlDatabase_Ctrldb",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Get-Table-SQL",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[CTL].[GetTableDetails]",
								"storedProcedureParameters": {
									"SourceId": {
										"type": "Int64",
										"value": {
											"value": "@pipeline().parameters.TaskDetails.SourceId",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlDatabase_Ctrldb",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Get-Table-Values",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Get-Table-SQL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "@activity('Get-Table-SQL').output.firstrow.SQLStatement",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SRC_SQLSERVER",
								"type": "DatasetReference",
								"parameters": {
									"kvSecret": {
										"value": "@pipeline().parameters.TaskDetails.SourceServer",
										"type": "Expression"
									},
									"tableName": "erch",
									"schemaName": "dbo"
								}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Task Log Failure-Watermark Values",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Get-Table-Values",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[CTL].[UpdateTaskLog]",
							"storedProcedureParameters": {
								"BatchLogId": {
									"value": {
										"value": "@pipeline().parameters.BatchLogId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"ErrorMessage": {
									"value": {
										"value": "An Error Occurred",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecutionLogId": {
									"value": {
										"value": "@pipeline().parameters.TaskExecutionLogId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"Status": {
									"value": "Failure",
									"type": "String"
								},
								"TaskId": {
									"value": {
										"value": "@pipeline().parameters.TaskDetails.TaskId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"Output": {
									"value": null,
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS-AzureSqlDatabase_Ctrldb",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BatchLogId": {
						"type": "int"
					},
					"TaskDetails": {
						"type": "object"
					},
					"TaskExecutionLogId": {
						"type": "int"
					},
					"ProjectRunID": {
						"type": "string"
					}
				},
				"variables": {
					"OutputFileName": {
						"type": "String"
					},
					"DeltaSQL": {
						"type": "String"
					},
					"WatermarkValue": {
						"type": "String"
					}
				},
				"folder": {
					"name": "z_Archive"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/System')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get-tasks",
						"description": "",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "set-parent-batch",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[ExtractLoadInit]",
								"storedProcedureParameters": {
									"BatchID": {
										"value": {
											"value": "@variables('ParentBatchID')",
											"type": "Expression"
										}
									},
									"SystemCode": {
										"value": {
											"value": "@pipeline().parameters.SystemCode",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_ControlDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "for-each-raw",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "get-tasks",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get-tasks').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 10,
							"activities": [
								{
									"name": "execute-raw",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Raw",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"task": {
												"value": "@item()",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "set-parent-batch",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "ParentBatchID",
							"value": {
								"value": "@substring(coalesce(pipeline().parameters.ParentBatchID, pipeline().GroupId), 0,8)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "for-each-trusted",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "for-each-raw",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get-tasks').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 10,
							"activities": [
								{
									"name": "execute-trusted",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Trusted",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"task": {
												"value": "@item()",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "end-system",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "for-each-trusted",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "UPDATE U\nSET [EndedDTS] = CONVERT(DATETIME, CONVERT(DATETIMEOFFSET, GETDATE()) AT TIME ZONE 'AUS Eastern Standard Time')\nFROM [dbo].[ExtractLoadStatus] U\nWHERE BatchID = '@{variables('ParentBatchID')}'\nAND SystemCode = '@{pipeline().parameters.SystemCode}'\nSELECT 1 A",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_ControlDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"SystemCode": {
						"type": "string",
						"defaultValue": "System"
					},
					"ParentBatchID": {
						"type": "string"
					}
				},
				"variables": {
					"ParentBatchID": {
						"type": "String"
					}
				},
				"folder": {
					"name": "MDP-Framework"
				},
				"annotations": [],
				"lastPublishTime": "2021-07-08T02:50:54Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Raw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Transform')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get-transform",
						"description": "",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "set-parent-batch",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[TransformInit]",
								"storedProcedureParameters": {
									"BatchID": {
										"value": {
											"value": "@variables('ParentBatchID')",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_ControlDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "set-list",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "get-transform",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "list",
							"value": {
								"value": "@activity('get-transform').output.value",
								"type": "Expression"
							}
						}
					},
					{
						"name": "for-each-group",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "distinct-processors",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@split(string(variables('list')[0].List), ',')",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "if-failed",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(variables('has-failed'), bool(1))",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "filter-grouping",
												"type": "Filter",
												"dependsOn": [
													{
														"activity": "set-current-group",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"items": {
														"value": "@variables('list')",
														"type": "Expression"
													},
													"condition": {
														"value": "@equals(int(item().ParallelGroup), int(variables('current-group')))",
														"type": "Expression"
													}
												}
											},
											{
												"name": "set-current-group",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "current-group",
													"value": {
														"value": "@item()",
														"type": "Expression"
													}
												}
											},
											{
												"name": "execute-curated-parallel",
												"type": "ExecutePipeline",
												"dependsOn": [
													{
														"activity": "filter-grouping",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "Curated-Parallel",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"taskList": {
															"value": "@activity('filter-grouping').output.value",
															"type": "Expression"
														}
													}
												}
											},
											{
												"name": "set-has-failed",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "execute-curated-parallel",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"variableName": "has-failed",
													"value": true
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "if-fail-pipeline",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "for-each-group",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('has-failed'), bool(1))",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "fail-pipeline",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": "Inner pipeline failed",
										"errorCode": "-1"
									}
								}
							]
						}
					},
					{
						"name": "distinct-processors",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "set-list",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get-transform').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "if-synapse-processing",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@and(contains(item().ProcessorType, 'synapse')\n,not(contains(variables('list'), item().ProcessorType)))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "append-list",
												"type": "AppendVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "distinct-list",
													"value": {
														"value": "@item().ProcessorType",
														"type": "Expression"
													}
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "set-parent-batch",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "ParentBatchID",
							"value": {
								"value": "@substring(coalesce(pipeline().parameters.ParentBatchID, pipeline().GroupId), 0,8)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ParentBatchID": {
						"type": "string"
					}
				},
				"variables": {
					"list": {
						"type": "Array"
					},
					"current-group": {
						"type": "String"
					},
					"filtered-list": {
						"type": "Array"
					},
					"has-failed": {
						"type": "Boolean",
						"defaultValue": false
					},
					"distinct-list": {
						"type": "Array"
					},
					"ParentBatchID": {
						"type": "String"
					}
				},
				"folder": {
					"name": "MDP-Framework"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/03-Execute-Project-Tasks')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Load Tasks",
						"description": "",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Set RunDate",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set RunTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[CTL].[getExecutionTasks]",
								"storedProcedureParameters": {
									"ProjectId": {
										"type": "Int64",
										"value": {
											"value": "@pipeline().parameters.ProjectId",
											"type": "Expression"
										}
									},
									"StageId": {
										"type": "Int64",
										"value": {
											"value": "@pipeline().parameters.StageId",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlDatabase_Ctrldb",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Execute Each Task",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Generate Batch Log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Load Tasks').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Generate Task Log",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[CTL].[CreateTaskLog]",
											"storedProcedureParameters": {
												"BatchLogId": {
													"type": "Int64",
													"value": {
														"value": "@activity('Generate Batch Log').output.firstrow.BatchLogId",
														"type": "Expression"
													}
												},
												"TaskId": {
													"type": "Int64",
													"value": {
														"value": "@item().TaskId",
														"type": "Expression"
													}
												}
											},
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "AzureSqlDatabase_Ctrldb",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "Source-to-Raw-Blob      Stage1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Generate Task Log",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@and(equals(item().SourceType,'BLOB Storage (json)'), equals(item().ControlStageId,1))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "EP-Blob-to-Raw",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "04-Blob-A-Source Load_JSON",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"TaskDetails": {
															"value": "@item()",
															"type": "Expression"
														},
														"BatchLogId": {
															"value": "@activity('Generate Batch Log').output.firstrow.BatchLogId",
															"type": "Expression"
														},
														"TaskExecutionLogId": {
															"value": "@activity('Generate Task Log').output.firstrow.TaskLogId",
															"type": "Expression"
														},
														"ProjectRunID": {
															"value": "@pipeline().parameters.ProjectRunID",
															"type": "Expression"
														},
														"RunDate": {
															"value": "@variables('RunDate')",
															"type": "Expression"
														},
														"RunTime": {
															"value": "@variables('RunTime')",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								},
								{
									"name": "Raw-to-Cleansed Stage2",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Generate Task Log",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(item().ControlStageId,2)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "EP-Raw-to-Cleansed",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "05-DL-Load-Raw-to-Cleansed",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"TaskDetails": {
															"value": "@item()",
															"type": "Expression"
														},
														"BatchLogId": {
															"value": "@activity('Generate Batch Log').output.firstrow.BatchLogId",
															"type": "Expression"
														},
														"TaskExecutionLogId": {
															"value": "@activity('Generate Task Log').output.firstrow.TaskLogId",
															"type": "Expression"
														},
														"ProjectRunID": {
															"value": "@pipeline().parameters.ProjectRunID",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								},
								{
									"name": "Cleansed-to-Curated Stage3",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Generate Task Log",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(item().ControlStageId,3)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "EP-Cleansed-to-Curated",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "05-DL-Load-Cleansed-to-Curated",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"TaskDetails": {
															"value": "@item()",
															"type": "Expression"
														},
														"BatchLogId": {
															"value": "@activity('Generate Batch Log').output.firstrow.BatchLogId",
															"type": "Expression"
														},
														"TaskExecutionLogId": {
															"value": "@activity('Generate Task Log').output.firstrow.TaskLogId",
															"type": "Expression"
														},
														"ProjectRunID": {
															"value": "@pipeline().parameters.ProjectRunID",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								},
								{
									"name": "Source-to-Raw-Blob _FlatFile_Copy",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Generate Task Log",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@and(equals(item().SourceType,'Flat File'), equals(item().ControlStageId,1))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "EP-Lake-to-Raw",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "04-LakeLanding-FlatFile-A-Source-Copy",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"TaskDetails": {
															"value": "@item()",
															"type": "Expression"
														},
														"BatchLogId": {
															"value": "@activity('Generate Batch Log').output.firstrow.BatchLogId",
															"type": "Expression"
														},
														"TaskExecutionLogId": {
															"value": "@activity('Generate Task Log').output.firstrow.TaskLogId",
															"type": "Expression"
														},
														"ProjectRunID": {
															"value": "@pipeline().parameters.ProjectRunID",
															"type": "Expression"
														},
														"RunDate": {
															"value": "@variables('RunDate')",
															"type": "Expression"
														},
														"RunTime": {
															"value": "@variables('RunTime')",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								},
								{
									"name": "Source-to-Raw-SQL Stage1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Generate Task Log",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@and(equals(item().SourceType,'SQL Server'), equals(item().ControlStageId,1))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "EP-SqlSource-to-Raw-Load",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "04-SQLServer-A-Source Load",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"BatchLogId": {
															"value": "@activity('Generate Batch Log').output.firstrow.BatchLogId",
															"type": "Expression"
														},
														"TaskDetails": {
															"value": "@item()",
															"type": "Expression"
														},
														"TaskExecutionLogId": {
															"value": "@activity('Generate Task Log').output.firstrow.TaskLogId",
															"type": "Expression"
														},
														"ProjectRunID": {
															"value": "@pipeline().parameters.ProjectRunID",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								},
								{
									"name": "SRC-RAW-Blob-CSV      Stage1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Generate Task Log",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@and(equals(item().SourceType,'BLOB Storage (csv)'), equals(item().ControlStageId,1))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "EP-SRC-RAW-BLOB-CSV",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "04-Blob-A-Source Load_CSV",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"TaskDetails": {
															"value": "@item()",
															"type": "Expression"
														},
														"BatchLogId": {
															"value": "@activity('Generate Batch Log').output.firstrow.BatchLogId",
															"type": "Expression"
														},
														"TaskExecutionLogId": {
															"value": "@activity('Generate Task Log').output.firstrow.TaskLogId",
															"type": "Expression"
														},
														"ProjectRunID": {
															"value": "@pipeline().parameters.ProjectRunID",
															"type": "Expression"
														},
														"RunDate": {
															"value": "@variables('RunDate')",
															"type": "Expression"
														},
														"RunTime": {
															"value": "@variables('RunTime')",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "Batch Log Success",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Execute Each Task",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[CTL].[UpdateBatchLog]",
							"storedProcedureParameters": {
								"BatchLogId": {
									"value": {
										"value": "@activity('Generate Batch Log').output.firstrow.BatchLogId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"Status": {
									"value": "Complete",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS-AzureSqlDatabase_Ctrldb",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Batch Log Failure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Execute Each Task",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[CTL].[UpdateBatchLog]",
							"storedProcedureParameters": {
								"BatchLogId": {
									"value": {
										"value": "@activity('Generate Batch Log').output.firstrow.BatchLogId",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"ErrorMessage": {
									"value": "Check Task Execution Log for errors",
									"type": "String"
								},
								"Status": {
									"value": "Failure",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS-AzureSqlDatabase_Ctrldb",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Generate Batch Log",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Get Load Tasks",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[CTL].[CreateBatchLog]",
								"storedProcedureParameters": {
									"ProjectID": {
										"type": "Int64",
										"value": {
											"value": "@pipeline().parameters.ProjectId",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlDatabase_Ctrldb",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Set RunDate",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "RunDate",
							"value": {
								"value": "@formatDateTime(convertFromUtc(utcnow(),'AUS Eastern Standard Time'),'yyyyMMdd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set RunTime",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "RunTime",
							"value": {
								"value": "@formatDateTime(convertFromUtc(utcnow(),'AUS Eastern Standard Time'),'yyyyMMdd_HH:mm:ss')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"StageId": {
						"type": "int"
					},
					"ProjectId": {
						"type": "int"
					},
					"ProjectRunID": {
						"type": "string"
					}
				},
				"variables": {
					"RunDate": {
						"type": "String"
					},
					"RunTime": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-06-30T02:11:41Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/04-SQLServer-A-Source Load')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Main')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get-extract-load",
						"description": " ",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "set-parent-batch",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "DECLARE @SystemCodes VARCHAR(50) = '@{pipeline().parameters.SystemCodes}';\nWITH [_SystemCodes] AS (\n\tSELECT DISTINCT TRIM(value) [SystemCode] FROM STRING_SPLIT(IIF(LEN(TRIM(@SystemCodes))=0, NULL, @SystemCodes), ',')\n)\nSELECT \nDISTINCT\nLEFT([SourceID], 2) [Order], M.[SystemCode]\nFROM [dbo].[ExtractLoadManifest] M\nJOIN [_SystemCodes] C ON C.[SystemCode] = M.[SystemCode] \nWHERE [Enabled] = 1 \nUNION \nSELECT \nDISTINCT\nLEFT([SourceID], 2) [Order], M.[SystemCode]\nFROM [dbo].[ExtractLoadManifest] M\nWHERE [Enabled] = 1 AND (SELECT COUNT(*) FROM [_SystemCodes]) = 0\nORDER BY 1",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_ControlDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "for-each-source",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "get-extract-load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get-extract-load').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 4,
							"activities": [
								{
									"name": "execute-system",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "System",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"SystemCode": {
												"value": "@item().SystemCode",
												"type": "Expression"
											},
											"ParentBatchID": {
												"value": "@variables('ParentBatchID')",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "set-parent-batch",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "ParentBatchID",
							"value": {
								"value": "@substring(pipeline().GroupId, 0,8)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "if-transform",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "for-each-source",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "set-transform",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@variables('Transform')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "execute-transform",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Transform",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ParentBatchID": {
												"value": "@variables('ParentBatchID')",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "get-transform-default",
						"description": " ",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT COALESCE((SELECT [Value] FROM [dbo].[Config] WHERE [KeyGroup] = 'LoadDefault' AND [Key] = 'Transform'), 0) [TransformDefault]",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_ControlDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "set-transform",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "get-transform-default",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "Transform",
							"value": {
								"value": "@bool(activity('get-transform-default').output.value[0].TransformDefault)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"SystemCodes": {
						"type": "string"
					}
				},
				"variables": {
					"SystemCode": {
						"type": "String"
					},
					"ParentBatchID": {
						"type": "String"
					},
					"Transform": {
						"type": "Boolean",
						"defaultValue": false
					}
				},
				"folder": {
					"name": "MDP-Framework"
				},
				"annotations": [],
				"lastPublishTime": "2021-07-08T02:50:54Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/System')]",
				"[concat(variables('factoryId'), '/pipelines/Transform')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/02-Execute-Project-Stages')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Stages",
						"description": "",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[CTL].[GetExecutionStages]",
								"storedProcedureParameters": {
									"ProjectId": {
										"type": "Int64",
										"value": {
											"value": "@pipeline().parameters.ProjectId",
											"type": "Expression"
										}
									},
									"TriggerName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.TriggerName",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlDatabase_Ctrldb",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Execute Stages",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Stages",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Stages').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Execute Task Load Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "03-Execute-Project-Tasks",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"StageId": {
												"value": "@item().ControlStageId",
												"type": "Expression"
											},
											"ProjectId": {
												"value": "@pipeline().parameters.ProjectId",
												"type": "Expression"
											},
											"ProjectRunID": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ProjectId": {
						"type": "int"
					},
					"TriggerName": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-06-21T01:45:17Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/03-Execute-Project-Tasks')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/01-Main')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This is the main pipeline.",
				"activities": [
					{
						"name": "Get Projects to Execute",
						"description": "",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.08:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[CTL].[getProjects]",
								"storedProcedureParameters": {
									"TriggerName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.TriggerName",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlDatabase_Ctrldb",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Loop Projects",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Projects to Execute",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Projects to Execute').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Execute Projects",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "02-Execute-Project-Stages",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ProjectId": {
												"value": "@item().ProjectId",
												"type": "Expression"
											},
											"TriggerName": {
												"value": "@pipeline().parameters.TriggerName",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"TriggerName": {
						"type": "string",
						"defaultValue": "OnDemand"
					}
				},
				"variables": {
					"ProjectName": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-06-18T07:33:49Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/02-Execute-Project-Stages')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BATCH_DAILY_HYDRA')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Triggers Main pipeline to kick off Hydra daily loads on the blob-creation event of 'trigger_batch_daily_hydra.json' in 'triggers' container. This pipeline invocation runs multiple HYDRA data load Projects.",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "01-Main",
							"type": "PipelineReference"
						},
						"parameters": {
							"TriggerName": "[parameters('BATCH_DAILY_HYDRA_properties_01-Main_parameters_TriggerName')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/triggers/blobs/trigger_batch_daily_hydra.json",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('BATCH_DAILY_HYDRA_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/01-Main')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BATCH_DAILY_SAPCRM')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Triggers Main pipeline to kick off SAP CRM daily loads on the blob-creation event of 'trigger_batch_daily_sapcrm.json' in 'triggers' container. This pipeline invocation runs multiple SAPCRM data load Projects.",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "01-Main",
							"type": "PipelineReference"
						},
						"parameters": {
							"TriggerName": "[parameters('BATCH_DAILY_SAPCRM_properties_01-Main_parameters_TriggerName')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/triggers/blobs/trigger_batch_daily_sapcrm.json",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('BATCH_DAILY_SAPCRM_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/01-Main')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BATCH_DAILY_SAPISU')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Triggers Main pipeline to kick off SAP ISU daily loads on the blob-creation event of 'trigger_batch_daily_sapisu.json' in 'triggers' container. This pipeline invocation runs multiple SAPISU data load Projects.",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "01-Main",
							"type": "PipelineReference"
						},
						"parameters": {
							"TriggerName": "[parameters('BATCH_DAILY_SAPISU_properties_01-Main_parameters_TriggerName')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/triggers/blobs/trigger_batch_daily_sapisu.json",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('BATCH_DAILY_SAPISU_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/01-Main')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DLY1300')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "01-Main",
							"type": "PipelineReference"
						},
						"parameters": {
							"TriggerName": "[parameters('DLY1300_properties_01-Main_parameters_TriggerName')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-12-01T05:10:00",
						"timeZone": "AUS Eastern Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								13
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/01-Main')]"
			]
		}
	]
}